Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

R_TH_LOCAL two globals in RLang.c ##lang
  libr/lang/p/c.c
Labels: RLang

Ubuntu18 is going to be deprecated soon, better move to 20 asap
  .github/workflows/build.yml
  .github/workflows/coverity-scan.yml
Labels: infrastructure

Update to the latest tinycc in the CI ##build
  .github/workflows/tcc.yml
  libr/debug/p/native/xnu/xnu_debug.c
  libr/lang/Makefile
  libr/libs.mk
  mk/tcc.mk
  shlr/qjs/src/quickjs.c
Labels: RDebug, RLang, infrastructure

Use more R_LOG in RDebug
  libr/debug/debug.c
  libr/debug/p/native/xnu/reg/darwin-arm64.h
Labels: RDebug

Make r_str_casecmp() null-proof to fix weird crash on windows ##api
  libr/core/cmd_debug.c
  libr/util/str.c
Labels: RCore, RUtil, command

Implement .extern directive in rasm2, fix other directives ##asm
  libr/asm/acode.c
  libr/asm/aop.c
  libr/asm/asm.c
  libr/include/r_asm.h
  libr/include/r_lang.h
Labels: API

Fix linking issues after the libs reordering
  libr/bin/Makefile
  libr/io/meson.build
  libr/io/p/shm.mk
  libr/lang/Makefile
  libr/lang/meson.build
Labels: RBin, RIO, RLang

Initial implementation of lang.s assembly scripting ##lang
  config-user.mk.acr
  libr/asm/meson.build
  libr/debug/debug.c
  libr/lang/Makefile
  libr/lang/lang.c
  libr/lang/meson.build
  libr/lang/p/asm.c
  libr/lang/p/qjs.c
  libr/lang/p/s.c
  libr/libs.mk
  libr/main/Makefile
  libr/meson.build
  libr/util/deps.mk
  meson.build
  mk/tcc.mk
Labels: RDebug, RLang, RUtil

Add QJS_NOABORT option to avoid aborts ##qjs
  shlr/qjs/Makefile
  shlr/qjs/src/quickjs.c
Labels: none

Remove the need for ios-include.tar.gz ##build
  libr/debug/p/debug_native.c
  libr/debug/p/native/xnu/xnu_debug.c
  libr/include/r_io.h
  libr/include/r_util.h
  libr/io/p/io_debug.c
  libr/io/p/io_mach.c
  sys/ios-cydia.sh
Labels: RDebug, RIO, API, buildsystem

Upgrade CodeQL actions from v1 to v2 ##ci
  .github/workflows/codeql-analysis.yml
Labels: infrastructure

Fix another library dependency issue
  libr/libs.mk
Labels: none

Make r_asm_code_equ_get c++ friendly to fix iaito build
  libr/include/r_asm.h
Labels: API

Use proper type for the XMM register inside profile recieved
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Improve r2slides with title, colors and 2 column mode ##slides:xa
  libr/core/vslides.c
Labels: RCore

Improvements for r2pm when getcwd is null ##r2pm
  libr/core/cconfig.c
  libr/core/vslides.c
  libr/main/r2pm.c
  libr/util/file.c
Labels: RCore, RUtil

Fix lint and slide editor issue
  libr/core/vslides.c
Labels: RCore

Add micromips cpu for the mips.gnu plugin ##arch
  libr/anal/p/anal_mips_gnu.c
  test/db/anal/mips
Labels: RAnal, r2r

Fix null deref segfault in Vd1 ##crash
  libr/core/vmenus.c
Labels: RCore

Fix an UAF in the visual bit editor ##crash
  libr/core/vmenus.c
Labels: RCore

Handle JK in bit editor to move 8 bytes fwd/backward ##visual
  libr/core/vmenus.c
Labels: RCore

Fix test
  test/db/cmd/cmd_search_crypto
Labels: r2r

Fix meson build
  libr/search/meson.build
Labels: RSearch

Fix unused var in macro
  libr/search/tire.c
Labels: RSearch

Add void
  libr/search/tire.c
Labels: RSearch

Implement tire algorithm in ##search (#21245)
  libr/core/cmd_search.c
  libr/include/r_search.h
  libr/search/Makefile
  libr/search/meson.build
  libr/search/search.c
  libr/search/search.h
  libr/search/tire.c
  test/db/cmd/cmd_search_crypto
Labels: RCore, RSearch, API, command, r2r

DWARF5 line header parsing ##bin
  libr/bin/dwarf.c
  libr/include/r_bin_dwarf.h
Labels: RBin, API

Update Makefile
  doc/sandbox/Makefile
Labels: documentation

Update esil.md
  doc/esil.md
Labels: documentation

Update fortunes.fun
  doc/fortunes.fun
Labels: documentation

Update siol.md
  doc/siol.md
Labels: documentation

Update r2-5.5.0.r2s
  doc/r2s/r2-5.5.0.r2s
Labels: documentation

Update abi.md
  doc/abi.md
Labels: documentation

Update fortunes.tips
  doc/fortunes.tips
Labels: documentation

Update r2pm.1
  man/r2pm.1
Labels: none

Update r2agent.1
  man/r2agent.1
Labels: none

fix typo
  test/unit/test_dwarf.c
  test/unit/test_str.c
  test/unit/test_strbuf.c
Labels: r2r

fix typo
  test/README.md
  test/db/cmd/cmd_agc
  test/db/cmd/cmd_fs
  test/db/cmd/cmd_i
  test/db/cmd/cmd_zignature
  test/unit/legacy_unit/egg/simple.r
  test/unit/test_io.c
Labels: r2r

fix typo
  dist/docker/Dockerfile
  sys/make-jobs.inc.sh
Labels: buildsystem

Correct CI/linting issues
  libr/bin/dwarf.c
Labels: RBin

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c
