Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c

README: Add RHEL EPEL package badges
  README.md
Labels: none

README: Add RHEL EPEL package badges
  README.md
Labels: none

Initial skeleton integration with GNU/Poke ##shell
  libr/core/cmd_print.c
  libr/lang/lang.c
  libr/lang/p/poke.c
Labels: RCore, RLang, command

Fix null deref in the poke scripting support
  libr/lang/lang.c
  libr/lang/p/poke.c
Labels: RLang

Move mcore into the arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.termux.cfg
  libr/anal/meson.build
  libr/anal/p/Makefile
  libr/anal/p/mcore.mk
  libr/arch/meson.build
  libr/arch/p/mcore.mk
  libr/arch/p/mcore/mcore.c
  libr/arch/p/mcore/mcore.h
  libr/arch/p/mcore/plugin.c
  libr/asm/meson.build
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/main/r2pm.c
  libr/meson.build
Labels: RAnal, API

Fix assert in ph ##shell
  libr/core/cmd_print.c
Labels: RCore, command

fixes
  libr/arch/p/mcore.mk
  libr/arch/p/mcore/plugin.c
  libr/arch/p/nios2/plugin.c
Labels: none

Move mcore into the arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.termux.cfg
  libr/anal/meson.build
  libr/anal/p/Makefile
  libr/anal/p/mcore.mk
  libr/arch/meson.build
  libr/arch/p/mcore.mk
  libr/arch/p/mcore/mcore.c
  libr/arch/p/mcore/mcore.h
  libr/arch/p/mcore/plugin.c
  libr/arch/p/nios2/plugin.c
  libr/asm/meson.build
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/main/r2pm.c
  libr/meson.build
Labels: RAnal, API

Fix allocation crash in bin.symbols ##bin
  libr/bin/p/bin_symbols.c
Labels: RBin

Add the dwarf fuzzer program ##test
  libr/core/cmd_info.c
  test/fuzz/fuzz_dwarf.c
  test/fuzz/meson.build
Labels: RCore, command, r2r

Fix unnecessary memory exhaustion in the elf parser ##bin
  libr/bin/p/bin_elf.inc
Labels: RBin

Fix null deref assert in the TE parser ##bin
  libr/bin/p/bin_te.c
Labels: RBin

Fix allocation crash in bin.symbols ##bin
  libr/bin/p/bin_symbols.c
Labels: RBin

Fix unnecessary memory exhaustion in the elf parser ##bin
  libr/bin/p/bin_elf.inc
Labels: RBin

Fix null deref assert in the TE parser ##bin
  libr/bin/p/bin_te.c
Labels: RBin

Add the dwarf fuzzer program ##test
  libr/core/cmd_info.c
  test/fuzz/fuzz_dwarf.c
  test/fuzz/meson.build
Labels: RCore, command, r2r

Bring back and improve the Cr command ##disasm
  libr/core/cmd_meta.c
  libr/core/disasm.c
  libr/include/r_anal.h
  test/db/cmd/metadata
Labels: RCore, API, command, r2r

retry
  test/db/cmd/metadata
Labels: r2r

workaround
  test/db/cmd/metadata
Labels: r2r

Bring back and improve the Cr command ##disasm
  libr/core/cmd_meta.c
  libr/core/disasm.c
  libr/include/r_anal.h
  test/db/cmd/metadata
Labels: RCore, API, command, r2r

Upgrade v35arm64 to fix non-c99 compilation ##build
  libr/arch/p/arm/v35arm64/Makefile
  preconfigure.bat
Labels: none

Fix `rasm2 -a mips{.gnu} -b16 -e -c micro -d '4fe5'` ##arch
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  libr/main/rasm2.c
  test/db/anal/mips_micro
Labels: rasm2, RAnal, r2r

Fix `rasm2 -a mips{.gnu} -b16 -e -c micro -d '4fe5'` ##arch
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  libr/main/rasm2.c
  test/db/anal/mips_micro
Labels: rasm2, RAnal, r2r

Bump v35 commits again for more c99 leftovers
  libr/arch/p/arm/v35arm64/Makefile
  preconfigure.bat
Labels: none

Disable stack overflow protection in quickjs for asan builds
  shlr/qjs/src/quickjs.c
Labels: none

Revert "Bump v35 commits again for more c99 leftovers"
  libr/arch/p/arm/v35arm64/Makefile
  preconfigure.bat
Labels: none

Fix the v35-arm64 commit reference
  libr/arch/p/arm/v35arm64/Makefile
  preconfigure.bat
  sys/rebuild.sh
Labels: buildsystem

Remove references to the old v35arm64 dir and fix commit reference
  .gitignore
  Makefile
  libr/Makefile
  libr/anal/Makefile
  libr/anal/p/anal_arm_v35.c
  libr/anal/p/arm_v35.mk
  libr/arch/Makefile
  libr/arch/p/arm/v35/Makefile
  libr/arch/p/arm/v35/deps-arm64.mk
  libr/arch/p/arm/v35/deps-armv7.mk
  libr/arch/p/arm/v35/deps.mk
  preconfigure
  preconfigure.bat
Labels: RAnal

Fix the v35-arm64 commit reference
  libr/arch/p/arm/v35arm64/Makefile
  preconfigure.bat
  sys/rebuild.sh
Labels: buildsystem

Remove references to the old v35arm64 dir and fix commit reference
  .gitignore
  Makefile
  libr/Makefile
  libr/anal/Makefile
  libr/anal/p/anal_arm_v35.c
  libr/anal/p/arm_v35.mk
  libr/arch/Makefile
  libr/arch/p/arm/v35/Makefile
  libr/arch/p/arm/v35/deps-arm64.mk
  libr/arch/p/arm/v35/deps-armv7.mk
  libr/arch/p/arm/v35/deps.mk
  preconfigure
  preconfigure.bat
Labels: RAnal

Disable stack overflow protection in quickjs for asan builds
  shlr/qjs/src/quickjs.c
Labels: none

Update fuzzer build
  test/fuzz/README.md
  test/fuzz/meson.build
Labels: r2r

Update libfuzz build instructions ##test
  test/fuzz/README.md
  test/fuzz/meson.build
Labels: r2r

Improve v850 esil support and fix some related bugs ##arch
  libr/arch/p/v850/plugin.c
  libr/arch/p/v850/v850e0.h
Labels: none

Add esil support for v850 setf instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Simplify esil generation of v850 bcond instructions ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Fix asm.cpu=? when using arch plugins ##arch
  libr/arch/p/v850/plugin.c
  libr/core/cconfig.c
  sys/rebuild.sh
Labels: RCore, buildsystem

at
  test/db/cmd/cmd_eval
Labels: r2r

Fix asm.cpu=? when using arch plugins ##arch
  libr/arch/p/v850/plugin.c
  libr/core/cconfig.c
  sys/rebuild.sh
  test/db/cmd/cmd_eval
Labels: RCore, buildsystem, r2r

Add space before parenthesis to conform the r2 coding style
  libr/arch/p/v850/plugin.c
Labels: none
