Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

Add esil support for v850 setf instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Simplify esil generation of v850 bcond instructions ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Improve v850 esil support and fix some related bugs ##arch
  libr/arch/p/v850/plugin.c
  libr/arch/p/v850/v850e0.h
Labels: none

Add space before parenthesis to conform the r2 coding style
  libr/arch/p/v850/plugin.c
Labels: none

Blindfix for a glitch in the v850 disassembler ##arch
  libr/arch/p/v850/v850dis.c
  test/db/anal/v850
Labels: r2r

Blindfix for a glitch in the v850 disassembler ##arch
  libr/arch/p/v850/v850dis.c
  test/db/anal/v850
Labels: r2r

Blindfix with a hack and a workaround to fix an UAF in Cr ##crash
  libr/core/disasm.c
Labels: RCore

Fix infinite loop and null derefs when calling pd from pd in Cr ##crash
  libr/anal/reflines.c
  libr/core/disasm.c
  test/db/cmd/metadata
Labels: RAnal, RCore, r2r

Blindfix with a hack and a workaround to fix an UAF in Cr ##crash
  libr/core/disasm.c
Labels: RCore

Fix infinite loop and null derefs when calling pd from pd in Cr ##crash
  libr/anal/reflines.c
  libr/core/disasm.c
  test/db/cmd/metadata
Labels: RAnal, RCore, r2r

Optimize RAnal.kind() as its called many times with a large buffer from `pd` ##disasm
  libr/anal/data.c
  libr/anal/fcn.c
Labels: RAnal

Some more likely hints in RCore.cmd from valgrind ##perf
  libr/anal/data.c
  libr/anal/fcn.c
  libr/core/cmd.c
  test/db/anal/arm
  test/db/cmd/cmd_af
  test/db/cmd/cmd_pd
  test/db/formats/elf/symbols
Labels: RAnal, RCore, command, r2r

Optimize RAnal.kind() as its called many times with a large buffer from `pd` ##disasm
  libr/anal/data.c
  libr/anal/fcn.c
Labels: RAnal

Some more likely hints in RCore.cmd from valgrind ##perf
  libr/anal/data.c
  libr/anal/fcn.c
  libr/core/cmd.c
  test/db/anal/arm
  test/db/cmd/cmd_af
  test/db/cmd/cmd_pd
  test/db/formats/elf/symbols
Labels: RAnal, RCore, command, r2r

Do not depend on strcasecmp in libzip, build fail on Centos7 ##build
  shlr/zip/zip/zip_name_locate.c
Labels: none

Add esil support for v850 ldsr instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 stsr instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 stsr instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 ldsr instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 reti instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 reti instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 ei and di instructions ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 ei and di instructions ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Do not depend on strcasecmp in libzip, build fail on Centos7 ##build
  shlr/zip/zip/zip_name_locate.c
Labels: none

Massage the bottleneck that was making r2dec super slow ##perf
  libr/core/cbin.c
  test/db/cmd/cmd_i
  test/db/cmd/tables
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/mz/1byte
Labels: RCore, r2r

Massage the bottleneck that was making r2dec super slow ##perf
  libr/core/cbin.c
  test/db/cmd/cmd_i
  test/db/cmd/tables
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/mz/1byte
Labels: RCore, r2r

Release 5.8.2
  README.md
  configure
  configure.acr
  dist/npm/package.json
  meson.build
Labels: none

meson: install rasign2.1 man page too ##build
  meson.build
Labels: none

Reduce source tarball size in the CI
  .github/workflows/build.yml
  sys/tarball.sh
Labels: buildsystem, infrastructure

Aim to fix the tarball path for the release job
  .github/workflows/build.yml
Labels: infrastructure

After release version bump
  configure
  configure.acr
  dist/npm/package.json
  dist/rpm/radare2.spec
  dist/wapm/r2/wapm.toml
  meson.build
Labels: none

Add esil support for v850 ldb, ldh and ldw instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 ldb, ldh and ldw instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Fixes for the offline tarball generation ##build
  shlr/Makefile
  sys/tarball.sh
Labels: buildsystem

Add esil support for v850 stb, sth and stw instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for v850 stb, sth and stw instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

meson: install rasign2.1 man page too ##build
  meson.build
Labels: none

Clean-up ASN.1 parser and update x509 fuzzing
  libr/include/r_util/r_x509.h
  libr/util/asn1.c
  libr/util/x509.c
  test/fuzz/fuzz_x509_parse.c
Labels: RUtil, API, r2r

Clean-up ASN.1 parser and update x509 fuzzing
  libr/include/r_util/r_x509.h
  libr/util/asn1.c
  libr/util/x509.c
  test/fuzz/fuzz_x509_parse.c
Labels: RUtil, API, r2r

Avoid the use of sprintf()
  libr/anal/arch/gb/gbdis.c
  libr/anal/c/libtcc.c
  libr/anal/c/tccpp.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_riscv_cs.c
  libr/anal/p/anal_x86_cs.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/io/p/io_debug.c
  libr/io/p/io_gprobe.c
  libr/io/p/io_r2k_linux.c
  libr/lang/p/c.c
  libr/main/r2agent.c
  libr/socket/socket.c
  libr/util/print.c
  libr/util/randomart.c
  libr/util/seven.c
  libr/util/utype.c
Labels: RAnal, RCore, RIO, RLang, RSocket, RUtil, visual

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c
