Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

Remove wasm line in meson.build
  libr/meson.build
Labels: none

Refactor wasm into arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  libr/anal/meson.build
  libr/anal/p/anal_wasm.c
  libr/anal/p/wasm.mk
  libr/arch/meson.build
  libr/arch/p/wasm.mk
  libr/arch/p/wasm/plugin.c
  libr/arch/p/wasm/wasm.c
  libr/arch/p/wasm/wasm.h
  libr/bin/p/bin_wasm.c
  libr/include/r_arch.h
  test/db/formats/web_assembly
Labels: RAnal, RBin, API, r2r

Fix meson build maybe?
  libr/meson.build
Labels: none

Switch to wasm plugins to arch in dist's
  dist/plugins-cfg/plugins.android.cfg
  dist/plugins-cfg/plugins.emscripten.cfg
  dist/plugins-cfg/plugins.termux.cfg
  dist/plugins-cfg/plugins.wasi.cfg
Labels: none

Handle lack of iob properly
  libr/arch/p/wasm/plugin.c
Labels: none

Refactor wasm into arch ##arch
  dist/plugins-cfg/plugins.android.cfg
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.emscripten.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.termux.cfg
  dist/plugins-cfg/plugins.wasi.cfg
  libr/anal/meson.build
  libr/anal/p/anal_wasm.c
  libr/anal/p/wasm.mk
  libr/arch/meson.build
  libr/arch/p/wasm.mk
  libr/arch/p/wasm/plugin.c
  libr/arch/p/wasm/wasm.c
  libr/arch/p/wasm/wasm.h
  libr/bin/p/bin_wasm.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
  test/db/formats/web_assembly
Labels: RAnal, RBin, API, r2r

Remove duplicated code adding a string reference during analysis ##anal
  libr/core/canal.c
Labels: RCore

Set refptr for Xtensa l32r opcode for better disassembly output ##anal
  libr/arch/p/xtensa/plugin.c
  test/db/anal/xtensa
Labels: r2r

Improve code quality in some RBin plugins (1/n) ##bin
  libr/bin/p/bin_any.c
  libr/bin/p/bin_art.c
  libr/bin/p/bin_avr.c
  libr/bin/p/bin_bf.c
  libr/bin/p/bin_bflt.c
  libr/bin/p/bin_bios.c
  libr/bin/p/bin_bootimg.c
  libr/bin/p/bin_coff.c
  libr/bin/p/bin_dmp64.c
  libr/bin/p/bin_dol.c
  libr/bin/p/bin_dyldcache.c
  libr/bin/p/bin_fs.c
  libr/bin/p/bin_hunk.c
  libr/bin/p/bin_java.c
  libr/bin/p/bin_ldr_linux.c
  libr/bin/p/bin_mach0.c
  libr/bin/p/bin_mbn.c
  libr/bin/p/bin_mdmp.c
  libr/bin/p/bin_menuet.c
  libr/bin/p/bin_mz.c
  libr/bin/p/bin_nes.c
  libr/bin/p/bin_nin3ds.c
Labels: RBin

Remove duplicated code adding a string reference during analysis ##anal
  libr/core/canal.c
Labels: RCore

fixoes
  libr/bin/dbginfo.c
  libr/core/cbin.c
  libr/core/cmd_info.c
  test/db/cmd/cmd_i
  test/db/formats/hunk
Labels: RBin, RCore, command, r2r

ft
  test/db/anal/snes
  test/db/cmd/cmd_tc
  test/db/formats/dmp/dmp
  test/db/formats/mdmp
Labels: r2r

Improve code quality in some RBin plugins (1/n) ##bin
  libr/bin/dbginfo.c
  libr/bin/p/bin_any.c
  libr/bin/p/bin_art.c
  libr/bin/p/bin_avr.c
  libr/bin/p/bin_bf.c
  libr/bin/p/bin_bflt.c
  libr/bin/p/bin_bios.c
  libr/bin/p/bin_bootimg.c
  libr/bin/p/bin_coff.c
  libr/bin/p/bin_dmp64.c
  libr/bin/p/bin_dol.c
  libr/bin/p/bin_dyldcache.c
  libr/bin/p/bin_fs.c
  libr/bin/p/bin_hunk.c
  libr/bin/p/bin_java.c
  libr/bin/p/bin_ldr_linux.c
  libr/bin/p/bin_mach0.c
  libr/bin/p/bin_mbn.c
  libr/bin/p/bin_mdmp.c
  libr/bin/p/bin_menuet.c
  libr/bin/p/bin_mz.c
  libr/bin/p/bin_nes.c
  libr/bin/p/bin_nin3ds.c
  libr/core/cbin.c
  libr/core/cmd_info.c
  test/db/anal/snes
  test/db/cmd/cmd_i
  test/db/cmd/cmd_tc
  test/db/formats/dmp/dmp
  test/db/formats/hunk
  test/db/formats/mdmp
Labels: RBin, RCore, command, r2r

Honor hex.offset + hex.header ##print
  libr/arch/p/arm/armass64.c
  libr/core/cmd_print.c
  libr/util/print.c
  test/db/cmd/cmd_px
Labels: RCore, RUtil, command, r2r

Refix another null deref after 586af3fc6e1 ##bin
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_mach0.c
Labels: RBin

Refix another null deref after 586af3fc6e1 ##bin
  libr/arch/p/arm/armass.c
  libr/arch/p/arm/armass64.c
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_mach0.c
Labels: RBin

Add XCOFF64 support ##bin
  dist/plugins-cfg/plugins.android.cfg
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.ios-store.cfg
  dist/plugins-cfg/plugins.ios.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.nogpl.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  dist/plugins-cfg/plugins.termux.cfg
  dist/plugins-cfg/plugins.tiny.cfg
  libr/bin/format/coff/coff.h
  libr/bin/format/coff/coff_specs.h
  libr/bin/format/coff/xcoff64.c
  libr/bin/format/coff/xcoff64.h
  libr/bin/meson.build
  libr/bin/p/Makefile
  libr/bin/p/bin_xcoff64.c
  libr/bin/p/xcoff64.mk
  libr/include/r_bin.h
  libr/meson.build
  test/db/formats/xcoff64
Labels: RBin, API, r2r

Add XCOFF64 support ##bin
  dist/plugins-cfg/plugins.android.cfg
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.ios-store.cfg
  dist/plugins-cfg/plugins.ios.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.nogpl.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  dist/plugins-cfg/plugins.termux.cfg
  dist/plugins-cfg/plugins.tiny.cfg
  libr/bin/format/coff/coff.h
  libr/bin/format/coff/coff_specs.h
  libr/bin/format/coff/xcoff64.c
  libr/bin/format/coff/xcoff64.h
  libr/bin/meson.build
  libr/bin/p/Makefile
  libr/bin/p/bin_xcoff64.c
  libr/bin/p/xcoff64.mk
  libr/include/r_bin.h
  libr/meson.build
  test/db/formats/xcoff64
Labels: RBin, API, r2r

Handle 'R' key to refresh the slides from disk ##visual
  libr/core/cmd_help.c
  libr/core/vslides.c
  libr/util/sstext.c
Labels: RCore, RUtil, command

Fix null deref in panels
  libr/core/panels.c
Labels: RCore, panel

Use ut64 for bin bind offsets ##bin
  libr/anal/p/anal_dalvik.c
  libr/arch/p/wasm/plugin.c
  libr/bin/p/bin_dex.c
  libr/bin/p/bin_wasm.c
  libr/include/r_bin.h
Labels: RAnal, RBin, API

Wasm accept br out of if/else ##arch
  libr/arch/p/wasm/plugin.c
Labels: none

Handle wasm control flow errors better ##arch
  libr/arch/p/wasm/plugin.c
Labels: none

Fix lint
  libr/arch/p/wasm/plugin.c
Labels: none

Wasm accept br out of if/else ##arch
  libr/arch/p/wasm/plugin.c
Labels: none

Handle wasm control flow errors better ##arch
  libr/arch/p/wasm/plugin.c
Labels: none

Use const as appropriate for register names
  libr/anal/arch/kvx/kvx-reg.c
Labels: RAnal

Add esil support for satadd, satadd_imm5, satsub and satsubr v850 instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Convert kvx analysis plugin into arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  libr/anal/meson.build
  libr/arch/meson.build
  libr/arch/p/kvx.mk
  libr/arch/p/kvx/Makefile
  libr/arch/p/kvx/anal.sed
  libr/arch/p/kvx/arg.sed
  libr/arch/p/kvx/kv3.opc
  libr/arch/p/kvx/kvx-dis.c
  libr/arch/p/kvx/kvx-reg.c
  libr/arch/p/kvx/kvx-reg.h
  libr/arch/p/kvx/kvx.h
  libr/arch/p/kvx/opc.sed
  libr/arch/p/kvx/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

iCj always renders valid json, fixing a warning in iaito ##json
  libr/core/cbin.c
Labels: RCore

Autocomplete file argument in `wff` command ##shell
  libr/core/core.c
Labels: RCore

Add esil support for satadd, satadd_imm5, satsub and satsubr v850 instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Convert kvx analysis plugin into arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  libr/anal/meson.build
  libr/arch/meson.build
  libr/arch/p/kvx.mk
  libr/arch/p/kvx/Makefile
  libr/arch/p/kvx/anal.sed
  libr/arch/p/kvx/arg.sed
  libr/arch/p/kvx/kv3.opc
  libr/arch/p/kvx/kvx-dis.c
  libr/arch/p/kvx/kvx-reg.c
  libr/arch/p/kvx/kvx-reg.h
  libr/arch/p/kvx/kvx.h
  libr/arch/p/kvx/opc.sed
  libr/arch/p/kvx/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Use const as appropriate for register names
  libr/anal/arch/kvx/kvx-reg.c
Labels: RAnal

Fix null deref in aeg command ##crash
  libr/anal/esil_dfg.c
Labels: RAnal, ESIL

Fix memory leak in RConsCanvas
  libr/cons/canvas.c
Labels: RCons

Fix memory leak in RAsm.parse
  libr/asm/asm.c
Labels: none

Fix another memleak that may be properly fixed with reftype in 5.9
  libr/core/core.c
  libr/include/r_util/r_num.h
Labels: RCore, API

Fix another refleak in core
  libr/core/core.c
Labels: RCore

Fix another refleak in core
  libr/core/core.c
Labels: RCore

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c
