Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

Fix emulation of the arm64 `tst` instruction ##esil
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_arm_v35.c
  test/db/esil/arm_64
Labels: RAnal, r2r

Fix emulation of the arm64 `tst` instruction ##esil
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_arm_v35.c
  test/db/esil/arm_64
Labels: RAnal, r2r

Fix profiling RCore.cmdCall() via ?t"" ##shell
  libr/core/cmd.c
  libr/core/cmd_help.c
Labels: RCore, command

Add experimental r2.cmd0 and r2.call0 for qjs ##js
  libr/lang/p/qjs.c
Labels: RLang

Fix profiling RCore.cmdCall() via ?t"" ##shell
  libr/core/cmd.c
  libr/core/cmd_help.c
Labels: RCore, command

Add experimental r2.cmd0 and r2.call0 for qjs ##js
  libr/lang/p/qjs.c
Labels: RLang

Minor hexdump optimization, use more cmdCall and minor cleanups
  libr/anal/meta.c
  libr/cons/hud.c
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/cmd_print.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/visual.c
  libr/util/hex.c
  libr/util/print.c
  libr/util/str.c
Labels: RAnal, RCons, RCore, RUtil, command, visual

Minor hexdump optimization, use more cmdCall and minor cleanups
  libr/anal/meta.c
  libr/cons/hud.c
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/cmd_print.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/visual.c
  libr/util/hex.c
  libr/util/print.c
  libr/util/str.c
Labels: RAnal, RCons, RCore, RUtil, command, visual

sjadfklsadfjkl
  libr/bin/dwarf.c
  test/db/cmd/metadata
Labels: RBin, r2r

Fix ANSI Escape Sequence Injection vulns via DWARF ##vuln
  libr/anal/meta.c
  libr/bin/dwarf.c
  libr/cons/hud.c
  libr/core/cmd_meta.c
  libr/core/cmd_print.c
  libr/util/str.c
  test/db/cmd/dwarf
Labels: RAnal, RBin, RCons, RCore, RUtil, command, r2r

a coouple
  libr/anal/meta.c
  libr/util/str.c
Labels: RAnal, RUtil

jkasdfjklsdf
  test/db/cmd/metadata
Labels: r2r

Make r_anal_optype_{to,from}_string use the same optypes array ##analysis
  libr/anal/op.c
Labels: RAnal

Balance spacings in braces ##indent
  libr/anal/op.c
Labels: RAnal

Use R_ANAL_OP_DIR* enum value instead of hardcoded values
  libr/anal/op.c
Labels: RAnal

Use R_ARRAY_SIZE in r_anal_op_family_from_string
  libr/anal/op.c
Labels: RAnal

Fix ANSI Escape Sequence Injection vulns via DWARF ##vuln
  libr/anal/meta.c
  libr/bin/dwarf.c
  libr/cons/hud.c
  libr/core/cmd_meta.c
  libr/core/cmd_print.c
  libr/util/str.c
  test/db/cmd/dwarf
Labels: RAnal, RBin, RCons, RCore, RUtil, command, r2r

Add missing licence in header kvx.h
  libr/anal/arch/kvx/kvx.h
Labels: RAnal

Fix script used to generate opc decoding struct for kvx
  libr/anal/arch/kvx/anal.sed
  libr/anal/arch/kvx/opc.sed
Labels: RAnal

Fix typos and improve comment in kvx_op
  libr/anal/p/anal_kvx.c
Labels: RAnal

kvx: update generated opc decoding structures
  libr/anal/arch/kvx/kv3.opc
Labels: RAnal

Fix typos and improve comment in kvx_op
  libr/anal/p/anal_kvx.c
Labels: RAnal

Add missing licence in header kvx.h
  libr/anal/arch/kvx/kvx.h
Labels: RAnal

Fix script used to generate opc decoding struct for kvx
  libr/anal/arch/kvx/anal.sed
  libr/anal/arch/kvx/opc.sed
Labels: RAnal

kvx: update generated opc decoding structures
  libr/anal/arch/kvx/kv3.opc
Labels: RAnal

Use R_ARRAY_SIZE in r_anal_op_family_from_string
  libr/anal/op.c
Labels: RAnal

Make r_anal_optype_{to,from}_string use the same optypes array ##analysis
  libr/anal/op.c
Labels: RAnal

Balance spacings in braces ##indent
  libr/anal/op.c
Labels: RAnal

Use R_ANAL_OP_DIR* enum value instead of hardcoded values
  libr/anal/op.c
Labels: RAnal

Use an authorized API call for the abi job to increase the rate limit ##build
  .github/workflows/build.yml
Labels: infrastructure

Implement RCore.cmdCallAt() + minor improve internal cmd calls ##api
  libr/core/cmd.c
  libr/core/cmd_meta.c
  libr/core/cmd_print.c
  libr/core/patch.c
Labels: RCore, command

Fix UAF in `oc` ##crash
  libr/core/core.c
Labels: RCore

Use an authorized API call for the abi job to increase the rate limit ##build
  .github/workflows/build.yml
Labels: infrastructure

Implement RCore.cmdCallAt() + minor improve internal cmd calls ##api
  libr/core/cmd.c
  libr/core/cmd_meta.c
  libr/core/cmd_print.c
  libr/core/patch.c
Labels: RCore, command

Fix UAF in `oc` ##crash
  libr/core/core.c
Labels: RCore

Replace eprintf by R_LOG_ calls inside GDB module
  shlr/gdb/src/arch.c
  shlr/gdb/src/common.c
  shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/gdbclient/responses.c
  shlr/gdb/src/gdbclient/xml.c
  shlr/gdb/src/gdbserver/core.c
  shlr/gdb/src/libgdbr.c
  shlr/gdb/src/packet.c
  shlr/gdb/src/utils.c
Labels: gdb

Remove build warnings spotted in termux and improve install instructions
  doc/termux.md
  libr/core/cbin.c
  libr/core/cmd_macro.c
  libr/core/cmd_print.c
  libr/core/corelog.c
  libr/core/panels.c
  libr/core/pseudo.c
  sys/install.sh
Labels: RCore, buildsystem, command, documentation, panel

Remove libgdbr_t.server_debug flag and `=g!` command
  libr/core/cmd.c
  libr/core/core.c
  libr/core/rtr.c
  shlr/gdb/include/libgdbr.h
  shlr/gdb/src/common.c
  shlr/gdb/src/gdbserver/core.c
  shlr/gdb/src/packet.c
Labels: RCore, command, gdb

Fix git check before cloning the repo ##r2pm
  libr/main/r2pm.c
Labels: none

Reference doc/abi in DEVELOPERS ##doc
  DEVELOPERS.md
Labels: none

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c
