Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c

Fix assert in asm.pseudo by stop using the deprecated RParse.parse() API
  libr/arch/meson.build
  libr/asm/parse.c
  libr/core/disasm.c
Labels: RCore

Fix assert in asm.pseudo by stop using the deprecated RParse.parse() API
  libr/arch/meson.build
  libr/asm/parse.c
  libr/core/disasm.c
  test/db/anal/evm
Labels: RCore, r2r

Remove valgrind.h from jemalloc.h
  libr/include/heap/r_jemalloc/internal/jemalloc_internal.h
  libr/include/heap/r_jemalloc/internal/msvc_compat/windows_extra.h
  libr/include/heap/r_jemalloc/internal/valgrind.h
Labels: API

Remove another one
  libr/include/heap/r_jemalloc/internal/jemalloc_internal.h
  libr/include/heap/r_jemalloc/internal/private_unnamespace.h
  libr/include/heap/r_jemalloc/internal/quarantine.h
Labels: API

another unused file
  libr/include/heap/r_jemalloc/internal/jemalloc_internal.h
  libr/include/heap/r_jemalloc/internal/private_namespace.h
Labels: API

noquarantine
  libr/include/heap/r_jemalloc/internal/arena.h
  libr/include/heap/r_jemalloc/internal/tsd.h
Labels: API

meh
  libr/include/heap/r_jemalloc/internal/tsd.h
Labels: API

fix
  libr/include/heap/r_jemalloc/internal/jemalloc_internal_decls.h
Labels: API

Remove some more unused headers from jemalloc.h
  libr/include/heap/r_jemalloc/internal/arena.h
  libr/include/heap/r_jemalloc/internal/jemalloc_internal.h
  libr/include/heap/r_jemalloc/internal/jemalloc_internal_decls.h
  libr/include/heap/r_jemalloc/internal/msvc_compat/windows_extra.h
  libr/include/heap/r_jemalloc/internal/private_namespace.h
  libr/include/heap/r_jemalloc/internal/private_unnamespace.h
  libr/include/heap/r_jemalloc/internal/quarantine.h
  libr/include/heap/r_jemalloc/internal/tsd.h
  libr/include/heap/r_jemalloc/internal/valgrind.h
Labels: API

Just define those apis them in the right place
  libr/core/core.c
  libr/include/r_core.h
Labels: RCore, API

Just define those apis them in the right place
  libr/core/core.c
  libr/include/r_core.h
Labels: RCore, API

Truncate invalid strings in disasm ##disasm
  libr/core/disasm.c
Labels: RCore

Truncate invalid strings in disasm ##disasm
  libr/core/disasm.c
Labels: RCore

add space to get_entry_offset_from_shdr
  libr/bin/format/elf/elf.c
Labels: RBin

Minor nits applied
  libr/bin/format/elf/elf.c
Labels: RBin

Minor nits applied to type2str call
  libr/bin/format/elf/elf.c
Labels: RBin

Add const to sections array
  libr/bin/p/bin_elf.inc
Labels: RBin

Add space
  libr/bin/p/bin_elf.inc
Labels: RBin

Using strstr with .rela. on is_wordable_section
  libr/bin/p/bin_elf.inc
Labels: RBin

Minor improvements to elf parse ##bin
  libr/bin/format/elf/elf.c
  libr/bin/p/bin_elf.inc
Labels: RBin

Move or1k into the arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  libr/anal/p/or1k.mk
  libr/arch/meson.build
  libr/arch/p/or1k.mk
  libr/arch/p/or1k/or1k_disas.c
  libr/arch/p/or1k/or1k_disas.h
  libr/arch/p/or1k/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
Labels: RAnal, API

fx
  libr/arch/p/6502/plugin.c
  libr/arch/p/or1k/plugin.c
Labels: none

fb
  libr/anal/meson.build
  libr/meson.build
Labels: RAnal

Move the ws plugin and annotate the plans for 5.9 ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.nogpl.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  libr/anal/meson.build
  libr/anal/p/ws.mk
  libr/arch/p/mcore/plugin.c
  libr/arch/p/ws.mk
  libr/arch/p/ws/plugin.c
  libr/arch/p/ws/wsdis.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Move or1k into the arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  libr/anal/meson.build
  libr/anal/p/or1k.mk
  libr/arch/meson.build
  libr/arch/p/6502/plugin.c
  libr/arch/p/or1k.mk
  libr/arch/p/or1k/or1k_disas.c
  libr/arch/p/or1k/or1k_disas.h
  libr/arch/p/or1k/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

fi
  libr/arch/meson.build
Labels: none

Move the ws plugin and annotate the plans for 5.9 ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.nogpl.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  libr/anal/meson.build
  libr/anal/p/ws.mk
  libr/arch/meson.build
  libr/arch/p/mcore/plugin.c
  libr/arch/p/ws.mk
  libr/arch/p/ws/plugin.c
  libr/arch/p/ws/wsdis.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Initial re-import of the LUA bin parser and disassembler from extras ##arch
  dist/plugins-cfg/plugins.def.cfg
  libr/arch/p/arch_lua.c
  libr/arch/p/lua.mk
  libr/arch/p/lua/Makefile
  libr/arch/p/lua/asm/Makefile
  libr/arch/p/lua/asm/lua53.mk
  libr/arch/p/lua/lua53.c
  libr/arch/p/lua/lua53.h
  libr/arch/p/lua/lua53.mk
  libr/arch/p/lua/lua53_parser.c
  libr/bin/p/bin_lua.c
  libr/bin/p/lua.mk
  libr/include/r_arch.h
  libr/include/r_bin.h
  sys/lint.sh
Labels: RBin, API, buildsystem

Initial support for custom bitmap images ##print
  libr/core/cmd_print.c
  libr/core/vmenus.c
  test/db/cmd/cmd_pbits
Labels: RCore, command, r2r

Initial support for custom bitmap images ##print
  libr/core/cmd_print.c
  libr/core/vmenus.c
  test/db/cmd/cmd_pbits
Labels: RCore, command, r2r

Initial re-import of the LUA bin parser and disassembler from extras ##arch
  dist/plugins-cfg/plugins.def.cfg
  libr/arch/p/arch_lua.c
  libr/arch/p/lua.mk
  libr/arch/p/lua/Makefile
  libr/arch/p/lua/asm/Makefile
  libr/arch/p/lua/asm/lua53.mk
  libr/arch/p/lua/lua53.c
  libr/arch/p/lua/lua53.h
  libr/arch/p/lua/lua53.mk
  libr/arch/p/lua/lua53_parser.c
  libr/bin/p/bin_lua.c
  libr/bin/p/lua.mk
  libr/include/r_arch.h
  libr/include/r_bin.h
  sys/lint.sh
Labels: RBin, API, buildsystem

Fix null deref when no signature is found ##bin
  libr/core/cbin.c
Labels: RCore

Move xtensa into the ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  libr/anal/p/xtensa.mk
  libr/arch/p/amd29k/plugin.c
  libr/arch/p/lua.mk
  libr/arch/p/lua/plugin.c
  libr/arch/p/xtensa.mk
  libr/arch/p/xtensa/gnu/elf32-xtensa.c
  libr/arch/p/xtensa/gnu/xtensa-dis.c
  libr/arch/p/xtensa/gnu/xtensa-isa.c
  libr/arch/p/xtensa/gnu/xtensa-modules.c
  libr/arch/p/xtensa/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

fifi
  libr/anal/meson.build
  libr/arch/meson.build
Labels: RAnal

Move xtensa into the ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  libr/anal/meson.build
  libr/anal/p/xtensa.mk
  libr/arch/meson.build
  libr/arch/p/amd29k/plugin.c
  libr/arch/p/lua.mk
  libr/arch/p/lua/plugin.c
  libr/arch/p/xtensa.mk
  libr/arch/p/xtensa/gnu/elf32-xtensa.c
  libr/arch/p/xtensa/gnu/xtensa-dis.c
  libr/arch/p/xtensa/gnu/xtensa-isa.c
  libr/arch/p/xtensa/gnu/xtensa-modules.c
  libr/arch/p/xtensa/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

remove r_anal_plugin_wasm ref
  libr/include/r_anal.h
Labels: API

Update libr/arch/p/wasm/wasm.c
  libr/arch/p/wasm/wasm.c
Labels: none

remove anal_ws from meson.build
  libr/anal/meson.build
Labels: RAnal

Fix mistakes
  libr/arch/p/wasm/wasm.c
  libr/bin/p/bin_wasm.c
Labels: RBin

Save some unnessisary allocations
  libr/arch/p/wasm/plugin.c
  libr/arch/p/wasm/wasm.c
  libr/arch/p/wasm/wasm.h
Labels: none
