Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c

Update DWARF format test for DWARF5 ##test
  test/db/formats/dwarf
Labels: r2r

Print directory/file table in the DWARF5 line header parsing function ##print ##test
  libr/bin/dwarf.c
  test/db/formats/dwarf
Labels: RBin, r2r

Support micromips on both gnu and capstone plugins ##anal
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  libr/core/cmd.c
  libr/main/rasm2.c
  test/db/anal/mips
  test/db/anal/mips_micro
Labels: rasm2, RAnal, RCore, command, r2r

Move anal.propeller ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  libr/anal/meson.build
  libr/arch/p/propeller.mk
  libr/arch/p/propeller/plugin.c
  libr/arch/p/propeller/propeller_disas.c
  libr/arch/p/propeller/propeller_disas.h
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Fix 2 byte oobread in micromips.gnu
  libr/anal/p/anal_mips_gnu.c
Labels: RAnal

fix
  libr/arch/p/propeller/plugin.c
Labels: none

addm
  libr/arch/meson.build
Labels: none

Fix UB in mips.gnu
  libr/anal/p/anal_mips_gnu.c
Labels: RAnal

Move anal.propeller ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  libr/anal/meson.build
  libr/arch/meson.build
  libr/arch/p/propeller.mk
  libr/arch/p/propeller/plugin.c
  libr/arch/p/propeller/propeller_disas.c
  libr/arch/p/propeller/propeller_disas.h
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Finish the CONFIG_NOABORT patch for quickjs
  shlr/qjs/src/Makefile
  shlr/qjs/src/quickjs.c
Labels: none

Finish the CONFIG_NOABORT patch for quickjs
  shlr/qjs/src/Makefile
  shlr/qjs/src/quickjs.c
Labels: none

Fix unmatching type warnings in the prints of parse_line_header_source_dwarf5
  libr/bin/dwarf.c
Labels: RBin

Add some error handling to the DWARF5 line header parsing function
  libr/bin/dwarf.c
Labels: RBin

gambito
  test/db/anal/mips_micro
Labels: r2r

DWARF5 line header parsing ##bin
  libr/bin/dwarf.c
  libr/include/r_bin_dwarf.h
  test/db/formats/dwarf
Labels: RBin, API, r2r

Mark broken test as broken and move forward
  test/db/anal/mips_micro
Labels: r2r

Support micromips on both gnu and capstone plugins ##arch
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  libr/core/cmd.c
  libr/main/rasm2.c
  test/db/anal/mips
  test/db/anal/mips_micro
Labels: rasm2, RAnal, RCore, command, r2r

Set indirect code refs from load instructions ##anal
  libr/anal/fcn.c
  libr/anal/xrefs.c
  libr/include/r_core.h
Labels: RAnal, API

dd t
  test/db/anal/arm
Labels: r2r

fifixx
  test/db/anal/arm
Labels: r2r

Set indirect code refs from load instructions ##anal
  libr/anal/fcn.c
  libr/anal/xrefs.c
  libr/include/r_core.h
  test/db/anal/arm
Labels: RAnal, API, r2r

Fix (null) regression in visual bit editor's disasm ##visual
  libr/core/vmenus.c
Labels: RCore

Add lint for ==' to improve code readability
  libr/anal/var.c
  libr/arch/p/arm/armass64.c
  libr/asm/asm.c
  libr/asm/filter.c
  libr/bin/bfilter.c
  libr/bin/mangling/objc.c
  libr/cons/output.c
  libr/core/canal.c
  libr/core/cio.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_api.c
  libr/core/cmd_debug.c
  libr/core/cmd_eval.c
  libr/core/cmd_flag.c
  libr/core/cmd_help.c
  libr/core/cmd_magic.c
  libr/core/cmd_meta.c
  libr/core/cmd_search.c
  libr/core/cmd_write.c
  libr/core/core.c
  libr/core/rtr_http.c
  libr/core/rtr_shell.c
  libr/debug/p/native/darwin.c
  libr/egg/egg_lang.c
  libr/egg/p/egg_exec.c
  libr/fs/p/fs_zip.c
  libr/include/r_util/r_str_util.h
  libr/search/strings.c
  libr/util/calc.c
  libr/util/format.c
  libr/util/hex.c
  libr/util/json_parser.c
  libr/util/sandbox.c
  libr/util/str.c
  libr/util/sys.c
  sys/lint.sh
Labels: RAnal, RBin, RCons, RCore, RDebug, REgg, RFS, RSearch, RUtil, API, buildsystem, command

Micromips on capstone seems unreliable
  test/db/anal/mips_micro
Labels: r2r

reverted string
  test/db/cmd/cmd_fs
Labels: r2r

reverted string
  test/db/cmd/cmd_i
Labels: r2r

Add required A0 register into x86 register profile provided by GDB
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Use proper type for the XMM register inside profile recieved ##debug
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Add required A0 register into x86 register profile provided by GDB ##debug
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Fix typos in different locations
  dist/docker/Dockerfile
  doc/abi.md
  doc/esil.md
  doc/fortunes.fun
  doc/fortunes.tips
  doc/r2s/r2-5.5.0.r2s
  doc/sandbox/Makefile
  doc/siol.md
  libr/core/cmd_info.c
  man/r2agent.1
  man/r2pm.1
  sys/make-jobs.inc.sh
  test/README.md
  test/db/cmd/cmd_agc
  test/db/cmd/cmd_i
  test/db/cmd/cmd_zignature
  test/unit/legacy_unit/egg/simple.r
  test/unit/test_dwarf.c
  test/unit/test_io.c
  test/unit/test_str.c
  test/unit/test_strbuf.c
Labels: RCore, buildsystem, command, documentation, r2r

Prevent overriding of register profile set by GDB client
  libr/anal/anal.c
Labels: RAnal

Add A0 register into MIPS register profiles
  shlr/gdb/include/reg/mips.h
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Remove Ubuntu22 from the repology list in the readme
  README.md
Labels: none

Honor the micromips codealign, add missing =SN and cc ##anal
  libr/anal/d/Makefile
  libr/anal/d/cc-mips-16.sdb.txt
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  test/db/anal/mips_micro
Labels: RAnal, r2r

Add A0 register into MIPS register profiles
  shlr/gdb/include/reg/mips.h
  shlr/gdb/src/gdbclient/xml.c
Labels: gdb

Support elf-micromips auto detection##bin
  libr/bin/format/elf/elf.c
  test/db/anal/mips_micro
Labels: RBin, r2r

Honor the micromips codealign, add missing =SN and cc ##anal
  libr/anal/d/Makefile
  libr/anal/d/cc-mips-16.sdb.txt
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  test/db/anal/mips_micro
Labels: RAnal, r2r

Support elf-micromips auto detection##bin
  libr/bin/format/elf/elf.c
  test/db/anal/mips_micro
Labels: RBin, r2r

Apply command line settings before initializing debug plugin
  libr/main/radare2.c
Labels: radare2

Fix #8992 - Apply command line settings before initializing debug plugin ##debug
  libr/main/radare2.c
Labels: radare2
