Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c

Fix git check before cloning the repo ##r2pm
  libr/main/r2pm.c
Labels: none

Remove build warnings spotted in termux and improve install instructions
  doc/termux.md
  libr/core/cbin.c
  libr/core/cmd_macro.c
  libr/core/cmd_print.c
  libr/core/corelog.c
  libr/core/panels.c
  libr/core/pseudo.c
  sys/install.sh
Labels: RCore, buildsystem, command, documentation, panel

Replace eprintf by R_LOG_ calls inside GDB module
  shlr/gdb/src/arch.c
  shlr/gdb/src/common.c
  shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/gdbclient/responses.c
  shlr/gdb/src/gdbclient/xml.c
  shlr/gdb/src/gdbserver/core.c
  shlr/gdb/src/libgdbr.c
  shlr/gdb/src/packet.c
  shlr/gdb/src/utils.c
Labels: gdb

Remove libgdbr_t.server_debug flag and `=g!` command
  libr/core/cmd.c
  libr/core/core.c
  libr/core/rtr.c
  shlr/gdb/include/libgdbr.h
  shlr/gdb/src/common.c
  shlr/gdb/src/gdbserver/core.c
  shlr/gdb/src/packet.c
Labels: RCore, command, gdb

Add R2PM_NEEDS and auto-install system build deps if possible ##r2pm
  libr/main/r2pm.c
Labels: none

Mark libgdbr_t.server_debug field as deprecated
  shlr/gdb/include/libgdbr.h
Labels: gdb

Add R2PM_NEEDS and auto-install system build deps if possible ##r2pm
  libr/main/r2pm.c
Labels: none

Mark libgdbr_t.server_debug field as deprecated
  shlr/gdb/include/libgdbr.h
Labels: gdb

Fix memleak in r2pm
  libr/main/r2pm.c
Labels: none

Move nios2 from anal to arch ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  libr/anal/meson.build
  libr/anal/p/nios2.mk
  libr/arch/meson.build
  libr/arch/p/nios2.mk
  libr/arch/p/nios2/nios2-dis.c
  libr/arch/p/nios2/nios2-opc.c
  libr/arch/p/nios2/plugin.c
Labels: RAnal

translate
  libr/arch/p/nios2/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
Labels: API

mes
  libr/meson.build
Labels: none

Update r2papi-ts 0.0.23
  libr/lang/p/qjs.c
  shlr/qjs/js_r2papi.c
  shlr/qjs/js_r2papi.qjs
  shlr/qjs/package.json
Labels: RLang

Move nios2 away from anal ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  libr/anal/meson.build
  libr/anal/p/nios2.mk
  libr/arch/meson.build
  libr/arch/p/nios2.mk
  libr/arch/p/nios2/nios2-dis.c
  libr/arch/p/nios2/nios2-opc.c
  libr/arch/p/nios2/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Reference abidiff's ci usage in doc/abi.md ##doc
  doc/abi.md
Labels: documentation

Update r2papi-ts 0.0.23
  libr/lang/p/qjs.c
  shlr/qjs/js_r2papi.c
  shlr/qjs/js_r2papi.qjs
  shlr/qjs/package.json
Labels: RLang

Publish updated wapm/wasi packages for r2, rax2 and rasm2
  dist/wapm/r2/wapm.toml
  dist/wapm/rasm2/Makefile
  dist/wapm/rasm2/wapm.toml
  dist/wapm/rax2/Makefile
  dist/wapm/rax2/wapm.toml
Labels: none

Lower the anal.depth to 32 on wasm builds (64KB stack size limit)
  libr/core/cconfig.c
Labels: RCore

Lower the anal.depth to 32 on wasm builds (64KB stack size limit)
  libr/core/cconfig.c
Labels: RCore

Publish updated wapm/wasi packages for r2, rax2 and rasm2
  dist/wapm/r2/wapm.toml
  dist/wapm/rasm2/Makefile
  dist/wapm/rasm2/wapm.toml
  dist/wapm/rax2/Makefile
  dist/wapm/rax2/wapm.toml
Labels: none

Implement tire aglorythm in ##search
  libr/include/r_search.h
  libr/search/Makefile
  libr/search/search.c
  libr/search/search.h
  libr/search/tire.c
Labels: RSearch, API

Use tire search for /ck ##search
  libr/core/cmd_search.c
  test/db/cmd/cmd_search_crypto
Labels: RCore, command, r2r

Fix pA and pA? (/A was moved into /a) ##print
  libr/core/cmd_print.c
Labels: RCore, command

Fix pj_ asserts in pFA
  libr/util/axml.c
Labels: RUtil

Update the SPEC file and build RPM packages in the CI ##ci
  .github/workflows/build.yml
  dist/rpm/Makefile
  dist/rpm/radare2.spec
Labels: infrastructure

Update .github/workflows/build.yml
  .github/workflows/build.yml
Labels: infrastructure

Update the SPEC file and build RPM packages in the CI ##ci (#21247)
  .github/workflows/build.yml
  dist/rpm/Makefile
  dist/rpm/radare2.spec
Labels: infrastructure

Fix read/write function signatures for the windbg plugin
  libr/core/cmd.c
  libr/core/cmd_debug.c
  libr/core/windows_heap.c
  libr/debug/p/debug_windbg.c
Labels: RCore, RDebug, command

Reestructure lib dependencies, add lang.asm plugin ##lang
  libr/asm/Makefile
  libr/lang/Makefile
  libr/lang/lang.c
  libr/lang/p/asm.c
  libr/libs.mk
Labels: RLang

R_TH_LOCAL two globals in RLang.c ##lang
  libr/lang/p/c.c
Labels: RLang

Implement .extern directive in rasm2, fix other directives ##asm
  libr/asm/acode.c
  libr/asm/aop.c
  libr/asm/asm.c
  libr/include/r_asm.h
  libr/include/r_lang.h
Labels: API

Use more R_LOG in RDebug
  libr/debug/debug.c
  libr/debug/p/native/xnu/reg/darwin-arm64.h
Labels: RDebug

Initial implementation of lang.s assembly scripting ##lang
  config-user.mk.acr
  libr/asm/meson.build
  libr/debug/debug.c
  libr/lang/Makefile
  libr/lang/lang.c
  libr/lang/meson.build
  libr/lang/p/asm.c
  libr/lang/p/qjs.c
  libr/lang/p/s.c
  libr/libs.mk
  libr/main/Makefile
  libr/meson.build
  libr/util/deps.mk
  meson.build
  mk/tcc.mk
Labels: RDebug, RLang, RUtil

Add QJS_NOABORT option to avoid aborts ##qjs
  shlr/qjs/Makefile
  shlr/qjs/src/quickjs.c
Labels: none

Update to the latest tinycc in the CI ##build
  .github/workflows/tcc.yml
  libr/debug/p/native/xnu/xnu_debug.c
  libr/lang/Makefile
  libr/libs.mk
  mk/tcc.mk
  shlr/qjs/src/quickjs.c
Labels: RDebug, RLang, infrastructure

Fix linking issues after the libs reordering
  libr/bin/Makefile
  libr/io/meson.build
  libr/io/p/shm.mk
  libr/lang/Makefile
  libr/lang/meson.build
Labels: RBin, RIO, RLang

Ubuntu18 is going to be deprecated soon, better move to 20 asap
  .github/workflows/build.yml
  .github/workflows/coverity-scan.yml
Labels: infrastructure

Remove the need for ios-include.tar.gz ##build
  libr/debug/p/debug_native.c
  libr/debug/p/native/xnu/xnu_debug.c
  libr/include/r_io.h
  libr/include/r_util.h
  libr/io/p/io_debug.c
  libr/io/p/io_mach.c
  sys/ios-cydia.sh
Labels: RDebug, RIO, API, buildsystem

Make r_str_casecmp() null-proof to fix weird crash on windows ##api
  libr/core/cmd_debug.c
  libr/util/str.c
Labels: RCore, RUtil, command

Reestructure lib dependencies, add lang.asm plugin ##lang
  libr/asm/Makefile
  libr/lang/Makefile
  libr/lang/lang.c
  libr/lang/p/asm.c
  libr/libs.mk
Labels: RLang
