Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

Fix #21325 - Do not assert when instantiating empty plugins ##arch
  libr/arch/arch.c
Labels: none

Move the mcs96 plugin ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  dist/plugins-cfg/plugins.termux.cfg
  libr/anal/arch/mcs96/mcs96.h
  libr/anal/meson.build
  libr/anal/p/mcs96.mk
  libr/arch/p/mcs96.mk
  libr/arch/p/mcs96/mcs96.h
  libr/arch/p/mcs96/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Add RNEW0( lint and fix some free ((
  libr/anal/p/anal_bf.c
  libr/anal/p/anal_dalvik.c
  libr/bin/p/bin_coff.c
  libr/bin/p/bin_java.c
  libr/bin/p/bin_xcoff64.c
  libr/bin/p/bin_xtr_dyldcache.c
  libr/core/cmd.c
  libr/core/linux_heap_glibc.c
  sys/lint.sh
Labels: RAnal, RBin, RCore, buildsystem, command

jfisa
  libr/arch/meson.build
  libr/arch/p/mcs96/plugin.c
Labels: none

Move the mcs96 plugin ##arch
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  dist/plugins-cfg/plugins.termux.cfg
  libr/anal/arch/mcs96/mcs96.h
  libr/anal/meson.build
  libr/anal/p/mcs96.mk
  libr/arch/meson.build
  libr/arch/p/mcs96.mk
  libr/arch/p/mcs96/mcs96.h
  libr/arch/p/mcs96/plugin.c
  libr/include/r_anal.h
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Add RNEW0( lint and fix some free ((
  libr/anal/p/anal_bf.c
  libr/anal/p/anal_dalvik.c
  libr/bin/p/bin_coff.c
  libr/bin/p/bin_java.c
  libr/bin/p/bin_xcoff64.c
  libr/bin/p/bin_xtr_dyldcache.c
  libr/core/cmd.c
  libr/core/linux_heap_glibc.c
  sys/lint.sh
Labels: RAnal, RBin, RCore, buildsystem, command

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c
