Repository radareorg/radare2, changes with the labels that .github/labeler.yml gives for each.
All labels: radare2, rabin2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2, RAnal, RAsm-Assembler, RAsm-Disassembler, RBin, RBreakpoint, RConfig, RCons, RCore, RCrypto, RDebug, REgg, RFlag, RFS, RIO, RLang, RMagic, RReg, RSearch, RSocket, RSyscall, RUtil, API, buildsystem, command, documentation, ESIL, gdb, infrastructure, r2r, java, WinDbg, webui, visual, panel

typo
  libr/lang/p/c.c
Labels: RLang

jie
  libr/io/p/io_r2k_linux.c
Labels: RIO

fy
  libr/anal/arch/gb/gbdis.c
Labels: RAnal

jaj
  libr/io/p/io_gprobe.c
Labels: RIO

Avoid the use of sprintf()
  libr/anal/arch/gb/gbdis.c
  libr/anal/c/libtcc.c
  libr/anal/c/tccpp.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_riscv_cs.c
  libr/anal/p/anal_x86_cs.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/io/p/io_debug.c
  libr/io/p/io_gprobe.c
  libr/io/p/io_r2k_linux.c
  libr/lang/p/c.c
  libr/main/r2agent.c
  libr/socket/socket.c
  libr/util/print.c
  libr/util/randomart.c
  libr/util/seven.c
  libr/util/utype.c
Labels: RAnal, RCore, RIO, RLang, RSocket, RUtil, visual

Keep the ABI for x509
  libr/util/x509.c
Labels: RUtil

Keep the ABI for x509
  libr/util/x509.c
Labels: RUtil

fix memleak by adding zip_source_free
  libr/fs/p/fs_zip.c
Labels: RFS

fix a mistake
  libr/fs/p/fs_zip.c
Labels: RFS

Update libr/fs/p/fs_zip.c
  libr/fs/p/fs_zip.c
Labels: RFS

Update libr/fs/p/fs_zip.c
  libr/fs/p/fs_zip.c
Labels: RFS

Fix memleak in fs_zip.c
  libr/fs/p/fs_zip.c
Labels: RFS

Fix heap overflow in the swift parser ##bin
  libr/bin/format/objc/mach0_classes.c
Labels: RBin

Fix heap overflow in the swift parser ##bin
  libr/bin/format/objc/mach0_classes.c
Labels: RBin

Use correct compilation directory for binaries that use DWARF before version 5 ##bin ##test
  libr/bin/dwarf.c
  libr/include/r_bin_dwarf.h
  test/db/cmd/dwarf
  test/db/formats/dwarf
Labels: RBin, API, r2r

Use correct compilation directory for binaries that use DWARF before version 5 ##bin
  libr/bin/dwarf.c
  libr/include/r_bin_dwarf.h
  test/db/cmd/dwarf
  test/db/formats/dwarf
Labels: RBin, API, r2r

Fix memory leak when parsing DW_FORM_line_strp ##bin
  libr/bin/dwarf.c
Labels: RBin

Fix heap buffer overflow found by ASAN
  libr/bin/dwarf.c
Labels: RBin

Rename evm.cs to evm ##arch
  libr/anal/p/anal_evm_cs.c
Labels: RAnal

meow
  test/db/anal/evm
  test/db/cmd/cmd_ao
Labels: r2r

ren
  test/db/asm/evm
Labels: r2r

Rename evm.cs to evm ##arch
  libr/anal/p/anal_evm_cs.c
  test/db/anal/evm
  test/db/asm/evm
  test/db/cmd/cmd_ao
Labels: RAnal, r2r

Fix memory leak when parsing DW_FORM_line_strp ##bin
  libr/bin/dwarf.c
Labels: RBin

Fix heap buffer overflow found by ASAN
  libr/bin/dwarf.c
Labels: RBin

Fix recently introduced oobread in the dwarf parser
  libr/bin/dwarf.c
Labels: RBin

Move anal.evm.cs into arch.evm ##arch
  dist/plugins-cfg/plugins.def.cfg
  libr/anal/meson.build
  libr/anal/p/evm_cs.mk
  libr/arch/Makefile
  libr/arch/arch_session.c
  libr/arch/meson.build
  libr/arch/p/capstone.inc
  libr/arch/p/evm.mk
  libr/arch/p/evm/evm.c
  libr/arch/p/evm/evm.h
  libr/arch/p/evm/plugin.c
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Move anal.evm.cs into arch.evm ##arch
  dist/plugins-cfg/plugins.def.cfg
  libr/anal/meson.build
  libr/anal/p/evm_cs.mk
  libr/arch/Makefile
  libr/arch/arch_session.c
  libr/arch/meson.build
  libr/arch/p/capstone.inc
  libr/arch/p/evm.mk
  libr/arch/p/evm/evm.c
  libr/arch/p/evm/evm.h
  libr/arch/p/evm/plugin.c
  libr/include/r_arch.h
  libr/meson.build
Labels: RAnal, API

Check for linux/can.h at configure time ##build
  configure
  configure.acr
  libr/include/r_userconf.h.acr
  libr/io/p/io_isotp.c
Labels: RIO, API

Check for linux/can.h at configure time ##build
  configure
  configure.acr
  libr/include/r_userconf.h.acr
  libr/io/p/io_isotp.c
Labels: RIO, API

Add esil support for mulh reg, reg v850 instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Add esil support for mulh reg, reg v850 instruction ##arch
  libr/arch/p/v850/plugin.c
Labels: none

Simplify meson.build and fix generation of r_userconf.h
  meson.build
Labels: none

Simplify meson.build and fix generation of r_userconf.h
  meson.build
Labels: none

mkdir(R2PM_BINDIR) before pkg install, so packages dont have to mkdir ##r2pm
  libr/main/r2pm.c
Labels: none

Fix meson build with x86 option arch ##build
  libr/anal/meson.build
  libr/arch/meson.build
  libr/meson.build
Labels: RAnal

Add missed opcode `EVM_OP_BASEFEE`.
  libr/arch/p/evm/evm.h
Labels: none

Add `evm.sdb.txt` with description.
  libr/asm/d/evm.sdb.txt
Labels: none

Add `evm.sdb.txt` with description ##arch
  libr/asm/Makefile
  libr/asm/d/Makefile
  libr/asm/d/evm.sdb.txt
  libr/asm/d/meson.build
  libr/asm/meson.build
Labels: none

Add missed opcode `EVM_OP_BASEFEE`.
  libr/arch/p/evm/evm.h
Labels: none

Use mnemonics, not enums in asm descriptions
  libr/asm/d/evm.sdb.txt
Labels: none

.github/labeler.yml:

radare2:
  - binr/radare2/*
  - libr/main/radare2.c

rabin2:
  - binr/rabin2/*
  - libr/main/rabin2.c

radiff2:
  - binr/radiff2/*
  - libr/main/radiff2.c

rafind2:
  - binr/rafind2/*
  - libr/main/rafind2.c

ragg2:
  - binr/ragg2/*
  - libr/main/ragg2.c

rahash2:
  - binr/rahash2/*
  - libr/main/rahash2.c

rarun2:
  - binr/rarun2/*
  - libr/main/rarun2.c

rasm2:
  - binr/rasm2/*
  - libr/main/rasm2.c

rax2:
  - binr/rax2/*
  - libr/main/rax2.c

RAnal:
  - libr/anal/**/*

RAsm-Assembler:
  - libr/asm/**/*ass*
  - libr/asm/asm_x86_nz.c

RAsm-Disassembler:
  - libr/asm/**/*dis*

RBin:
  - libr/bin/**/*

RBreakpoint:
  - libr/bp/**/*

RConfig:
  - libr/config/**/*

RCons:
  - libr/cons/**/*

RCore:
  - libr/core/**/*

RCrypto:
  - libr/crypto/**/*

RDebug:
  - libr/debug/**/*

REgg:
  - libr/egg/**/*

RFlag:
  - libr/flag/**/*

RFS:
  - libr/fs/**/*

RIO:
  - libr/io/**/*

RLang:
  - libr/lang/**/*

RMagic:
  - libr/magic/**/*

RReg:
  - libr/reg/**/*

RSearch:
  - libr/search/**/*

RSocket:
  - libr/socket/**/*

RSyscall:
  - libr/syscall/**/*

RUtil:
  - libr/util/**/*

API:
  - libr/include/**/*

buildsystem:
  - sys/**/*

command:
  - libr/core/cmd*

documentation:
  - doc/**/*

ESIL:
  - libr/anal/esil*

gdb:
  - shlr/gdb/**/*
  - libr/io/p/io_gdb.c

infrastructure:
  - .appveyor.yml
  - .travis.yml
  - .lgtm.yml
  - .builds/**/*
  - .github/workflows/*

r2r:
  - binr/r2r/*
  - test/**/*

java:
  - shlr/java/**/*

WinDbg:
  - shlr/winkd/**/*
  - libr/io/p/io_winkd.c

webui:
  - shlr/www/**/*

visual:
  - libr/core/visual.c

panel:
  - libr/core/panels.c
