Repository radareorg/radare2, pull requests merged in 2018-08, with the labels that each got.

#10897 Added verbose option for afta to increase visibility on missing entries
  libr/core/anal_tp.c
  libr/core/cconfig.c
Labels: anal, enhancement, types

#10912 Vim-like autocompletion in visual offset prompt
  libr/cons/cons.c
  libr/cons/dietline.c
  libr/cons/pal.c
  libr/cons/rgb.c
  libr/core/core.c
  libr/core/graph.c
  libr/include/r_cons.h
Labels: consoleui

#10999 WIP: Fix core->anal->sdb_types reset after i cmd
  libr/core/cbin.c
Labels: types
