Repository radareorg/radare2, pull requests merged in 2018-09, with the labels that each got.

#11436 cmd_open: Make 'on' use r_io_open_at.
  libr/core/cmd_open.c
Labels: test-required

#11448 C-Sky and MCore support for r2
  libr/anal/meson.build
  libr/anal/p/Makefile
  libr/anal/p/anal_mcore.c
  libr/anal/p/mcore.mk
  libr/asm/arch/mcore/mcore.c
  libr/asm/arch/mcore/mcore.h
  libr/asm/meson.build
  libr/asm/p/Makefile
  libr/asm/p/asm_mcore.c
  libr/asm/p/mcore.mk
  libr/bin/format/elf/elf.c
  libr/include/r_anal.h
  libr/include/r_asm.h
  libr/meson.build
  plugins.def.cfg
Labels: r2con, r2con-hwcomp

#11238 Remove RIOAccessLog
  libr/include/r_io.h
  libr/io/io.c
  libr/io/ioutils.c
Labels: r2con

#11349 Kill the _end section flags and fix flag size
  libr/core/cbin.c
Labels: r2con

#11555 Add undefined behaviour tests in the default sys/asan.sh
  sys/asan.sh
Labels: question

#11513 r_bin_elf_p2v/v2p_new: return UT64_MAX on error + is: show ---------- for paddr if symbol's value is not vaddr
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
  libr/core/cbin.c
Labels: has-test
