Repository radareorg/radare2, pull requests merged in 2019-08, with the labels that each got.

#14793 Propagate noreturn information
  libr/anal/fcn.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  libr/include/r_core.h
Labels: RAnal

#14809 implement agd* based commands
  libr/cons/pal.c
  libr/core/agraph.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_agraph.h
  libr/include/r_cons.h
  libr/include/r_core.h
Labels: RGraph

#13609 Ragg rop chain
  libr/egg/egg.c
  libr/include/r_egg.h
  libr/include/r_util/r_sys.h
  libr/main/ragg2.c
  libr/util/sys.c
  man/ragg2.1
Labels: ROP, WIP

#14826 R2CON2019 Support for amd29k
  libr/anal/meson.build
  libr/anal/p/amd29k.mk
  libr/anal/p/anal_amd29k.c
  libr/asm/arch/amd29k/amd29k.c
  libr/asm/arch/amd29k/amd29k.h
  libr/asm/arch/amd29k/amd29k_internal.h
  libr/asm/meson.build
  libr/asm/p/amd29k.mk
  libr/asm/p/asm_amd29k.c
  libr/bin/format/coff/coff.c
  libr/bin/format/coff/coff.h
  libr/bin/format/coff/coff_specs.h
  libr/bin/p/bin_coff.c
  libr/include/r_anal.h
  libr/include/r_asm.h
  libr/meson.build
  plugins.def.cfg
Labels: R2CON2019, test-required
