Repository radareorg/radare2, pull requests merged in 2019-12, with the labels that each got.

#15536 setting parent pid on pid list on BSD ##debug
  libr/debug/p/debug_native.c
Labels: RDebug

#15535 ONE_STREAM_HACK & scr.onestream: Force expected ONE_STREAM order if necessary
  .appveyor.yml
  libr/asm/meson.build
  libr/bin/meson.build
  libr/cons/cons.c
  libr/core/cconfig.c
  libr/egg/meson.build
  libr/flag/meson.build
  libr/include/r_cons.h
  libr/search/meson.build
  libr/util/meson.build
  shlr/meson.build
Labels: infrastructure

#15539 Coverity Scan GitHub Action
  .github/workflows/coverity-scan.yml
Labels: infrastructure

#15538 Fix sj current position marker after buffer wrapping.
  libr/core/cmd_seek.c
Labels: command

#15540 Add user Pointer to RBNodeFree
  libr/anal/anal.c
  libr/anal/fcn.c
  libr/bin/bobj.c
  libr/include/r_util/r_rbtree.h
  libr/util/rbtree.c
  libr/util/spaces.c
Labels: API

#15537 Add breaking to `ood` in linux to avoid execvp freezing ##debug
  libr/io/p/io_debug.c
Labels: RIO

#15544 Added `dp` processes info support to gdbr ##debug
  libr/debug/p/debug_gdb.c
  shlr/gdb/include/gdbclient/commands.h
  shlr/gdb/include/gdbclient/xml.h
  shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/gdbclient/xml.c
Labels: RDebug

#12801 Rebase Breakpoints for PIEs ##debug
  libr/bp/bp.c
  libr/core/cbin.c
  libr/core/cmd_open.c
  libr/core/core.c
  libr/debug/debug.c
  libr/include/r_bp.h
  libr/include/r_debug.h
Labels: command

#15549 Fix some warnings
  libr/cons/cons.c
  libr/cons/dietline.c
  libr/cons/input.c
  libr/cons/output.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/visual.c
  libr/core/windows_heap.c
  libr/debug/debug.c
  libr/debug/p/native/windows/windows_debug.c
  libr/debug/p/native/windows/windows_debug.h
  libr/debug/p/native/windows/windows_message.c
  libr/debug/p/native/windows/windows_message.h
  libr/include/r_cons.h
  libr/include/r_util/r_sys.h
  libr/io/p/io_w32.c
  libr/io/undo.c
  libr/magic/magic.c
  libr/main/radare2.c
  libr/search/rsa-find.c
  libr/util/lib.c
  libr/util/sys.c
  libr/util/thread.c
  libr/util/w32-sys.c
  shlr/bochs/src/libbochs.c
  shlr/gdb/src/gdbclient/xml.c
  shlr/heap/include/r_windows/windows_heap.h
  shlr/w32dbg_wrap/src/w32dbg_wrap.c
  shlr/windbg/kd.c
Labels: API, RIO, command, radare2, visual

#15559 Fix a bug of the tab
  libr/core/panels.c
Labels: panel

#15560 Added oodf\doof to enable rebasing for remote debug ##debug
  libr/core/cmd_debug.c
  libr/core/cmd_open.c
  libr/include/r_core.h
Labels: IMPORTANT, command

#15541 Add RIntervalTree ##util
  libr/include/r_util.h
  libr/include/r_util/r_intervaltree.h
  libr/include/r_util/r_rbtree.h
  libr/meson.build
  libr/util/Makefile
  libr/util/intervaltree.c
  libr/util/meson.build
  test/unit/minunit.h
  test/unit/test_intervaltree.c
  test/unit/test_str.c
Labels: API

#15557 Removed deprecation messages
  libr/core/cmd_anal.c
Labels: command

#15554 Remove broken Threading Code from main for #12996
  libr/core/core.c
  libr/main/radare2.c
Labels: radare2

#15558 Fix crash on oom when command line is too long
  libr/core/cmd.c
Labels: command

#15562 Fix N and V results in 6502 BIT ESIL (Fix #15547)
  libr/anal/p/anal_6502.c
  test/new/db/esil/6502
Labels: RAnal

#15613 Rename or1k `insns` global
  libr/anal/p/anal_or1k.c
  libr/asm/arch/or1k/or1k_disas.c
  libr/asm/arch/or1k/or1k_disas.h
  libr/asm/p/asm_or1k.c
Labels: RAnal

#15612 Fix first r_anal_op call after asm.bits change
  libr/anal/op.c
  libr/core/cmd_anal.c
  test/new/db/anal/arm
  test/new/db/formats/elf/helloworld-gcc-elf
Labels: RAnal, command

#15619 Fix 'oo' rebasing when leaving debug and add 'doc' to exit debug
  libr/core/cmd_debug.c
  libr/core/cmd_open.c
Labels: command

#15621 Add 64-bit iOS SEP xtr plugin ##bin
  libr/bin/meson.build
  libr/bin/p/Makefile
  libr/bin/p/bin_xtr_sep64.c
  libr/bin/p/xtr_sep64.mk
  libr/include/r_bin.h
  libr/meson.build
  plugins.android.cfg
  plugins.bin.cfg
  plugins.def.cfg
  plugins.emscripten.cfg
  plugins.ios-store.cfg
  plugins.ios.cfg
  plugins.nogpl.cfg
  plugins.static.cfg
  plugins.static.nogpl.cfg
  plugins.tiny.cfg
Labels: RBin

#15626 Some Coverity defect fixes
  binr/radare2/radare2.c
  libr/anal/cc.c
  libr/anal/esil_dfg.c
  libr/anal/fcn.c
  libr/asm/asm.c
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_dex.c
  libr/bin/p/bin_elf.inc
  libr/bin/p/bin_mdmp.c
  libr/bin/p/bin_pe64.c
  libr/config/hold.c
  libr/cons/dietline.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/core/cmd_print.c
  libr/core/cmd_type.c
  libr/core/core.c
  libr/core/linux_heap_glibc.c
  libr/core/panels.c
  libr/core/project.c
  libr/core/yank.c
  libr/debug/p/debug_windbg.c
  libr/egg/emit_x86.c
  libr/io/p/io_winedbg.c
  libr/util/idpool.c
  libr/util/table.c
  shlr/gdb/src/gdbclient/core.c
  shlr/tcc/tccgen.c
Labels: ESIL, RBin, RDebug, RIO, command, panel, radare2

#15630 Fix heap-buffer-overflow bug in get_src_regname()
  libr/core/anal_tp.c
  libr/include/r_util/r_strbuf.h
  libr/util/strbuf.c
Labels: API

#15635 Added an event to signal the end of the debug session ##debug
  libr/core/core.c
  libr/debug/debug.c
  libr/include/r_debug.h
  libr/include/r_util/r_event.h
Labels: API

#15636 Fixed gdbr warnings and a dpt crash after debug was over ##debug
  libr/debug/p/debug_gdb.c
  shlr/gdb/src/gdbclient/core.c
Labels: RDebug

#15639 Replace some strstr() calls with strchr()
  libr/anal/var.c
  libr/asm/arch/mips/mipsasm.c
  libr/bin/filter.c
  libr/bin/mangling/microsoft_demangle.c
  libr/bin/mangling/swift-sd.c
  libr/core/cmd_anal.c
  libr/core/cmd_meta.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/core.c
  libr/core/disasm.c
  libr/debug/p/debug_bochs.c
  libr/io/p/io_bochs.c
  libr/main/radiff2.c
  shlr/gdb/src/gdbclient/xml.c
Labels: RBin, RDebug, RIO, command, radiff2

#15638 Fix #15545 - Fix NULL derefs after r_file_slurp() fails
  libr/asm/asm.c
  libr/cons/editor.c
  libr/core/cmd_print.c
  libr/core/fortune.c
  libr/core/visual.c
  libr/egg/egg_Cfile.c
  libr/lang/lang.c
  test/new/db/cmd/cmd_0
Labels: command, visual

#15643 Some coverity fixes
  libr/anal/esil.c
  libr/bin/format/mach0/mach0.c
  libr/bin/format/objc/mach0_classes.c
  libr/bin/mangling/microsoft_demangle.c
  libr/bin/p/bin_xnu_kernelcache.c
  libr/core/panels.c
  libr/core/rtr.c
  libr/io/desc.c
  libr/socket/http.c
  libr/util/print.c
  shlr/qnx/src/core.c
Labels: ESIL, RBin, panel

#15632 Some more helpful messages for anal.verbose ##anal
  libr/anal/fcn.c
  libr/core/canal.c
  libr/core/cmd_anal.c
Labels: command

#15656 Pass R2_CONFIG file to ! commands
  .travis.yml
  libr/config/config.c
  libr/core/cfile.c
  libr/include/r_config.h
  libr/main/rabin2.c
Labels: infrastructure, rabin2

#15660 Fix typo
  libr/main/rabin2.c
Labels: rabin2

#15659 Refactor signal handling for FreeBSD ##r_debug
  libr/debug/p/debug_native.c
Labels: RDebug

#15655 Fix native debug not working with files that were opened as RW
  libr/core/cmd_open.c
Labels: command

#15665 Refactor debug native's wait function ##debug
  libr/debug/p/debug_native.c
Labels: RDebug

#15672 Fix ESIL UB
  libr/anal/esil.c
Labels: ESIL

#15673 Revert pe coverity fixes to fix ihj
  libr/bin/p/bin_pe64.c
Labels: RBin

#15669 Improve debug rebasing and fix partial windows rebase #debug
  libr/core/cmd_open.c
Labels: command

#15634 Fixes for variables
  libr/anal/p/anal_riscv.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/var.c
  libr/core/cmd_anal.c
  libr/core/cmd_open.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/include/r_parse.h
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_mips_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
  test/new/db/anal/arm
  test/new/db/anal/x86_32
  test/new/db/anal/x86_64
  test/new/db/cmd/cmd_pd2
  test/new/db/cmd/midbb
  test/new/db/cmd/types
  test/new/db/formats/elf/elf-riscv64
Labels: RAnal, RParse, command

#15667 Fix some Race Conditions
  libr/core/task.c
  libr/include/r_th.h
  libr/util/thread_lock.c
  shlr/gdb/include/libgdbr.h
  shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/libgdbr.c
Labels: gdb

#15676 Improve the interaction with decompilers in panels ##visual
  libr/core/panels.c
Labels: panel

#15677 Fix ignored asm.bits settings because of RBin overrides ##asm
  libr/core/cbin.c
  libr/core/cio.c
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API

#15690 Cursor mode: JK works as it should, g for moving to the first line, and some improvements
  libr/core/panels.c
Labels: panel

#15675 Debug, BSD systems refactoring ##r_debug
  doc/debug-internals.md
  libr/debug/Makefile
  libr/debug/meson.build
  libr/debug/p/debug_native.c
  libr/debug/p/native.mk
  libr/debug/p/native/bsd/bsd_debug.c
  libr/debug/p/native/bsd/bsd_debug.h
Labels: RDebug

#15681 When setting non-bool config var, set false/true if r_str_is_false()/_is_true()
  libr/config/config.c
  libr/core/cconfig.c
  libr/core/cmd_seek.c
Labels: command

#15452 Try to test with PowerPC and SystemZ
  .travis.yml
Labels: infrastructure

#15679 Remove RAnalBlock members only used in Java
  libr/anal/anal_ex.c
  libr/anal/bb.c
  libr/anal/fcn.c
  libr/anal/p/anal_java.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  libr/include/r_anal_ex.h
  test/new/db/anal/x86_64
Labels: RAnal, command

#15698 Change Semantics of r_rbtree_upper_bound() and simplify Iter Fcns
  libr/include/r_util/r_rbtree.h
  libr/util/rbtree.c
  test/unit/test_rbtree.c
Labels: API

#15707 Prevent the restoration of disabled breakpoints ##debug
  libr/bp/bp_io.c
  libr/core/cmd_debug.c
Labels: command

#15711 Few warning build fixes proposal.
  libr/debug/p/debug_gdb.c
Labels: RDebug

#15705 Fix some warnings
  libr/core/cmd_open.c
  libr/util/str.c
Labels: command

#15712 Correct RISC-V ESIL division and add test
  libr/anal/p/anal_riscv.c
  test/new/db/esil/riscv_32
Labels: RAnal

#15715 Initial implementation of LX/LE file plugin ##bin
  libr/bin/format/le/le.c
  libr/bin/format/le/le.h
  libr/bin/format/le/le_specs.h
  libr/bin/format/ne/ne.c
  libr/bin/meson.build
  libr/bin/p/bin_le.c
  libr/bin/p/bin_ne.c
  libr/bin/p/bin_te.c
  libr/bin/p/le.mk
  libr/core/cio.c
  libr/include/r_bin.h
  libr/meson.build
  plugins.bin.cfg
  plugins.def.cfg
  test/new/db/formats/le
Labels: RBin

#15718 Force read permissions on all load maps in ELF ##bin
  libr/bin/p/bin_elf.inc
Labels: RBin

#15704 Implement r_strbuf_slice and use it in panels ##cons
  libr/core/panels.c
  libr/include/r_util/r_strbuf.h
  libr/util/strbuf.c
  test/unit/test_strbuf.c
Labels: API, panel

#15695 Debug: bsd_thread_list FreeBSD implementation proposal ##r_debug
  libr/debug/p/debug_native.c
  libr/debug/p/native/bsd/bsd_debug.c
  libr/debug/p/native/bsd/bsd_debug.h
Labels: BSD, RDebug

#15725 Refactoring ptrace register write for BSD ##r_debug
  libr/debug/p/debug_native.c
  libr/debug/p/native/bsd/bsd_debug.c
  libr/debug/p/native/bsd/bsd_debug.h
Labels: RDebug

#15726 Fix var rebasing ##debug
  libr/anal/var.c
  libr/core/cmd_open.c
  libr/include/r_anal.h
Labels: command

#15697 Fix debug and 'o' not being able to open paths with spaces #debug
  libr/core/cmd_open.c
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API, command

#15729 Fix infinite loop
  libr/core/panels.c
Labels: panel

#15730 adding H key for cursor mode which works like the one in vim ##panels
  libr/core/panels.c
Labels: panel
