Repository radareorg/radare2, pull requests merged in 2019-10, with the labels that each got.

#15176 Initial impl. get trycatch from x64 PE SEH
  libr/bin/bin.c
  libr/bin/format/pe/pe_specs.h
  libr/bin/p/bin_dex.c
  libr/bin/p/bin_pe64.c
  libr/include/r_bin.h
Labels: PE, Windows

#15160 Use Inno Setup 6.0 for Windows builds
  .appveyor.yml
Labels: Windows

#15273 Move UTF-8 setting logic to scr.utf8 config callback on Windows
  libr/cons/cons.c
  libr/cons/dietline.c
  libr/cons/utf8.c
  libr/core/cconfig.c
  libr/include/r_cons.h
Labels: Windows, consoleui

#15257 Also use LANG env var to check for UTF-8 output support
  libr/cons/utf8.c
  libr/include/r_cons.h
Labels: consoleui

#15355 Improve registers handling in ESIL dfg ##esil
  libr/anal/esil_dfg.c
  libr/core/esil_data_flow.c
  libr/include/r_anal.h
  libr/util/rbtree.c
Labels: ESIL, RAnal
