Repository radareorg/radare2, pull requests merged in 2019-09, with the labels that each got.

#14970 Fix #14154 - Implement Windows message breakpoints
  libr/core/cmd_debug.c
  libr/debug/meson.build
  libr/debug/p/native/windows/windows_message.c
  libr/debug/p/native/windows/windows_message.h
Labels: RDebug, Windows

#14973 R2CON2019 Fix Deleting old Types before Load
  libr/anal/type.c
Labels: R2CON2019

#14984 R2CON2019: fix heap buffer overflow in dietline autocomplete
  libr/cons/dietline.c
Labels: R2CON2019

#14974 R2CON2019 Panels mode menu kept wiggling around
  libr/core/panels.c
Labels: R2CON2019

#14966 Move ta to aht, move other commands around, refactor indentation #14019 ##refactor
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_type.c
  libr/include/r_core.h
Labels: command

#14982 R2CON19 condret
  libr/anal/Makefile
  libr/anal/anal.c
  libr/anal/esil_cfg.c
  libr/anal/esil_dfg.c
  libr/anal/fcn.c
  libr/anal/meson.build
  libr/bin/bobj.c
  libr/core/core.c
  libr/core/esil_data_flow.c
  libr/include/r_anal.h
  libr/include/r_util/r_graph.h
  libr/include/r_util/r_rbtree.h
  libr/util/graph.c
  libr/util/rbtree.c
  libr/util/spaces.c
Labels: R2CON2019

#13345 WIP Try MSVC 2019 for AppVeyor ##build
  .appveyor.yml
  sys/meson.py
Labels: WIP
