Repository radareorg/radare2, pull requests merged in 2019-03, with the labels that each got.

#13173 Filter out special symbols in ELF
  libr/bin/format/elf/elf.c
  libr/core/cbin.c
  libr/include/r_bin.h
Labels: WIP

#13350 Show call hints and propagate types for indirect calls to imp symbols
  libr/core/anal_tp.c
  libr/core/disasm.c
Labels: anal

#13377 Remove CYGWIN & MINGW remnants
  libr/bin/pdb/pdb_downloader.c
  libr/config.mk.tail
  libr/cons/cons.c
  libr/cons/dietline.c
  libr/cons/input.c
  libr/cons/line.c
  libr/cons/pipe.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_debug.c
  libr/core/visual.c
  libr/debug/debug.c
  libr/debug/p/debug_native.c
  libr/fs/p/fs_posix.c
  libr/include/r_cons.h
  libr/include/r_debug.h
  libr/include/r_socket.h
  libr/include/r_types.h
  libr/include/r_userconf.h.acr
  libr/include/r_util/r_sandbox.h
  libr/include/r_util/r_sys.h
  libr/include/sdb/sdb.h
  libr/include/sdb/types.h
  libr/io/p/io_self.c
  libr/reg/double.c
  libr/socket/r2pipe.c
  libr/socket/socket.c
  libr/util/file.c
  libr/util/idpool.c
  libr/util/lib.c
  libr/util/mem.c
  libr/util/sandbox.c
  libr/util/signal.c
  libr/util/sys.c
  libr/util/thread.c
  libr/util/thread_cond.c
  libr/util/thread_lock.c
  libr/util/thread_sem.c
  libr/util/unum.c
  libr/util/w32-sys.c
  shlr/gdb/include/packet.h
  shlr/gdb/src/gdbclient/core.c
  shlr/tcc/Makefile
  shlr/windbg/Makefile
  shlr/windbg/iob_pipe.c
  shlr/windbg/transport.c
Labels: Windows

#13083 Fix #13000
  libr/anal/var.c
  libr/core/anal_tp.c
Labels: test-required

#13558 Fix #13451 - make `afs` work ##anal
  libr/anal/Makefile
  libr/anal/fcn.c
  libr/anal/meson.build
  libr/anal/type.c
  libr/core/cmd_print.c
  libr/core/cmd_type.c
  libr/include/r_anal.h
  libr/libs.mk
Labels: RAnal, types

#13555 Make flag comments base64-compatible
  libr/core/cmd_flag.c
  libr/flag/flag.c
Labels: test-required
