Repository radareorg/radare2, pull requests merged in 2019-11, with the labels that each got.

#15414 Very simple tree sitter integration
  .gitignore
  libr/core/Makefile
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/core.c
  libr/core/meson.build
  libr/include/r_core.h
  meson_options.txt
  shlr/Makefile
  shlr/clone_3rd_repo.sh
  shlr/meson.build
  shlr/radare2-shell-parser-deps.mk
Labels: command, input

#15364 Improve switch-statements in disassembly ##disasm
  libr/anal/jmptbl.c
  libr/core/cconfig.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
Labels: FEEDBACK WANTED

#15433 Added break to gdbserver vCont and refactored the code to use locks
  libr/debug/p/debug_gdb.c
  libr/io/Makefile
  libr/io/p/gdb.mk
  libr/io/p/io_gdb.c
  meson.build
  shlr/gdb/deps.mk
  shlr/gdb/include/gdbclient/commands.h
  shlr/gdb/include/libgdbr.h
  shlr/gdb/meson.build
  shlr/gdb/src/gdbclient/core.c
  shlr/gdb/src/libgdbr.c
  shlr/meson.build
Labels: gdb

#15504 Partially decouple Tasks from RCore
  libr/core/agraph.c
  libr/core/cmd.c
  libr/core/cmd_log.c
  libr/core/cmd_open.c
  libr/core/core.c
  libr/core/panels.c
  libr/core/task.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/include/r_core.h
  libr/main/radare2.c
Labels: API, RCore, command, panel, radare2, visual

#15509 Remove unnecessary RConfig Members
  libr/config/config.c
  libr/include/r_config.h
Labels: API, RConfig

#15511 Make Task Scheduling Explicit
  libr/core/canal.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/core.c
  libr/core/task.c
  libr/include/r_core.h
Labels: API, RCore, command

#15513 Add Comments to RCore and kill some unused Members
  libr/core/core.c
  libr/core/disasm.c
  libr/core/visual.c
  libr/include/r_cons.h
  libr/include/r_core.h
  libr/include/r_types.h
Labels: API, RCore, visual

#15521 Fix a Double Free for Dex (Fix #15519)
  libr/bin/p/bin_dex.c
  libr/bin/p/bin_java.c
  libr/core/cbin.c
  libr/include/r_bin.h
  libr/include/r_types.h
Labels: API, RBin, RCore

#15526 Python and VS updates for Windows/clang
  .appveyor.yml
Labels: infrastructure

#15515 Disassembly and analysis for or1k
  libr/anal/meson.build
  libr/anal/p/anal_or1k.c
  libr/anal/p/or1k.mk
  libr/asm/arch/or1k/or1k_disas.c
  libr/asm/arch/or1k/or1k_disas.h
  libr/asm/meson.build
  libr/asm/p/asm_or1k.c
  libr/asm/p/or1k.mk
  libr/include/r_anal.h
  libr/include/r_asm.h
  libr/meson.build
  plugins.def.cfg
Labels: New Architecture, RAnal

#15525 Fix overflow that broke remote debugger reopening
  libr/io/p/io_gdb.c
  libr/io/p/io_mach.c
  libr/io/p/io_ptrace.c
  libr/io/p/io_w32.c
  libr/io/p/io_windbg.c
  libr/io/p/io_winedbg.c
Labels: RIO, gdb

#15532 Fix some warnings on Windows
  libr/asm/arch/or1k/or1k_disas.h
  libr/core/windows_heap.c
  libr/debug/p/debug_windbg.c
  libr/debug/p/native/windows/windows_debug.c
  libr/include/r_util/r_sys.h
  libr/include/r_util/r_utf8.h
  libr/io/p/io_debug.c
  libr/io/p/io_w32dbg.c
  libr/util/thread.c
  libr/util/utf8.c
  shlr/heap/include/r_windows/windows_heap.h
  shlr/w32dbg_wrap/include/w32dbg_wrap.h
  shlr/w32dbg_wrap/src/w32dbg_wrap.c
Labels: API, RDebug, RIO
