Repository radareorg/radare2, pull requests merged in 2019-04, with the labels that each got.

#13622 Print "Task X finished" only if scr.interactive=1
  libr/cons/cons.c
  libr/core/task.c
  libr/include/r_cons.h
Labels: RCore

#13715 Checking if bp is treated as a frame ptr in given function (fix #12867)
  libr/anal/fcn.c
  libr/anal/var.c
  libr/core/canal.c
  libr/include/r_anal.h
Labels: RAnal

#13837 Make p= bars dont use the background color ##cons
  libr/core/cconfig.c
  libr/include/r_util/r_print.h
  libr/util/print.c
Labels: FEEDBACK WANTED, panel
