Repository radareorg/radare2, pull requests merged in 2019-07, with the labels that each got.

#14485 Enable click mouse input on Windows
  libr/cons/cons.c
  libr/cons/input.c
  libr/cons/output.c
  libr/core/panels.c
  libr/include/r_cons.h
  libr/util/str.c
Labels: Windows, consoleui

#14514 WIP: Initial Implementation of vi mode
  libr/cons/dietline.c
  libr/cons/line.c
  libr/core/cconfig.c
  libr/include/r_cons.h
Labels: consoleui, enhancement

#14666 Some fixes for windbg
  libr/debug/p/debug_windbg.c
  libr/io/p/io_windbg.c
  shlr/windbg/windbg.c
  shlr/windbg/windbg.h
Labels: WinDbg

#14675 More fixes to WinDbg
  libr/debug/p/debug_windbg.c
  libr/io/p/io_windbg.c
  shlr/windbg/windbg.c
Labels: WinDbg

#14256 Crude squash and rebase of the #14096
  doc/debug-internals.md
  libr/debug/debug.c
  libr/debug/meson.build
  libr/debug/p/debug_gdb.c
  libr/debug/p/debug_native.c
  libr/debug/p/debug_qnx.c
  libr/debug/p/debug_windbg.c
  libr/debug/p/native/maps/windows_maps.c
  libr/debug/p/native/w32.c
  libr/debug/p/native/windows/windows_debug.c
  libr/debug/p/native/windows/windows_debug.h
  libr/include/r_debug.h
  libr/io/p/io_debug.c
  libr/io/p/io_w32dbg.c
  libr/util/sys.c
  meson.build
Labels: RDebug, Windows
