Repository radareorg/radare2, pull requests merged in 2020-08, with the labels that each got.

#17376 Fix main detection for debug PE bins ##bin
  libr/bin/format/pe/pe.c
  test/db/formats/pe/hello_world
Labels: test-required

#17382 io_self: giving more meaningful mapping names when possible ##port
  libr/io/p/io_self.c
  libr/rules.mk
Labels: RIO

#17394 Introduce R_ANAL_OP_FAMILY_SECURITY ##anal
  libr/anal/op.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_arm_hacks.inc
  libr/core/cmd_search.c
  libr/include/r_anal.h
  test/db/anal/arm64
Labels: RAnal, command

#17386 API for checking if an annotation is a reference or function variable.
  libr/include/r_util/r_annotated_code.h
  libr/util/annotated_code.c
Labels: API

#17364 Add bytes to zb command ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
  test/db/cmd/cmd_zignature
Labels: command

#17359 Change Itanium VTable detection heuristic ##anal
  libr/anal/vtable.c
  test/db/anal/ppc
Labels: waiting-for-review

#17362 Add `acg` - printing class hierarchy graph ##anal
  libr/anal/class.c
  libr/core/agraph.c
  libr/core/cmd_anal.c
  libr/include/r_agraph.h
  libr/include/r_anal.h
  libr/include/r_util/r_graph.h
  libr/util/graph.c
  test/unit/meson.build
  test/unit/test_agraph.c
  test/unit/test_anal_class_graph.c
Labels: API, RAnal, RGraph, command, r2r, waiting-for-review

#17321 Fix #17322 - Honor bin.baddr from idp to load rebased PDB files ##bin
  libr/core/cbin.c
  libr/core/cmd_info.c
  libr/include/r_core.h
  libr/util/file.c
  test/db/formats/pdb
Labels: PDB, command

#17416 Add missing `PTRACE_GETSIGINFO` for old glibc
  libr/io/p/io_ptrace.c
Labels: RIO

#17389 Add help under `axt?` ##cons
  libr/core/cmd_anal.c
Labels: command

#17422 Use floating point for coverage percent calculation.
  libr/core/cmd_anal.c
Labels: bug, command

#17425 Fix #17414 heap overflow hackyArmAnal
  libr/anal/p/anal_arm_hacks.inc
  libr/asm/p/asm_arm_hacks.inc
Labels: RAnal

#17429 New annotations and API functions for the decompiler
  libr/core/cannotated_code.c
  libr/include/r_core.h
  libr/include/r_util/r_annotated_code.h
  libr/util/annotated_code.c
  test/unit/test_annotated_code.c
Labels: API, r2r

#17323 Update crypto key search to find keys between blocks ##search
  libr/core/cmd_search.c
  libr/include/r_search.h
  libr/search/aes-find.c
  libr/search/privkey-find.c
  libr/search/search.c
  test/db/cmd/cmd_search_hit
Labels: command

#17424 Use meson install instead of manual installation in meson.py
  .appveyor.yml
  doc/windows.md
  sys/meson.py
Labels: infrastructure

#17276 Add r_sys_now_mono() and use in r2r ##util
  binr/r2r/run.c
  libr/include/r_util/r_sys.h
  libr/util/sys.c
Labels: API, r2r, waiting-for-review

#17440 Fix mips.gnu did not judge Bit Endianness before instruction analysis ##anal
  libr/anal/p/anal_mips_gnu.c
Labels: RAnal

#17445 Merge everything time-related in r_time.h
  binr/r2r/r2r.c
  binr/r2r/run.c
  libr/bin/format/pe/pe.c
  libr/cons/cons.c
  libr/core/cbin.c
  libr/core/cfile.c
  libr/core/cmd_anal.c
  libr/core/cmd_log.c
  libr/core/cmd_search.c
  libr/core/cundo.c
  libr/core/libs.c
  libr/debug/p/native/windows/windows_debug.c
  libr/debug/trace.c
  libr/include/r_cons.h
  libr/include/r_util.h
  libr/include/r_util/r_date.h
  libr/include/r_util/r_sys.h
  libr/include/r_util/r_time.h
  libr/meson.build
  libr/util/Makefile
  libr/util/file.c
  libr/util/meson.build
  libr/util/sys.c
  libr/util/time.c
  libr/util/unum.c
Labels: API, command, r2r

#17408 Fix MIPS loading instruction analysis bug ##anal
  libr/anal/p/anal_mips_cs.c
  test/db/anal/mips
Labels: MIPS, RAnal, test-required

#17457 Enable is_pid_already_attached for NetBSD ##io
  libr/io/p/io_ptrace.c
Labels: RIO

#17410 Implement `pde` to disassemble following code execution ##disasm
  libr/core/cmd_anal.c
  libr/core/cmd_print.c
  libr/core/disasm.c
  libr/include/r_core.h
  libr/io/p/io_w32.c
  libr/parse/filter.c
  libr/util/file.c
  libr/util/sandbox.c
  test/db/anal/mips
  test/db/cmd/cmd_aea
  test/db/cmd/cmd_pde
Labels: RAnal, RIO, command

#17141 Fix #3929 - Enable LTO in sys/static.sh ##build
  .github/workflows/static.yml
  libr/Makefile
  libr/do-ar-sh
  libr/magic/Makefile
  shlr/Makefile
  sys/cydia/deb_hand.mak
  sys/debian/deb_hand.mak
  sys/maemo/deb_hand.mak
  sys/meson-sdk.sh
  sys/static.sh
Labels: buildsystem, infrastructure, waiting-for-author

#17459 Define PTRACE_O_* flags for old glibc
  libr/debug/p/native/linux/linux_coredump.c
  libr/debug/p/native/linux/linux_coredump.h
  libr/debug/p/native/linux/linux_debug.c
  libr/debug/p/native/linux/linux_debug.h
  libr/debug/p/native/linux/linux_ptrace.h
Labels: RDebug

#17454 coverity fixes ##anal
  libr/anal/class.c
  libr/anal/rtti_itanium.c
  libr/core/cmd_anal.c
Labels: command

#17342 Fix Cydia/iOS packaging and compilation issues ##build
  Makefile
  binr/blob/Makefile
  binr/r2r/r2r.c
  binr/radare2/Makefile
  binr/rules.mk
  libr/util/deps.mk
  libr/util/sandbox.c
  mk/darwin.mk
  mk/ios-sdk.mk
  shlr/Makefile
  sys/cydia/deb_hand.mak
  sys/ios-cydia.sh
Labels: buildsystem, r2r, radare2

#17400 Append missing loongson 2e/2f entries in mips-dis.c and mybfd.h
  libr/asm/arch/include/mybfd.h
  libr/asm/arch/mips/gnu/mips-dis.c
Labels: MIPS, test-required

#17446 Fix asm.pseudo for movn ##disasm
  libr/parse/p/parse_arm_pseudo.c
Labels: RParse

#17439 Add the r_json json parser based on nxjson ##util
  libr/include/r_util/r_json.h
  libr/meson.build
  libr/util/Makefile
  libr/util/json.c
  libr/util/meson.build
  test/unit/meson.build
  test/unit/minunit.h
  test/unit/test_json.c
Labels: API, RUtil, r2r

#17467 Add best match reverse search ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
  test/db/cmd/cmd_zignature
Labels: command, zignatures

#17470 Some DragonFlyBSD build fixes ##port
  libr/util/thread.c
  sys/static.sh
Labels: BSD, buildsystem

#17471 Improve cons_html_filter.
  libr/cons/html.c
  test/unit/test_cons.c
Labels: RCons, r2r

#17468 Older GCC/Glibc warning fixes
  libr/core/canal.c
  libr/debug/p/native/linux/linux_debug.h
Labels: RDebug

#17484 Handle DADDU instruction MIPS, used for GP calculation ##anal
  libr/anal/p/anal_mips_cs.c
  test/db/anal/mips
Labels: MIPS, RAnal

#17486 Fix #17458 - fix wrongly written tests
  test/db/cmd/cmd_rop
  test/db/cmd/cmd_search
Labels: r2r

#17434 Add function information from DWARF ##anal
  libr/anal/Makefile
  libr/anal/dwarf_process.c
  libr/anal/meson.build
  libr/anal/type_dwarf.c
  libr/anal/var.c
  libr/bin/dwarf.c
  libr/core/cbin.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/include/r_bin_dwarf.h
  libr/util/uleb128.c
  test/db/cmd/cmd_pde
  test/db/cmd/dwarf
  test/db/formats/elf/elf-riscv64
  test/unit/meson.build
  test/unit/test_dwarf_info.c
  test/unit/test_dwarf_integration.c
  test/unit/test_dwarf_types.c
Labels: DWARF, command, r2r, waiting-for-review

#17496 Fix MS-DOS fuzz tests
  .github/workflows/pr.yaml
  libr/util/pkcs7.c
Labels: infrastructure

#17430 Implement save and load functions for debug session ##debug
  libr/core/cmd_debug.c
  libr/debug/dsession.c
  libr/include/r_debug.h
  shlr/sdb/src/json/rangstr.h
  test/db/archos/linux-x64/dbg_dts
  test/unit/meson.build
  test/unit/test_debug_session.c
Labels: RDebug, command, r2r

#17508 r2r: Check whether test has EXPECT or EXPECT_ERR
  binr/r2r/load.c
  test/db/cmd/types
Labels: r2r

#17497 Don't use LTO for Debian package builds
  travis-script
Labels: infrastructure

#17491 Add DbgEng based debug backend for Windows ##debug
  .github/labeler.yml
  CODEOWNERS
  doc/debug-internals.md
  doc/windbg.md
  libr/Makefile
  libr/core/p/Makefile
  libr/debug/meson.build
  libr/debug/p/Makefile
  libr/debug/p/debug_windbg.c
  libr/debug/p/debug_winkd.c
  libr/debug/p/native/maps/windows_maps.c
  libr/debug/p/native/reg/windows-arm.h
  libr/debug/p/native/reg/windows-arm64.h
  libr/debug/p/native/windows/windows_debug.c
  libr/debug/p/windbg.mk
  libr/debug/p/winkd.mk
  libr/include/r_debug.h
  libr/include/r_io.h
  libr/io/meson.build
  libr/io/p/Makefile
  libr/io/p/io_windbg.c
  libr/io/p/io_winkd.c
  libr/io/p/windbg.mk
  libr/io/p/winkd.mk
  libr/meson.build
  plugins.def.cfg
  plugins.nogpl.cfg
  plugins.static.cfg
  plugins.static.nogpl.cfg
  shlr/Makefile
  shlr/meson.build
  shlr/windbg/deps.mk
  shlr/windbg/windbg.h
  shlr/winkd/Makefile
  shlr/winkd/deps.mk
  shlr/winkd/iob_pipe.c
  shlr/winkd/kd.c
  shlr/winkd/kd.h
  shlr/winkd/profiles.h
  shlr/winkd/transport.c
  shlr/winkd/transport.h
  shlr/winkd/winkd.c
  shlr/winkd/winkd.h
  sys/rebuild.sh
  test/db/archos/linux-x64/dbg_dL
Labels: RCore, RDebug, RIO, WinDbg, Windows

#17504 Add DWARF tests for Ada and Freepascal ##anal
  libr/anal/dwarf_process.c
  test/db/cmd/dwarf
Labels: DWARF

#17512 r2r: Set cmd test to NULL on load failure
  binr/r2r/load.c
Labels: r2r

#17340 Add network support for WinDbg/KD (KDNET) ##debug
  libr/debug/Makefile
  libr/hash/state.c
  libr/include/r_hash.h
  libr/io/Makefile
  libr/io/p/io_winkd.c
  libr/io/p/winkd.mk
  libr/libs.mk
  libr/socket/socket.c
  meson.build
  pkgcfg/r_io.pc.acr
  shlr/meson.build
  shlr/winkd/Makefile
  shlr/winkd/deps.mk
  shlr/winkd/iob_net.c
  shlr/winkd/iob_pipe.c
  shlr/winkd/kd.c
  shlr/winkd/kd.h
  shlr/winkd/profiles.h
  shlr/winkd/transport.c
  shlr/winkd/transport.h
  shlr/winkd/winkd.c
  shlr/winkd/winkd.h
Labels: RIO, WinDbg

#17456 Fix warning not addressed in cef191cde31cbef1da12562cda91e629eabdde93
  libr/io/io.c
  libr/io/io_private.h
Labels: merge-when-green

#17515 Add tests for idpool
  test/unit/meson.build
  test/unit/test_idpool.c
Labels: r2r

#17355 Merge all things in one workflow file, reducing duplication of CI code
  .github/workflows/centos6.yml
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
  .github/workflows/debianold.yml
  .github/workflows/docker.yml
  .github/workflows/pr.yaml
  .github/workflows/static.yml
Labels: infrastructure

#17498 Fix #9821 - Add JALR JR shortcat support when the target address can be calculated ##anal
  libr/anal/p/anal_mips_cs.c
  libr/core/disasm.c
  test/db/cmd/cmd_zignature
Labels: RAnal

#17532 Refactor zbr to honor vars ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
Labels: command

#17516 Improve iA command for MIPS ##bin
  libr/bin/bin.c
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
  libr/include/r_bin.h
  test/db/cmd/cmd_i
Labels: MIPS, RBin

#17533 Fix #17494 - Pass the whole input string to r_core_cmd_str_pipe ##newshell
  libr/core/cmd.c
  test/db/tools/r2
Labels: command

#17539 Rename bin.demanglecmd to cmd.demangle ##config
  libr/core/cconfig.c
  libr/main/rabin2.c
Labels: rabin2

#17551 Expose TEB address as a flag on Windows ##debug
  libr/debug/p/debug_native.c
  libr/debug/p/native/windows/windows_debug.c
Labels: RDebug

#17534 Add commands to parse mangling pointers glibc heap
  libr/core/cconfig.c
  libr/core/linux_heap_glibc.c
  libr/include/r_heap_glibc.h
  test/db/archos/linux-x64/dbg_dmht
Labels: heap

#17544 Fix compilation warnings ##dwarf
  libr/anal/dwarf_process.c
  test/unit/test_dwarf_integration.c
Labels: r2r

#17548 Add tests for r_id_storage
  test/unit/meson.build
  test/unit/test_idpool.c
  test/unit/test_idstorage.c
Labels: r2r
