Repository radareorg/radare2, pull requests merged in 2020-02, with the labels that each got.

#15914 Fix radare2 -i -Q output when script has no nl at eof
  libr/core/cmd.c
  test/new/db/tools/r2
  test/new/scripts/no-nl-at-eof.r2
Labels: command

#15916 Fix a format string in arm (Fix #15915)
  libr/anal/p/anal_arm_cs.c
Labels: RAnal

#15917 Add realname to anj
  libr/core/cmd_anal.c
Labels: command

#15918 Terminate on missing script when doing radare2 -i -Q
  libr/main/radare2.c
  test/new/db/tools/r2
Labels: radare2

#15922 fixed esil for arm push/pop with conditional
  libr/anal/p/anal_arm_cs.c
Labels: RAnal

#15926 Add Unit Tests to Meson
  meson.build
  meson_options.txt
  test/unit/meson.build
Labels: r2r

#15930 Vane11ope/panels
  libr/cons/input.c
  libr/core/panels.c
Labels: panel

#15920 Honor segments in DEX files
  libr/bin/p/bin_dex.c
  test/new/db/formats/dex
Labels: RBin

#15931 Fix tccj, tccl, tcc* output errors
  libr/core/cmd_type.c
  test/new/db/cmd/cmd_tcc
Labels: command

#15934 Convert more tests to use a strictier syntax ##test
  test/new/db/cmd/cmd_agf
  test/new/db/cmd/write
  test/new/db/extras/cmd/m68k
  test/new/db/formats/ar
  test/new/db/tools/rahash2
  test/new/db/tools/rax2
  test/new/notworking_db/darwin-x64/dbg_cmdbps
  test/new/notworking_db/darwin-x64/dbg_dcu
  test/new/notworking_db/darwin-x64/dbg_di
  test/new/notworking_db/darwin-x64/dbg_io
  test/new/notworking_db/darwin-x64/dbg_oo
  test/new/notworking_db/darwin-x64/dbg_step
  test/new/notworking_db/darwin-x64/me
  test/new/notworking_db/darwin-x64/shell_uname
  test/src/r2r.v
Labels: r2r

#15933 Add 'dbH' to set hardware breakpoints
  libr/core/cmd_debug.c
  test/new/db/archos/linux-x64/dbg_bps
Labels: command

#15909 Determine Gameboy hardware registers in disassembly
  libr/anal/arch/gb/meta_gb_cmt.c
  libr/anal/p/anal_gb.c
  libr/anal/p/gb.mk
  libr/asm/arch/gb/gb_op_table.h
  libr/asm/arch/gb/gbdis.c
  test/new/db/asm/gb
Labels: RAnal

#15935 Fix /j in r2 when there is no input argument
  libr/core/cmd_search.c
Labels: command

#15936 r2r.v: Assume BROKEN=1 if not 0 or ""
  test/new/db/anal/java
  test/new/db/formats/mach0/create
  test/new/db/tools/r2
  test/new/db/tools/rasm2
  test/src/r2r.v
Labels: r2r

#15940 Fix unit tests by upgrading V
  test/src/Makefile
Labels: r2r

#15885 Fix #15851 /wj without arg produce '\n'
  libr/core/cmd_search.c
Labels: command

#15852 Try V suite on FreeBSD and OpenBSD
  .builds/freebsd.yml
  .builds/openbsd.yml
  test/src/Makefile
  test/src/r2r.v
Labels: BSD, buildsystem, infrastructure, r2r

#15948 r2r.v: Fix Success: 0 when running cmd tests
  test/src/r2r.v
Labels: r2r

#15938 cmd_debug add_bp sig fix ##debug
  test/new/db/cmd/cmd_aea
Labels: command

#15960 Add missing afis info in afi? and fix afis?
  libr/core/cmd_anal.c
Labels: command

#15958 Memory leak fix for kernel cache module.
  libr/bin/p/bin_xnu_kernelcache.c
Labels: RBin

#15957 r2r.v: Fix wg race
  test/src/r2r.v
Labels: r2r

#15876 Refactor Anal Hints
  libr/anal/anal.c
  libr/anal/hint.c
  libr/anal/jmptbl.c
  libr/core/canal.c
  libr/core/cio.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/include/r_core.h
  libr/include/r_vector.h
  test/new/db/cmd/cmd_ah
  test/new/db/cmd/cmd_ahi
  test/unit/meson.build
  test/unit/minunit.h
  test/unit/test_anal_hints.c
Labels: RAnal, RCore, command, r2r

#15965 Cleanup some RAnalBlock Members
  libr/anal/block.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
Labels: command

#15964 r2r.v: Slurp empty lines as well
  test/src/r2r.v
Labels: r2r

#15969 Remove prev, jumpbb and failbb from RAnalBlock ##anal
  libr/anal/bb.c
  libr/core/agraph.c
  libr/core/cmd_print.c
  libr/include/r_anal.h
Labels: command

#15966 Use state struct and start handling cmd_substition_arg in tree-sitter
  libr/core/cmd.c
  shlr/Makefile
  shlr/meson.build
Labels: command

#15976 Fix last covs
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/core/visual.c
Labels: command, visual

#15972 Fix #13908 - x86 aoj for instruction with hidden operand ##asm
  libr/anal/p/anal_x86_cs.c
  test/new/db/anal/x86_16
  test/new/db/anal/x86_32
  test/new/db/anal/x86_64
Labels: RAnal

#15975 Remove more members from RAnalBlock ##anal
  libr/anal/block.c
  libr/anal/fcn.c
  libr/anal/reflines.c
  libr/core/blaze.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
Labels: command

#15980 Parse dyldcache local symbols ##bin
  libr/bin/bobj.c
  libr/bin/format/mach0/mach0_specs.h
  libr/bin/p/bin_dyldcache.c
Labels: RBin

#15983 Fix memory leak in test_rbtree
  test/unit/test_rbtree.c
Labels: r2r

#15982 Fixing typo in command documentation of /m
  libr/core/cmd_search.c
Labels: command

#15981 Revert #15535 (scr.onestream)
  .appveyor.yml
  libr/asm/meson.build
  libr/bin/meson.build
  libr/cons/cons.c
  libr/core/cconfig.c
  libr/egg/meson.build
  libr/flag/meson.build
  libr/include/r_cons.h
  libr/search/meson.build
  libr/util/meson.build
  shlr/meson.build
Labels: infrastructure

#15986 Echi bad color
  libr/core/cmd_eval.c
  test/new/db/cmd/cmd_ec
Labels: command

#15989 r2r.v, BROKEN=0: Check only first char
  test/new/db/cmd/cmd_pd
  test/new/db/tools/r2r
  test/src/r2r.v
Labels: r2r

#15994 Improve ecH (ecH-* dels them all, ecH- doesnt segfault, ecH list) ##disasm
  libr/anal/meta.c
  libr/core/cmd_eval.c
Labels: command

#15985 WIP: Kill all globals in rabin2.c
  libr/core/cbin.c
  libr/main/rabin2.c
Labels: rabin2

#15998 r2r.v: Fix EXPECT_ERR handling
  test/new/db/cmd/cmd_pd
  test/new/db/tools/r2r
  test/src/r2r.v
Labels: r2r

#15995 Fix incorrect PPC ESIL and add testcase (#15970)
  libr/anal/p/anal_ppc_cs.c
  test/new/db/anal/ppc
  test/new/db/esil/ppc_32
Labels: ESIL, PPC, RAnal

#15999 Fix ELF symbols for names just before the end of strtab ##bin
  libr/bin/format/elf/elf.c
  test/new/db/formats/elf/symbols
Labels: ELF, RBin

#16003 r2r.v: Add color to BR and FX of cmd tests
  test/src/r2r.v
Labels: r2r

#16005 Add repeat_command, concatenation and fix system_command
  libr/core/cmd.c
  shlr/Makefile
  shlr/meson.build
Labels: command

#15997 Build debian package in CI ##build
  .travis.yml
  sys/debian.sh
  travis-extract-var.sh
  travis-script
Labels: infrastructure

#16007 Try to publish AppVeyour builds
  .appveyor.yml
Labels: infrastructure

#16009 Fix builds by installing radare.r2 manually
  test/src/Makefile
Labels: r2r

#16010 Fix show register value in column
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/debug/dreg.c
  test/new/db/anal/arm
  test/new/db/anal/x86_64
Labels: command

#15987 Add Certificate Table parsing and Authentihash support for PE
  libr/bin/bfile.c
  libr/bin/format/pe/pe.c
  libr/bin/format/pe/pe.h
  libr/bin/format/pe/pe_specs.h
  libr/bin/p/bin_pe.inc
  libr/core/cmd_info.c
  libr/include/r_bin.h
  libr/include/r_util/r_pkcs7.h
  libr/main/radare2.c
  libr/util/pkcs7.c
  test/new/db/formats/pe/authentihash
Labels: API, PE, RBin, command, radare2

#16013 Try to fix the macOS build
  .travis.yml
  travis-script
Labels: infrastructure

#16014 Refactor RBin file hashes
  libr/bin/bfile.c
  libr/bin/format/pe/pe.c
  libr/bin/format/pe/pe.h
  libr/bin/p/bin_pe.c
  libr/bin/p/bin_pe.inc
  libr/bin/p/bin_pe64.c
  libr/core/cmd_info.c
  libr/include/r_bin.h
  libr/main/radare2.c
  test/new/db/formats/pe/authentihash
Labels: RBin, command, radare2

#15899 Add initial sparc regression tests (#15602)
  test/new/db/anal/sparc
Labels: RAnal, RBin, RCons, command

#16022 Use git clone --depth 1 as much as possible in builds
  .appveyor.yml
Labels: infrastructure, r2r

#16017 Code cleanup for r_core_esil_step()
  libr/core/cmd_anal.c
  test/new/db/cmd/cmd_aes
Labels: command

#16025 Unstick Travis by using compgen instead
  .travis.yml
Labels: infrastructure

#16019 Fix Spaces Interference in r_flag_get_at()
  libr/flag/flag.c
  test/unit/test_flags.c
Labels: r2r

#16027 Support real names in "fd" command
  libr/core/cmd_flag.c
  test/new/db/cmd/cmd_flags
  test/new/db/json/json2
Labels: command

#16031 Make r_table_columns() faster, leak- and double free free
  libr/include/r_util/r_table.h
  libr/util/table.c
  test/unit/test_table.c
Labels: API, r2r

#16029 Fix memleak in cmd_anal_aaft()
  libr/core/cmd_anal.c
Labels: command

#16039 Fix ecH- deleting ecHi and deleting meta highlight items ##cons
  libr/anal/meta.c
  libr/core/cmd_eval.c
  libr/include/r_anal.h
Labels: command

#16037 Add test for RList
  libr/util/list.c
  test/unit/test_list.c
Labels: r2r

#16038 Add support for @* commands in new r2-shell-parser
  libr/config/hold.c
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/r2-shell-parser-cmds.inc
  libr/include/r_cmd.h
  shlr/Makefile
  shlr/meson.build
Labels: command

#16041 Greenify AppVeyor on master by using different tag name
  .appveyor.yml
Labels: infrastructure

#16044 Fix iS hash outputs
  libr/core/cbin.c
  libr/core/cmd_info.c
  test/new/db/cmd/cmd_i
  test/new/db/tools/rabin2
Labels: command

#16047 Fix r_table_sort if column type is NULL
  libr/util/table.c
  test/unit/test_table.c
Labels: r2r

#16049 Fix consecutive call to r_table_sort
  libr/util/table.c
  test/unit/test_table.c
Labels: r2r

#16020 Str trim void
  libr/anal/anal.c
  libr/config/config.c
  libr/cons/grep.c
  libr/cons/hud.c
  libr/cons/pal.c
  libr/core/canal.c
  libr/core/casm.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_cmp.c
  libr/core/cmd_debug.c
  libr/core/cmd_eval.c
  libr/core/cmd_flag.c
  libr/core/cmd_help.c
  libr/core/cmd_info.c
  libr/core/cmd_log.c
  libr/core/cmd_meta.c
  libr/core/cmd_mount.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_type.c
  libr/core/cmd_write.c
  libr/core/cmd_zign.c
  libr/core/core.c
  libr/core/rtr.c
  libr/core/rtr_http.c
  libr/core/vmenus.c
  libr/debug/esil.c
  libr/debug/session.c
  libr/debug/snap.c
  libr/include/r_util/r_str.h
  libr/io/p/io_gdb.c
  libr/main/radare2.c
  libr/socket/run.c
  libr/util/asn1.c
  libr/util/donut.c
  libr/util/name.c
  libr/util/print.c
  libr/util/str_trim.c
  libr/util/syscmd.c
  libr/util/table.c
  test/unit/legacy_unit/util/test_str.c
Labels: command

#16055 Revert "Str trim void"
  libr/anal/anal.c
  libr/config/config.c
  libr/cons/grep.c
  libr/cons/hud.c
  libr/cons/pal.c
  libr/core/canal.c
  libr/core/casm.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_cmp.c
  libr/core/cmd_debug.c
  libr/core/cmd_eval.c
  libr/core/cmd_flag.c
  libr/core/cmd_help.c
  libr/core/cmd_info.c
  libr/core/cmd_log.c
  libr/core/cmd_meta.c
  libr/core/cmd_mount.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_type.c
  libr/core/cmd_write.c
  libr/core/cmd_zign.c
  libr/core/core.c
  libr/core/rtr.c
  libr/core/rtr_http.c
  libr/core/vmenus.c
  libr/debug/esil.c
  libr/debug/session.c
  libr/debug/snap.c
  libr/include/r_util/r_str.h
  libr/io/p/io_gdb.c
  libr/main/radare2.c
  libr/socket/run.c
  libr/util/asn1.c
  libr/util/donut.c
  libr/util/name.c
  libr/util/print.c
  libr/util/str_trim.c
  libr/util/syscmd.c
  libr/util/table.c
  test/unit/legacy_unit/util/test_str.c
Labels: command

#16053 Minor Fixes and Tests for NSO/NRO
  libr/bin/format/nxo/nxo.c
  libr/bin/format/nxo/nxo.h
  libr/bin/p/bin_nro.c
  libr/bin/p/bin_nso.c
  test/new/db/formats/nro
  test/new/db/formats/nso
Labels: RBin

#15993 Implement function names with dots in signatures ##anal
  shlr/tcc/tcc.h
  shlr/tcc/tccpp.c
  test/new/db/cmd/types
Labels: command, types, vars

#16052 Replace O(n2) ELF symbol matching with hashmaps
  libr/bin/format/elf/elf.c
Labels: ELF

#16061 Fix r_cons_rgb_parse() harder
  libr/anal/meta.c
  libr/cons/rgb.c
  test/unit/meson.build
  test/unit/test_cons.c
Labels: RCons, r2r

#16066 Use RTable in r_core_debug_rr
  libr/core/cmd_debug.c
Labels: command

#16070 Enhance r_core_debug_rr
  libr/core/cmd_debug.c
Labels: command

#16071 Fix null-deref on afv[rbs]-* without function
  libr/core/cmd_anal.c
  test/new/db/cmd/cmd_afv
Labels: command

#16072 Upgrade node-r2r to 0.3.1 to fix the <<EOF -i issue
  test/new/package.json
Labels: r2r

#16073 Do not use the elvis operator for bool expressions
  libr/anal/flirt.c
  libr/core/agraph.c
  libr/core/anal_tp.c
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/cio.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/core/vmenus.c
  libr/debug/p/debug_native.c
  libr/debug/p/native/w32.c
  libr/include/r_core.h
  libr/io/fd.c
  libr/socket/socket.c
  libr/util/file.c
  libr/util/sys.c
Labels: RDebug, command

#16078 Rename the Function Flag on afn
  libr/core/cmd_anal.c
  test/new/db/cmd/cmd_afn
Labels: command

#16068 Fix fgets() usage
  libr/cons/dietline.c
  libr/cons/editor.c
  libr/cons/input.c
  libr/core/agraph.c
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/cmd_help.c
  libr/core/cmd_log.c
  libr/core/core.c
  libr/core/panels.c
  libr/core/rtr.c
  libr/core/rtr_shell.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/core/vmenus_graph.c
  libr/core/vmenus_zigns.c
  libr/fs/shell.c
  libr/io/p/io_self.c
  libr/lang/lang.c
  libr/main/rabin2.c
  libr/main/ragg2.c
  libr/socket/run.c
Labels: RIO, command, panel, rabin2, ragg2, visual
