Repository radareorg/radare2, pull requests merged in 2020-04, with the labels that each got.

#16391 Implement anal.jmp.retpoline support ##anal
  libr/anal/fcn.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_open.c
  libr/include/r_anal.h
  test/new/db/anal/x86_64
Labels: command

#16397 Implement proper tp help menu ##types
  libr/core/cmd_type.c
Labels: command

#16354 Enable R2R in C for all CI except Windows
  .builds/freebsd.yml
  .builds/openbsd.yml
  .github/workflows/ccpp.yml
  libr/util/file.c
  libr/util/sys.c
  test/Makefile
  test/new/db/cmd/cmd_i
  test/new/db/formats/mangling/swift
  test/new/db/tools/rabin2
  test/new/db/tools/rasm2
  travis-script
Labels: infrastructure

#16381 Fix #16347: o+ sets maps as writable like oo+
  libr/core/cmd_open.c
  test/new/db/cmd/cmd_open
Labels: command

#16406 Build fixes to make emscripten happy again
  .travis.yml
  binr/rabin2/rabin2.c
  binr/radare2/radare2.c
  binr/rasm2/rasm2.c
  binr/rules.mk
  libr/Makefile
  plugins.emscripten.cfg
  shlr/Makefile
  shlr/java/ops.c
  sys/emscripten.sh
  travis-script
Labels: infrastructure, rabin2, radare2, rasm2

#16409 Add Windows argv Formatting
  libr/include/r_util/r_str.h
  libr/util/str.c
  test/unit/test_str.c
Labels: API, Windows, r2r

#16398 Fix tp and tpx to accept types with spaces ##types
  libr/core/cmd_type.c
Labels: bug, command, types

#16408 Fix empty struct and add test ##types
  libr/core/cmd_type.c
  shlr/tcc/tccgen.c
  test/new/db/cmd/types
Labels: command

#16401 r_buffer: do not move seek when using _at APIs
  libr/anal/flirt.c
  libr/io/p/io_default.c
  libr/io/p/io_ihex.c
  libr/io/p/io_mmap.c
  libr/io/p/io_sparse.c
  libr/io/p/io_zip.c
  libr/util/buf.c
Labels: RIO

#16383 [WIP] Add anal classes to "Vb"
  libr/core/visual.c
  libr/core/vmenus.c
  libr/include/r_core.h
Labels: visual

#16414 Updated Copyright to 2020
  libr/core/panels.c
Labels: panel

#16415 Add r2 -NN to not load plugins ##core
  libr/main/radare2.c
  libr/util/donut.c
  libr/util/protobuf.c
  libr/util/range.c
  man/radare2.1
Labels: radare2

#16416 Use r_str_trim_head_ro instead of hacky while loops
  libr/core/cmd.c
  libr/core/cmd_type.c
  libr/reg/arena.c
  test/unit/test_str.c
Labels: command, r2r

#16388 Do not use r_buf_data in DEX results in 1.5x faster parsing (22s vs 33s) ##bin
  libr/bin/bin.c
  libr/bin/p/bin_dex.c
  libr/core/vmenus.c
  libr/include/r_util/r_buf.h
  libr/util/buf.c
  libr/util/buf_bytes.c
  libr/util/buf_file.c
  libr/util/buf_io.c
  libr/util/buf_mmap.c
  libr/util/buf_ref.c
  libr/util/buf_sparse.c
Labels: API, RBin

#16422 Fix #13677 - Add txt command and make txf accept an argument ##types
  libr/core/cmd_type.c
  test/new/db/cmd/types
Labels: command

#16428 Fix #16394 - Make pm [file] work again ##print
  libr/core/cmd.c
  libr/core/cmd_print.c
  test/new/db/cmd/cmd_search
Labels: command

#16441 Run AppVeyor tests only for 2 jobs
  .appveyor.yml
Labels: infrastructure

#16437 Remove nvm from macOS Travis
  .travis.yml
Labels: infrastructure

#16440 Try to fix spurious errors in AppVeyor
  .appveyor.yml
Labels: infrastructure

#16410 R2R for Windows
  .appveyor.yml
  binr/r2r/r2r.c
  binr/r2r/r2r.h
  binr/r2r/run.c
  libr/core/cbin.c
  libr/include/r_util/r_str.h
  libr/util/str.c
  test/new/db/cmd/cmd_fuzzed
Labels: API, infrastructure, r2r

#16431 Fix #16281 - Do not load system-wide plugins twice ##core
  libr/core/libs.c
Labels: waiting-info

#16442 WIP: Create more GitHub action jobs for meson and gcc/clang
  .github/workflows/ccpp.yml
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
Labels: infrastructure

#16445 Remove old R2R in JavaScript
  test/Attic/r2r
  test/Attic/r2r.1
  test/new/package.json
  test/new/travis/bin.js
  test/new/travis/index.js
  test/new/travis/package.json
Labels: r2r

#16454 Add GitHub actions for push to master as well
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
Labels: infrastructure

#16447 Use RPVector for io->maps
  libr/bin/p/bin_elf.inc
  libr/bin/p/bin_mach0.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_open.c
  libr/core/cmd_search.c
  libr/core/linux_heap_glibc.c
  libr/core/visual.c
  libr/include/r_io.h
  libr/include/r_vector.h
  libr/io/desc.c
  libr/io/io.c
  libr/io/map.c
Labels: RBin, command, visual

#16458 Fix #16436 - OOBREAD in argv with rasm2 -E
  libr/main/rasm2.c
Labels: rasm2

#16456 Run Fuzz Tests with r2r
  binr/r2r/load.c
  binr/r2r/r2r.c
  binr/r2r/r2r.h
  binr/r2r/run.c
  libr/include/r_util/r_file.h
  libr/util/file.c
  test/Makefile
Labels: API, r2r

#16457 Some random cleanups in RUtil
  libr/include/r_util/r_graph.h
  libr/include/r_util/r_name.h
  libr/include/r_util/r_stack.h
  libr/main/rasm2.c
  libr/util/bitmap.c
  libr/util/flist.c
  libr/util/graph.c
  libr/util/log.c
  libr/util/mem.c
  libr/util/name.c
  libr/util/print.c
  libr/util/rbtree.c
  libr/util/seven.c
  libr/util/signal.c
  libr/util/spaces.c
  libr/util/stack.c
  libr/util/vector.c
Labels: API, rasm2

#16468 Pass argument by pointer
  libr/anal/p/anal_ws.c
Labels: RAnal

#16467 Remove some travis builds as there are already GH actions
  .travis.yml
Labels: infrastructure

#16465 Fix a LGTM alert
  libr/core/cmd_print.c
Labels: command

#16469 Make dyldcache accelerator info optional ##bin
  libr/bin/p/bin_dyldcache.c
Labels: RBin

#16472 Fix #16389 - r2r -qv and r2 -v to show version and quiet versions
  binr/r2r/r2r.c
  libr/include/r_util/r_str.h
  libr/main/Makefile
  libr/main/main.c
  libr/main/meson.build
  libr/main/version.c
  libr/util/str.c
  man/r2r.1
Labels: API, r2r

#16473 Fix #16305 - UAF in @@@{r,i,s,S,b} as well as add some help for `oc`
  libr/core/cmd.c
  libr/core/cmd_open.c
Labels: command

#16476 Allow to run travis jobs if special branch names are used
  .github/workflows/pr.yaml
  .travis.yml
Labels: infrastructure

#16470 Fix #14371 - Make wfs paired with wts, rename wfs to wfx ##io
  binr/rafind2/rafind2.c
  libr/core/cmd_write.c
  test/new/db/cmd/cmd_wfs
Labels: command, rafind2

#16427 Fix #16210 - Show error message and update help for `we` ##io
  libr/core/cio.c
  libr/core/cmd_write.c
  libr/include/r_core.h
  test/new/db/cmd/write
Labels: command

#16466 Add interactive mode to r2r
  binr/r2r/load.c
  binr/r2r/r2r.c
  binr/r2r/r2r.h
Labels: r2r

#16419 When computing relocations, use DYNAMIC segment if available
  libr/bin/format/elf/elf.c
  test/new/db/formats/elf/reloc
Labels: ELF

#16446 Fix COFF symbols/imports info
  libr/bin/format/coff/coff_specs.h
  libr/bin/p/bin_coff.c
  test/new/db/formats/coff
Labels: RBin

#16385 Implement r_table_uniq
  libr/include/r_list.h
  libr/include/r_util/r_table.h
  libr/util/table.c
  test/unit/test_table.c
Labels: API, FEEDBACK WANTED, r2r

#16484 Remove one level of indirection from PJ
  libr/include/r_util/pj.h
  libr/util/pj.c
Labels: API

#16384 Fix shellcode customization
  libr/egg/p/egg_exec.c
Labels: REgg

#16486 Fix a LGTM alert
  libr/bin/p/bin_dex.c
Labels: RBin

#16481 Run newshell tests when PR is newshell-*
  .github/workflows/ci.yaml
  .github/workflows/newshell.yml
Labels: infrastructure

#16490 Add rust lang support to iD command
  libr/core/cmd_info.c
Labels: command

#16487 Fix 2 LGTM alerts
  libr/bin/p/bin_dex.c
Labels: RBin

#16499 Fix a LGTM alert
  libr/bin/p/bin_dex.c
Labels: RBin

#16496 Fix #16327 - Search in range with io.va=false ##search
  libr/core/cmd_search.c
Labels: command

#16500 Fix #16283 - Continue as normal even if detachee is not found
  libr/core/cmd_open.c
  libr/io/p/io_ptrace.c
  test/new/db/archos/linux-x64/dbg_oo
Labels: RIO, command

#16510 Fix #15165 - Assert in empty esil string for ARC emulation
  libr/core/cmd_anal.c
Labels: command

#16509 Fix #16455 - iij asserts for ld-uclibc with a null import ##bin
  libr/core/cbin.c
  test/new/db/formats/elf/crash
Labels: ELF, RBin, rabin2

#16471 Fix #16109 - Add R_SYS_ARCH for s390x ##ports
  libr/asm/asm.c
  libr/include/r_types.h
Labels: RAnal

#16520 Fix Build on NetBSD
  libr/debug/p/native/bsd/bsd_debug.c
  libr/util/meson.build
Labels: BSD

#16505 Fix #16432 - openbsd fork+attach EBUSY issue ##debug
  libr/io/p/io_debug.c
  libr/io/p/io_ptrace.c
Labels: RIO

#16529 Don't use colors in json mode and fix some bugs.
  libr/core/cmd_debug.c
  test/new/db/cmd/cmd_dr
Labels: command

#16536 Fix #16532 - remove outdated JS build files
  sys/build/Makefile
  sys/build/make.js/index.js
  sys/build/make.js/utils.js
  sys/build/radare2.js
  sys/build/stress.js
Labels: buildsystem

#16537 Fix memory leak in /ad/ using r_regex api wrongly ##search
  libr/core/casm.c
  libr/util/regex/regcomp.c
  sys/find-regression.sh
Labels: RUtil

#16538 WIP: Fix segfaults in fuzzed bins
  libr/bin/bfile.c
  libr/bin/bin.c
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_dex.c
  libr/egg/p/egg_exec.c
Labels: RBin, REgg

#16541 Fix 16407 - Publish the emscripten builds
  .travis.yml
  sys/emscripten.sh
Labels: infrastructure

#16545 Add some extern C to headers.
  libr/include/r_util/pj.h
  libr/include/r_util/r_table.h
Labels: API

#16534 Initial refactoring of the rap:// protocol (-75 LOC) ##socket
  libr/bin/p/bin_dyldcache.c
  libr/bin/p/bin_xnu_kernelcache.c
  libr/core/core.c
  libr/core/rtr.c
  libr/include/r_core.h
  libr/include/r_io.h
  libr/include/r_socket.h
  libr/io/Makefile
  libr/io/io_desc.c
  libr/io/io_fd.c
  libr/io/io_map.c
  libr/io/ioutils.c
  libr/io/meson.build
  libr/io/p/io_debug.c
  libr/io/p/io_r2k_linux.c
  libr/io/p/io_rap.c
  libr/socket/Makefile
  libr/socket/meson.build
  libr/socket/socket.c
  libr/socket/socket_http.c
  libr/socket/socket_http_server.c
  libr/socket/socket_proc.c
  libr/socket/socket_rap_client.c
  libr/socket/socket_rap_server.c
  libr/socket/socket_serial.c
Labels: RBin, RIO

#16546 Minor Fixes for XRefs
  libr/anal/xrefs.c
  libr/include/r_anal.h
  test/unit/meson.build
  test/unit/test_anal_xrefs.c
Labels: r2r

#16523 Improve COFF symbol info
  libr/bin/format/coff/coff_specs.h
  libr/bin/p/bin_coff.c
  test/new/db/formats/coff
Labels: RBin

#16542 Fix asserts when trying to use a unexistant or wrong analysis plugin ##anal
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/core/core.c
Labels: command

#16497 Fix various lgtm warning
  libr/asm/asm.c
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_dyldcache.c
  libr/core/cmd_print.c
  libr/core/linux_heap_glibc.c
  libr/core/p/core_java.c
  libr/core/visual.c
  libr/include/r_io.h
  libr/include/r_util/r_print.h
  libr/socket/run.c
  libr/util/print.c
  sys/clang-format-diff.py
Labels: API, RBin, RCore, command, visual

#16522 Tricore analysis support.
  libr/anal/meson.build
  libr/anal/p/Makefile
  libr/anal/p/anal_tricore.c
  libr/anal/p/tricore.mk
  libr/asm/arch/tricore/README.md
  libr/include/r_anal.h
  libr/meson.build
  plugins.def.cfg
  test/new/db/anal/tricore
Labels: RAnal

#16554 Fix some GCC 9.3.0 warnings
  binr/r2agent/r2agent.c
  binr/radiff2/radiff2.c
  binr/ragg2/ragg2.c
  binr/rahash2/rahash2.c
  binr/rarun2/rarun2.c
Labels: radiff2, ragg2, rahash2, rarun2

#16556 Fix tricore build on Windows
  libr/anal/p/anal_tricore.c
Labels: RAnal

#16561 Proper multiplication overflow test
  libr/bin/p/bin_bflt.c
Labels: RBin

#16565 Fix off by one when checking for "zzz"
  libr/core/cmd_info.c
Labels: command

#16568 Fix off by one in "dr*" matching
  libr/io/p/io_winedbg.c
Labels: RIO

#16583 Fix 2 LGTM alerts
  libr/core/cmd_debug.c
  libr/core/cmd_meta.c
Labels: command

#16548 Remove some useless members from RAnalVar
  libr/anal/var.c
  libr/core/anal_tp.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/include/r_core.h
  libr/include/r_parse.h
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_mips_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
Labels: RParse

#16588 Improve newshell.yaml and use better names for GH builds
  .github/workflows/ci.yaml
  .github/workflows/newshell.yml
  .github/workflows/pr.yaml
Labels: infrastructure

#16597 Fix 2 LGTM alerts
  libr/core/cmd_debug.c
Labels: command

#16586 newshell - Add support for `pf` commands
  libr/core/cmd.c
  libr/core/cmd_type.c
  libr/core/r2-shell-parser-cmds.inc
  shlr/Makefile
  shlr/meson.build
Labels: command, infrastructure, pf

#16603 Improve dyldcache bin plugin ##bin
  libr/bin/format/mach0/mach0_specs.h
  libr/bin/p/bin_dyldcache.c
Labels: RBin

#16585 Fix some memory leaks.
  libr/core/cmd.c
  libr/core/cmd_print.c
Labels: command

#16610 Fix dyldcache malformed local symbol ##bin
  libr/bin/p/bin_dyldcache.c
Labels: RBin

#16605 Add some header guards
  libr/asm/arch/hexagon/hexagon.h
  libr/asm/arch/hexagon/hexagon_insn.h
  libr/fs/types.h
  libr/hash/sha1.h
Labels: waiting-for-author

#16604 Initial generic reference counting ##util
  libr/include/r_types.h
  test/unit/test_util.c
Labels: WIP, r2r, test-required

#16607 Add support for foreach commands ##newshell
  libr/core/cmd.c
  libr/core/r2-shell-parser-cmds.inc
  shlr/Makefile
  shlr/meson.build
Labels: command

#16618 r_core_seek accepts a boolean as 3rd argument
  libr/core/agraph.c
  libr/core/cbin.c
  libr/core/cfile.c
  libr/core/cio.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_type.c
  libr/core/cmd_write.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/p/core_java.c
  libr/core/panels.c
  libr/core/visual.c
  libr/core/visual_tabs.inc
  libr/core/vmarks.c
  libr/core/vmenus.c
  libr/core/vmenus_graph.c
  libr/core/vmenus_zigns.c
  libr/core/yank.c
  libr/main/radare2.c
Labels: RCore, command, panel, radare2, visual

#16547 Refactor Variables out of SDB ##anal
  libr/anal/function.c
  libr/anal/op.c
  libr/anal/var.c
  libr/core/anal_tp.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_meta.c
  libr/core/cmd_type.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/vmenus.c
  libr/include/r_anal.h
  libr/include/r_parse.h
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_mips_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
Labels: RParse, command, vars

#16625 Fix cmd_substitution in grep_specifier ##newshell
  libr/core/cmd.c
  libr/core/r2-shell-parser-cmds.inc
  shlr/Makefile
  shlr/meson.build
  test/db/cmd/metadata
  test/db/cmd/sugar
Labels: command

#16627 Refactor printformat
  libr/core/visual.c
Labels: visual

#16629 Remove r_pvector_upper_bound() and add r_vector_lower_bound()
  libr/include/r_vector.h
  test/unit/test_vector.c
Labels: r2r

#16633 Suppress 4 LGTM alerts
  libr/main/rax2.c
Labels: rax2

#16632 Refactor Variable Accesses out of SDB
  libr/anal/function.c
  libr/anal/var.c
  libr/core/anal_tp.c
  libr/core/cmd_anal.c
  libr/core/cmd_open.c
  libr/core/cmd_type.c
  libr/core/disasm.c
  libr/core/vmenus.c
  libr/include/r_anal.h
  libr/include/r_parse.h
  libr/parse/p/parse_mips_pseudo.c
  test/unit/meson.build
  test/unit/test_anal_var.c
Labels: RParse, command, r2r

#16631 Suppress 2 LGTM alerts
  libr/bin/mangling/microsoft_demangle.c
  libr/core/cbin.c
  libr/core/visual.c
Labels: RBin, visual

#16628 Fix segfault when passing null string to "r_listinfo_new"
  libr/core/visual.c
Labels: visual

#16639 Enforce newshell build from now on
  .github/workflows/newshell.yml
  test/db/cmd/cmd_hash
  test/db/cmd/types
Labels: infrastructure

#16642 Fix null pointer dereference found by Infer
  libr/core/cmd_info.c
Labels: command

#16641 gdb arch reg profile memory leak fix ##debug
  shlr/gdb/src/arch.c
Labels: gdb

#16652 Fix warning when building without treesitter
  libr/core/cmd.c
Labels: command

#16651 Honor cfg.debug in arp/drp ##debug
  libr/core/cmd_debug.c
Labels: command

#16657 Rasm clean
  libr/asm/asm.c
  libr/include/r_asm.h
  libr/main/rasm2.c
Labels: rasm2

#16658 Some random fixes here and there
  libr/core/libs.c
  libr/core/p/core_a2f.c
  libr/include/r_types.h
Labels: RCore

#16662 Remove dex_uleb128.inc
  libr/bin/format/dex/dex.c
  libr/bin/format/dex/dex.h
  libr/bin/format/dex/dex_uleb128.inc
  libr/bin/p/bin_dex.c
  libr/include/r_util/r_uleb128.h
  libr/util/uleb128.c
Labels: API, RBin

#16650 Add missing r_vector_fini implementation ##util
  libr/include/r_vector.h
  libr/util/vector.c
  test/unit/test_vector.c
Labels: r2r

#16672 Fix 2 LGTM alerts
  libr/io/p/io_gdb.c
Labels: RIO, gdb

#16670 fix unfixed covs (resource leaks, null ptr deref)
  binr/r2r/load.c
  binr/r2r/r2r.c
  libr/core/cmd_debug.c
  libr/core/cmd_write.c
  libr/util/table.c
Labels: command, r2r

#16530 Refactor of elf.c and remove reference to section name in get_import_addr
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
  test/db/formats/elf/elf-relro
  test/db/formats/elf/symbols
Labels: RBin, WIP, infrastructure

#16681 Handle 'q' to interrumpt prompt in newshell ##newshell
  libr/core/cmd.c
  libr/include/r_core.h
  shlr/radare2-shell-parser/corpus/simple_commands.txt
  shlr/radare2-shell-parser/grammar.js
  shlr/radare2-shell-parser/src/grammar.json
  shlr/radare2-shell-parser/src/parser.c
  test/db/cmd/cmd_pd
Labels: command

#16691 Restore newshell tests in master branch
  .github/workflows/ci.yaml
Labels: infrastructure

#16679 tree-sitter: add option to build with system library
  meson.build
  meson_options.txt
  shlr/meson.build
Labels: newshell

#16699 Add support for >? help_command
  libr/core/cmd.c
  shlr/radare2-shell-parser/corpus/simple_commands.txt
  shlr/radare2-shell-parser/src/scanner.c
Labels: command, newshell

#16630 x86_64: Support mov r64, 0xffffffffffffffff
  libr/asm/p/asm_x86_nz.c
  libr/main/rasm2.c
  libr/util/unum.c
  test/db/asm/x86_64
Labels: API, rasm2

#16701 Don't start panel mode when noninteractive.
  libr/core/cmd.c
  test/db/cmd/cmd_visual
Labels: command

#16703 Pass parsed arguments directly to RCmd
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/include/r_cmd.h
  test/unit/meson.build
  test/unit/minunit.h
  test/unit/test_cmd.c
Labels: command, input, r2r

#16693 Support relative temporary seek in cfg.newshell
  libr/core/cmd.c
  test/db/cmd/cmd_seek
Labels: command, waiting-for-review

#16569 Fix off size argument in strncmp call in http server
  libr/socket/socket_http_server.c
Labels: waiting-for-review

#16661 Remove inferior GNU Hexagon plugin
  libr/asm/arch/hexagon/gnu/hexagon-dis.c
  libr/asm/arch/hexagon/gnu/hexagon-opc.c
  libr/asm/arch/hexagon/gnu/opcode/hexagon.h
  libr/asm/arch/hexagon/gnu/opcode/hexagon_asm_maps.h
  libr/asm/arch/hexagon/gnu/opcode/hexagon_iset_v2.h
  libr/asm/arch/hexagon/gnu/opcode/hexagon_iset_v3.h
  libr/asm/arch/hexagon/gnu/opcode/hexagon_iset_v4.h
  libr/asm/arch/hexagon/gnu/opcode/hexagon_iset_v5.h
  libr/asm/arch/hexagon/gnu/safe-ctype.c
  libr/asm/p/asm_hexagon_gnu.c
  libr/asm/p/hexagon_gnu.mk
Labels: waiting-for-author

#16664 Remove hardcoded supported encoders names
  libr/core/cmd_write.c
  libr/crypto/crypto.c
  libr/include/r_crypto.h
Labels: API, RBin, command, infrastructure, waiting-for-review

#16692 Avoid defining unused is_ts_* functions
  libr/core/cmd.c
Labels: command, waiting-for-review

#16705 Unify the relocations loading
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
Labels: RBin, merge-when-green

#16715 Refactor Variable comments from SDB into RAnalVar
  libr/anal/meta.c
  libr/anal/var.c
  libr/core/cmd_meta.c
  libr/core/disasm.c
  libr/include/r_anal.h
  test/db/anal/x86_64
  test/db/cmd/cmd_meta
Labels: command

#16714 r2r: Enable ANSI esc seqs on Windows
  binr/r2r/r2r.c
Labels: r2r

#16717 Fixes for windows debugger
  libr/debug/p/debug_native.c
  libr/debug/p/native/maps/windows_maps.c
  libr/debug/p/native/windows/windows_debug.c
  libr/io/p/io_debug.c
  libr/io/p/io_w32dbg.c
  shlr/w32dbg_wrap/include/w32dbg_wrap.h
  shlr/w32dbg_wrap/src/w32dbg_wrap.c
Labels: RDebug, RIO, Windows

#16728 Fix AppVeyor build by fixing Meson version
  .appveyor.yml
Labels: infrastructure

#16649 Implement r_strbuf_setptr API ##util
  libr/include/r_util/r_strbuf.h
  libr/util/strbuf.c
  test/unit/test_strbuf.c
Labels: API, r2r, waiting-for-author

#16718 Avoid the use of 'for (int' constructions ##build
  libr/core/cmd.c
  libr/core/windows_heap.c
  libr/debug/p/native/windows/windows_debug.c
  test/unit/test_list.c
  test/unit/test_table.c
Labels: command, r2r

#16644 Fix autodetection dbdir in r2r @unit ##tests
  binr/r2r/r2r.c
Labels: r2r, waiting-for-author

#16734 Boolify some RUtil.file APIs
  libr/include/r_util/r_file.h
  libr/main/rabin2.c
  libr/util/chmod.c
  libr/util/file.c
Labels: API, rabin2

#16733 3.5x faster DEX loading parsing debug_info section ##bin
  libr/bin/p/bin_dex.c
Labels: RBin

#16706 Reduce memory usage in DEX files by caching the getstr calls ##bin
  libr/anal/meta.c
  libr/bin/format/dex/dex.c
  libr/bin/format/dex/dex.h
  libr/bin/p/bin_dex.c
  libr/include/r_vector.h
Labels: RBin, waiting-for-author

#16740 Fix some coverities
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
  libr/core/cmd.c
  libr/core/cmd_api.c
Labels: RBin, command

#16694 Do not redefine assert in dis.c
  libr/asm/arch/xap/dis.c
  shlr/grub/fs/reiserfs.c
Labels: FEEDBACK WANTED, waiting-for-author

#16648 Fix regression loading large files (>2GB) on 32bit systems ##io
  libr/anal/pin.c
  libr/include/r_types.h
  libr/io/p/io_default.c
Labels: RIO, WIP, waiting-for-author

#16712 Centos6 build
  .github/workflows/centos6.yml
  .github/workflows/ci.yaml
  binr/r2r/Makefile
  config-user.mk.acr
  configure
  configure.acr
  libr/anal/block.c
  libr/core/Makefile
  libr/debug/p/debug_native.c
  libr/debug/p/native/linux/linux_debug.c
Labels: RDebug, command, infrastructure, r2r, waiting-for-review

#16745 Aim to fix the debian package for "Xenial"
  .travis.yml
  sys/debian/radare2/CONFIG
Labels: infrastructure
