Repository radareorg/radare2, pull requests merged in 2020-01, with the labels that each got.

#15745 Fix wrong filtering of equals sign on PDB enum define
  libr/bin/pdb/pdb.c
  test/new/db/formats/pdb
Labels: RBin

#15738 Fix #15734 - Automatically download PDB file if pdb.autoload=1
  libr/bin/pdb/pdb_downloader.c
  libr/debug/p/debug_native.c
Labels: RBin, RDebug

#15741 Fix windows dp showing the parent's path for all processes
  libr/debug/p/native/windows/windows_debug.c
Labels: RDebug, Windows

#15740 Make the decompiler cache work properly ##panels
  libr/core/panels.c
Labels: panel

#15748 All the available decompilers outputs will be properly shown
  libr/core/panels.c
Labels: panel

#15744 Add location in file to linux dpt output ##debug
  libr/debug/p/debug_native.c
  libr/debug/p/native/linux/linux_debug.c
  libr/debug/p/native/linux/linux_debug.h
Labels: Linux OS, RDebug

#15749 Fix hardware bp restoring and fix hwbp repeating errors ##debug
  libr/debug/p/debug_native.c
  libr/debug/p/native/drx.c
Labels: RDebug

#15750 Validate bp addr on rebase and restore instead of preventing creation
  libr/bp/bp.c
  libr/bp/bp_io.c
  libr/core/cmd_debug.c
  libr/core/core.c
  libr/debug/debug.c
  libr/include/r_bp.h
Labels: command

#15742 Add RISC-V 64 word instructions and test
  libr/anal/p/anal_riscv.c
  test/new/db/esil/riscv_32
  test/new/db/esil/riscv_64
Labels: RAnal

#15753 Some random diffing improvements, still incomplete
  libr/core/cmd_cmp.c
  libr/core/cmd_debug.c
  libr/core/panels.c
  libr/util/diff.c
Labels: command, panel

#15754 Refactor breakpoint validation
  libr/bp/bp.c
  libr/bp/bp_io.c
  libr/core/cconfig.c
  libr/core/cmd_debug.c
  libr/core/core.c
  libr/include/r_bind.h
  libr/include/r_bp.h
  test/new/db/archos/linux-x64/dbg_bps
  test/new/db/archos/linux-x64/dbg_seginfo
Labels: command

#15756 Code clean-up and a little performance improvement for decompiler cache ##panels
  libr/core/panels.c
Labels: panel

#15743 Fix reading on invalid process memory ##windows
  libr/io/p/io_w32dbg.c
Labels: RDebug, RIO, Windows

#15739 Fix izzzj json
  libr/bin/bfile.c
  libr/core/cmd_info.c
  test/new/db/cmd/cmd_i
Labels: command, json

#15760 izzzj: Use pj api
  libr/bin/bfile.c
  libr/core/cmd_info.c
  test/new/db/cmd/cmd_i
Labels: command

#15765 Fix double free in r_bp_del_index and other breakpoint index bugs
  libr/bp/bp.c
  libr/core/cmd_debug.c
  test/new/db/archos/linux-x64/dbg_bps
Labels: command

#15762 Performance improvements for the cursor mode ##panels
  libr/core/panels.c
Labels: panel

#15769 Do not compile radare2-shell-parser by default
  configure
  configure.acr
  libr/core/Makefile
  libr/core/cmd.c
  libr/include/r_userconf.h.acr
  meson.build
  meson_options.txt
  shlr/Makefile
  shlr/meson.build
Labels: command

#15761 Add private key search for elliptic curve private keys
  libr/core/cmd_search.c
  libr/include/r_search.h
  libr/search/Makefile
  libr/search/meson.build
  libr/search/privkey-find.c
  libr/search/rsa-find.c
  test/new/db/cmd/cmd_search_hit
Labels: command

#15678 Fix #15331 - rabin2 -rk code injection issue
  libr/core/cbin.c
  libr/core/cmd_open.c
  libr/include/r_core.h
  libr/main/radare2.c
Labels: command, radare2

#15774 Some coverity fixes
  libr/bin/format/le/le.c
  libr/bin/format/ne/ne.c
  libr/bin/pdb/pdb_downloader.c
  libr/core/agraph.c
  libr/core/cbin.c
  libr/core/cfile.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/core.c
  libr/core/fortune.c
  libr/core/linux_heap_glibc.c
  libr/debug/p/debug_windbg.c
  libr/lang/p/cpipe.c
  libr/main/radare2.c
  libr/util/intervaltree.c
Labels: RBin, RDebug, RLang, command, radare2

#15776 Add null to pj and use for relocs
  libr/core/cbin.c
  libr/include/r_util/pj.h
  libr/util/pj.c
Labels: API

#15778 Offset for each panel was not right
  libr/core/panels.c
Labels: panel

#15780 ww: Support esc seqs
  libr/core/cmd_write.c
  test/new/db/cmd/cmd_pd
Labels: command

#15773 Add s390x reg profile
  libr/debug/p/native/linux/linux_debug.c
  libr/debug/p/native/linux/reg/linux-s390x.h
Labels: RDebug

#15782 Linux multithread debug fixes
  libr/debug/debug.c
  libr/debug/p/debug_native.c
  libr/debug/p/native/linux/linux_debug.c
  libr/debug/p/native/linux/linux_debug.h
Labels: RDebug

#15784 Some coverity fixes
  libr/cons/input.c
  libr/core/cmd.c
  libr/core/vmenus_graph.c
  libr/debug/debug.c
  libr/main/radare2.c
  shlr/gdb/src/gdbclient/xml.c
Labels: command, radare2

#15786 C prototypes fixed
  libr/include/r_lib.h
  libr/include/r_util/r_rbtree.h
  libr/include/r_util/r_table.h
Labels: API

#15787 Enable cfg.debug before running oodf in doof ##debug
  libr/core/cmd_debug.c
Labels: command

#15792 Fix crash caused by rebasing a file without sections ##debug
  libr/core/cmd_open.c
Labels: command

#15702 Improve realname support for symbols
  libr/anal/anal.c
  libr/bin/bin.c
  libr/bin/filter.c
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/format/mach0/mach0.c
  libr/bin/format/mach0/mach0.h
  libr/bin/format/mdmp/mdmp_pe.c
  libr/bin/format/nxo/nxo.c
  libr/bin/format/pe/pe.c
  libr/bin/format/pe/pe.h
  libr/bin/p/bin_dex.c
  libr/bin/p/bin_elf.inc
  libr/bin/p/bin_mach0.c
  libr/bin/p/bin_pe.inc
  libr/bin/p/bin_wasm.c
  libr/core/anal_tp.c
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/disasm.c
  libr/include/r_bin.h
  shlr/java/class.c
  test/new/db/anal/x86_32
  test/new/db/anal/x86_64
  test/new/db/cmd/cmd_i
  test/new/db/cmd/cmd_pd
  test/new/db/cmd/cmd_pd2
  test/new/db/formats/coff
  test/new/db/formats/dex
  test/new/db/formats/elf/elf-relro
  test/new/db/formats/elf/elf-riscv64
  test/new/db/formats/elf/reloc
  test/new/db/formats/elf/riscv
  test/new/db/formats/elf/simple
  test/new/db/formats/elf/symbols
  test/new/db/formats/le
  test/new/db/formats/mach0/fatmach0
  test/new/db/formats/mangling/bin
  test/new/db/formats/mdmp
  test/new/db/formats/ne
  test/new/db/formats/omf
  test/new/db/formats/pe/a2
  test/new/db/formats/pe/export_names
  test/new/db/formats/pe/import_names
  test/new/db/formats/pe/imports
  test/new/db/formats/pe/imports_tinyW7
  test/new/db/formats/pe/mz
  test/new/db/formats/pe/normal64
  test/new/db/formats/pe/pe
  test/new/db/formats/xbe
  test/new/db/tools/rabin2
Labels: RBin

#15795 Fix a small bug by removing some useless codes
  libr/core/panels.c
  libr/include/r_cons.h
Labels: panel

#15802 Some coverity fixes
  libr/anal/sign.c
  libr/bin/bin.c
  libr/bin/demangle.c
  libr/bin/p/bin_dex.c
  libr/bin/p/bin_qnx.c
  libr/bin/p/bin_xnu_kernelcache.c
  libr/bin/pdb/pdb_downloader.c
  libr/cons/hud.c
  libr/core/canal.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_flag.c
  libr/core/cmd_open.c
  libr/core/cmd_write.c
  libr/lang/p/v.c
  libr/main/rabin2.c
Labels: RBin, RLang, command, rabin2

#15814 Added reverse step and continue support to gdbr ##debug
  libr/io/p/io_gdb.c
  shlr/gdb/src/common.c
Labels: RIO, gdb

#15169 Refactor RAnal Basic Blocks and Functions ##anal
  libr/anal/Makefile
  libr/anal/anal.c
  libr/anal/anal_ex.c
  libr/anal/bb.c
  libr/anal/block.c
  libr/anal/class.c
  libr/anal/diff.c
  libr/anal/fcn.c
  libr/anal/flirt.c
  libr/anal/function.c
  libr/anal/meson.build
  libr/anal/meta.c
  libr/anal/p/anal_java.c
  libr/anal/sign.c
  libr/anal/state.c
  libr/core/agraph.c
  libr/core/anal_tp.c
  libr/core/blaze.c
  libr/core/canal.c
  libr/core/carg.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_type.c
  libr/core/cmd_zign.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/gdiff.c
  libr/core/p/core_java.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/core/vmenus_graph.c
  libr/debug/map.c
  libr/include/r_anal.h
  libr/include/r_anal_ex.h
  libr/include/r_bind.h
  libr/include/r_core.h
  libr/include/r_debug.h
  libr/include/r_list.h
  libr/main/rax2.c
  libr/util/list.c
  test/new/db/anal/mach0
  test/new/db/anal/x86_32
  test/new/db/anal/x86_64
  test/new/db/cmd/cmd_afb
  test/new/db/cmd/cmd_pd_bugs
  test/unit/test_anal_block.c
Labels: API, RAnal, command

#15746 Apply types on matching zignature data ##signatures
  libr/anal/sign.c
  libr/core/cmd_anal.c
  libr/core/cmd_zign.c
  libr/include/r_anal.h
  libr/include/r_sign.h
  test/new/db/cmd/cmd_zignature
Labels: command, types, zignatures

#15817 Remove Custom Analysis for Java
  libr/anal/Makefile
  libr/anal/anal_ex.c
  libr/anal/fcn.c
  libr/anal/meson.build
  libr/anal/p/anal_java.c
  libr/anal/state.c
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/disasm.c
  libr/core/p/core_java.c
  libr/include/r_anal.h
  libr/include/r_anal_ex.h
  libr/meson.build
  shlr/java/code.c
  shlr/java/ops.c
  shlr/java/ops.h
  test/new/db/cmd/cmd_i
Labels: RAnal, RCore, java

#15821 Support extras tests in r2r.v
  test/src/.gitignore
  test/src/r2r.v
Labels: r2r

#15827 Show flag realname when finding a function and realname is enabled ##disasm
  libr/core/core.c
  libr/parse/filter.c
  libr/parse/p/parse_x86_pseudo.c
  libr/parse/parse.c
Labels: RParse

#15829 Mach-O io: mem leak fix proposal.
  libr/io/p/io_mach.c
Labels: RIO

#15839 Resizing works not perfectly yet but close
  libr/core/panels.c
  libr/include/r_util/r_panels.h
Labels: API, panel

#15838 Add ?V0 ?V1 ?V2 - for semver support ##core
  libr/core/cmd_help.c
Labels: command

#15844 More fix for resizing issue
  libr/core/panels.c
  libr/include/r_cons.h
Labels: panel

#15846 Fix #14424 - Handle ~ operator in the `ms` shell ##cons
  libr/anal/fcn.c
  libr/cons/cons.c
  libr/cons/grep.c
  libr/core/core.c
  libr/fs/fs.c
  libr/fs/p/fs_grub_base.c
  libr/fs/shell.c
  libr/include/r_cons.h
  libr/include/r_fs.h
Labels: Rfs

#15830 Coverity fixes
  libr/anal/sign.c
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_dex.c
  libr/core/canal.c
  libr/core/cmd_flag.c
  libr/core/cmd_log.c
  libr/core/cmd_open.c
  libr/core/cmd_zign.c
  libr/core/panels.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/util/table.c
Labels: RBin, command, panel, visual

#15845 Atl flagtable
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/core/cmd_flag.c
  libr/core/cmd_zign.c
Labels: command

#15854 Update radare2-shell-parser
  libr/core/cmd.c
  shlr/Makefile
  shlr/meson.build
Labels: command

#15847 Fix afs not working without rettype ##anal
  libr/core/cmd_anal.c
  test/new/db/cmd/types
Labels: command

#15796 Enable V testsuite on GitHub CI
  .github/workflows/ccpp.yml
Labels: buildsystem, infrastructure, r2r

#15864 Fix #15764: Implemented PMJ
  libr/core/cmd_magic.c
  libr/core/cmd_print.c
Labels: command

#15865 Fix #15789: Increment offset for reads as well
  libr/io/p/io_malloc.c
Labels: RIO

#15872 hacky fix for a resizing issue but fine for now
  libr/core/panels.c
Labels: panel

#15875 Update radare2-shell-parser and improve tree-sitter related code in cmd.c
  libr/core/cmd.c
  libr/include/r_core.h
  shlr/Makefile
  shlr/meson.build
Labels: command

#15879 Run a travis job to use the radare2-shell-parser
  .travis.yml
  libr/core/cconfig.c
  libr/core/cmd.c
  shlr/Makefile
  shlr/meson.build
  travis-script
Labels: command, infrastructure

#15883 Various little mem leak fixes proposal
  libr/anal/esil_dfg.c
  libr/bin/format/xnu/r_cf_dict.c
Labels: ESIL

#15887 Add undocumented waF command to help
  libr/core/cmd_write.c
Labels: command

#15889 Add undocumented waF* command and make it a dry-run as wa*
  libr/core/cmd_write.c
Labels: command

#15898 Remove unused Function Tree and Fix Relocate
  libr/anal/anal.c
  libr/anal/function.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  test/unit/test_anal_block.c
  test/unit/test_anal_block_invars.inl
  test/unit/test_anal_function.c
Labels: RAnal

#15896 Added arm64 ESIL for bic
  libr/anal/p/anal_arm_cs.c
  test/new/db/esil/arm_64
Labels: RAnal

#15895 fixed some out of bounds and null pointers in LE
  libr/bin/format/le/le.c
  libr/bin/p/bin_le.c
Labels: RBin

#15904 Fix spelling errors
  doc/macos.md
  libr/anal/p/anal_riscv.c
  libr/asm/arch/hppa/gnu/hppa-dis.c
  libr/asm/arch/xtensa/gnu/xtensa-dis.c
  libr/bin/mangling/cxx/cp-demangle.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/core/visual.c
  libr/core/windows_heap.c
  shlr/gdb/src/gdbclient/xml.c
  shlr/qnx/src/core.c
  shlr/www/m/index.html
  shlr/zip/zlib/ChangeLog
  test/new/db/cmd/cmd_print
  test/new/db/tools/radiff2
Labels: RAnal, command, visual, webui

#15903 rasm2: treat reading from stdin the same as reading from a file
  libr/main/rasm2.c
Labels: rasm2

#15908 Respect agAw output file name, simplify common graph format handling.
  libr/core/cmd_anal.c
Labels: command

#15907 Add GitHub template for new pull requests
  .github/PULL_REQUEST_TEMPLATE.md
Labels: templates

#15913 Few code simplifications ##egg
  libr/main/ragg2.c
Labels: ragg2
