Repository radareorg/radare2, pull requests merged in 2020-05, with the labels that each got.

#16755 Fix r2r -i fix for single-line EXPECT=
  binr/r2r/load.c
  binr/r2r/r2r.c
Labels: r2r

#16756 Add F9 continue key to ESIL
  libr/core/visual.c
Labels: visual

#16751 Fix MIPS syscall analysis
  libr/core/cmd_anal.c
  libr/syscall/d/linux-mips-32.sdb.txt
  test/db/esil/mips_32
Labels: RSyscall, command

#16747 Add VT sequences input support ##windows
  libr/cons/cons.c
  libr/cons/dietline.c
  libr/cons/input.c
  libr/cons/line.c
  libr/cons/output.c
  libr/core/cconfig.c
  libr/include/r_cons.h
Labels: Windows

#16741 Change default value inside struct dyn
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
Labels: merge-when-green

#16761 Fix aggressive name filtering for PDB types
  libr/bin/pdb/pdb.c
Labels: PDB, RBin

#16764 Use HtPP for esil ops
  libr/anal/esil.c
  libr/anal/esil_cfg.c
  libr/include/r_anal.h
Labels: ESIL

#16762 PE: Getting exports speedup
  libr/bin/format/pe/pe.c
  libr/include/r_endian.h
Labels: PE

#16485 Fix #16343 - Do not generate numeric structs from unnamed typedefs in "ts" ##types
  libr/core/cmd_type.c
  libr/util/utype.c
  shlr/tcc/libtcc.c
  shlr/tcc/tcc.h
  shlr/tcc/tccgen.c
  test/db/cmd/types
Labels: bug, command, types, waiting-for-author

#16765 Centos tree sitter gnu99
  config-user.mk.acr
  configure
  configure.acr
  shlr/Makefile
Labels: waiting-info

#16773 Add default_cc to RBinInfo
  libr/bin/bin.c
  libr/bin/format/pe/pe.c
  libr/bin/format/pe/pe.h
  libr/bin/p/bin_pe.inc
  libr/core/cbin.c
  libr/include/r_bin.h
  test/db/cmd/cmd_i
  test/db/formats/pe/pe64
Labels: RBin

#16738 Extend RCmdDesc with different types
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/include/r_cmd.h
  test/unit/minunit.h
  test/unit/test_cmd.c
Labels: command, r2r, waiting-for-review

#16774 Remove RCoreCmdStatus and just use RCmdStatus
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/include/r_cmd.h
  libr/include/r_core.h
  test/unit/test_cmd.c
Labels: command, r2r

#16775 Fix compilation warnings related to dex/bin_dex and fix some leak
  libr/bin/format/dex/dex.c
  libr/bin/format/dex/dex.h
  libr/bin/p/bin_dex.c
Labels: RBin, merge-when-green

#16776 Test asan fixes
  libr/anal/function.c
  libr/core/cmd_api.c
  libr/io/io_map.c
  test/unit/test_anal_var.c
  test/unit/test_flags.c
  test/unit/test_list.c
  test/unit/test_table.c
Labels: command, r2r, waiting-for-review

#16716 Refactor Meta out of SDB
  .gitignore
  libr/anal/anal.c
  libr/anal/fcn.c
  libr/anal/meta.c
  libr/anal/reflines.c
  libr/core/anal_objc.c
  libr/core/blaze.c
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/citem.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_eval.c
  libr/core/cmd_meta.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/project.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/include/r_anal.h
  test/db/cmd/cmd_repeats
  test/db/cmd/metadata
  test/db/formats/elf/helloworld-gcc-elf
  test/unit/meson.build
  test/unit/test_anal_meta.c
Labels: API, RAnal, command, r2r, refactor, visual

#16798 Fix potential nullptr dereference in lookup_symbols()
  libr/bin/p/bin_elf.inc
Labels: RBin

#16796 Reduce flicker when doing r2r -V (for some consoles)
  binr/r2r/r2r.c
  libr/include/r_cons.h
Labels: r2r

#16795 Match args name/types from function definition ##anal
  libr/anal/var.c
  libr/core/anal_tp.c
  libr/include/r_util/r_ctypes.h
  libr/util/utype.c
  test/db/anal/x86_64
  test/db/cmd/types
Labels: API

#16803 Cleanup RAnalOpCallback functions
  libr/anal/p/anal_6502.c
  libr/anal/p/anal_6502_cs.c
  libr/anal/p/anal_8051.c
  libr/anal/p/anal_amd29k.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_arm_gnu.c
  libr/anal/p/anal_avr.c
  libr/anal/p/anal_chip8.c
  libr/anal/p/anal_cr16.c
  libr/anal/p/anal_cris.c
  libr/anal/p/anal_ebc.c
  libr/anal/p/anal_gb.c
  libr/anal/p/anal_h8300.c
  libr/anal/p/anal_hexagon.c
  libr/anal/p/anal_i4004.c
  libr/anal/p/anal_i8080.c
  libr/anal/p/anal_m680x_cs.c
  libr/anal/p/anal_m68k_cs.c
  libr/anal/p/anal_malbolge.c
  libr/anal/p/anal_mcore.c
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  libr/anal/p/anal_msp430.c
  libr/anal/p/anal_nios2.c
  libr/anal/p/anal_null.c
  libr/anal/p/anal_or1k.c
  libr/anal/p/anal_ppc_cs.c
  libr/anal/p/anal_ppc_gnu.c
  libr/anal/p/anal_propeller.c
  libr/anal/p/anal_riscv_cs.c
  libr/anal/p/anal_rsp.c
  libr/anal/p/anal_sh.c
  libr/anal/p/anal_snes.c
  libr/anal/p/anal_sparc_cs.c
  libr/anal/p/anal_sparc_gnu.c
  libr/anal/p/anal_sysz.c
  libr/anal/p/anal_tms320c64x.c
  libr/anal/p/anal_v810.c
  libr/anal/p/anal_v850.c
  libr/anal/p/anal_wasm.c
  libr/anal/p/anal_ws.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/p/anal_xcore_cs.c
  libr/anal/p/anal_xtensa.c
  libr/anal/p/anal_z80.c
Labels: RAnal

#16784 Remove INNER nodes and merge inner node with the command with same name
  libr/core/cmd_api.c
  libr/include/r_cmd.h
  test/unit/test_cmd.c
Labels: command, newshell, r2r

#16802 Add pj_reset()
  libr/include/r_util/pj.h
  libr/util/pj.c
  test/unit/meson.build
  test/unit/test_pj.c
Labels: API, r2r

#16811 Add one more word in AES key search and merge Sbox
  libr/crypto/p/crypto_aes_algo.h
  libr/include/r_crypto/r_aes.h
  libr/search/aes-find.c
  test/db/cmd/cmd_wop
Labels: API, RCrypto

#16807 Windows r2r: Actually display emojis (on consoles that support them)
  binr/r2r/r2r.c
Labels: r2r

#16799 Move yxml into shlr
  libr/bin/meson.build
  libr/bin/p/xnu_kernelcache.mk
  shlr/Makefile
  shlr/meson.build
  shlr/yxml/Makefile
  shlr/yxml/yxml.c
  shlr/yxml/yxml.h
Labels: RBin

#16813 Fix #16805 - Fix undefined behaviour in RAnalPlugin<arm.cs>.op()
  libr/anal/p/anal_arm_cs.c
Labels: RAnal

#16814 Rename core.assembler to core.rasm
  libr/core/anal_objc.c
  libr/core/canal.c
  libr/core/casm.c
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/core/cfile.c
  libr/core/cmd_anal.c
  libr/core/cmd_cmp.c
  libr/core/cmd_debug.c
  libr/core/cmd_egg.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_write.c
  libr/core/core.c
  libr/core/disasm.c
  libr/core/hack.c
  libr/core/libs.c
  libr/core/panels.c
  libr/core/vasm.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/include/r_core.h
  libr/main/radiff2.c
Labels: command, panel, radiff2, visual

#16771 Add pyc plugin
  libr/anal/meson.build
  libr/anal/p/anal_pyc.c
  libr/anal/p/anal_rsp.c
  libr/anal/p/pyc.mk
  libr/asm/arch/pyc/opcode.c
  libr/asm/arch/pyc/opcode.h
  libr/asm/arch/pyc/opcode_10.c
  libr/asm/arch/pyc/opcode_11.c
  libr/asm/arch/pyc/opcode_12.c
  libr/asm/arch/pyc/opcode_13.c
  libr/asm/arch/pyc/opcode_14.c
  libr/asm/arch/pyc/opcode_15.c
  libr/asm/arch/pyc/opcode_16.c
  libr/asm/arch/pyc/opcode_20.c
  libr/asm/arch/pyc/opcode_21.c
  libr/asm/arch/pyc/opcode_22.c
  libr/asm/arch/pyc/opcode_23.c
  libr/asm/arch/pyc/opcode_24.c
  libr/asm/arch/pyc/opcode_25.c
  libr/asm/arch/pyc/opcode_26.c
  libr/asm/arch/pyc/opcode_27.c
  libr/asm/arch/pyc/opcode_2x.c
  libr/asm/arch/pyc/opcode_30.c
  libr/asm/arch/pyc/opcode_31.c
  libr/asm/arch/pyc/opcode_32.c
  libr/asm/arch/pyc/opcode_33.c
  libr/asm/arch/pyc/opcode_34.c
  libr/asm/arch/pyc/opcode_35.c
  libr/asm/arch/pyc/opcode_36.c
  libr/asm/arch/pyc/opcode_37.c
  libr/asm/arch/pyc/opcode_38.c
  libr/asm/arch/pyc/opcode_39.c
  libr/asm/arch/pyc/opcode_3x.c
  libr/asm/arch/pyc/opcode_anal.c
  libr/asm/arch/pyc/opcode_arg_fmt.c
  libr/asm/arch/pyc/pyc_dis.c
  libr/asm/arch/pyc/pyc_dis.h
  libr/asm/meson.build
  libr/asm/p/asm_pyc.c
  libr/asm/p/pyc.mk
  libr/bin/format/pyc/marshal.c
  libr/bin/format/pyc/marshal.h
  libr/bin/format/pyc/pyc.c
  libr/bin/format/pyc/pyc.h
  libr/bin/format/pyc/pyc_magic.c
  libr/bin/format/pyc/pyc_magic.h
  libr/bin/meson.build
  libr/bin/p/bin_pyc.c
  libr/bin/p/pyc.mk
  libr/include/r_anal.h
  libr/include/r_asm.h
  libr/include/r_bin.h
  plugins.def.cfg
  sys/clang-format-diff.py
Labels: RAnal, WIP

#16812 When configuring root RCmdDesc node, parent may be NULL
  libr/core/cmd_api.c
Labels: command, radare2

#16516 Add axv and afv= to visualize var R/W accesses ##anal
  libr/core/anal_objc.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  test/db/anal/hexagon
  test/db/anal/msp430
  test/db/anal/vars
  test/db/anal/x86_32
  test/db/anal/x86_64
  test/db/cmd/cmd_af
Labels: command

#16792 Implement the `pci` command print the C byte array + instruction comments ##disasm
  libr/core/cmd_print.c
  libr/include/r_util/r_print.h
  libr/util/Makefile
  libr/util/meson.build
  libr/util/print.c
  libr/util/print_code.c
  test/db/cmd/cmd_pc
Labels: API, command

#16723 Types API
  libr/anal/type.c
  libr/include/r_anal.h
  test/unit/meson.build
  test/unit/test_anal_types.c
Labels: r2r

#16816 Add r_debug_trace_op() API
  libr/core/cmd_anal.c
  libr/debug/trace.c
  libr/include/r_debug.h
Labels: command

#16804 Refactor r_big
  libr/include/r_util.h
  libr/include/r_util/r_big.h
  libr/util/Makefile
  libr/util/big-gmp.c
  libr/util/big-ssl.c
  libr/util/big.c
  libr/util/meson.build
  test/unit/meson.build
  test/unit/test_big.c
Labels: API, r2r

#16786 Reset anal regs in every iteration of aaft
  libr/core/cmd_anal.c
  test/db/cmd/cmd_fnj
Labels: command

#16823 Fix crash in 'C{fd..}.', reproducible with r2dec
  libr/core/cmd_meta.c
  test/db/cmd/cmd_meta
Labels: command

#16817 Fix r2r -i and add Tests
  binr/r2r/r2r.c
  test/unit/meson.build
  test/unit/r2r_cmd_test
  test/unit/test_r2r.c
Labels: r2r

#16822 Honor scr.html in pxa, pdsf and fix some ansi glitches in scr.color=0 ##cons
  libr/core/cmd_print.c
  test/db/esil/apple
Labels: command

#16828 Fix Pyc issues from infer and coverity
  libr/anal/p/anal_pyc.c
  libr/asm/arch/pyc/opcode.c
  libr/asm/arch/pyc/opcode_arg_fmt.c
  libr/asm/arch/pyc/pyc_dis.c
  libr/bin/format/pyc/marshal.c
  libr/bin/p/bin_pyc.c
Labels: RAnal, RBin

#16826 Fix bignum issues from facebook infer
  libr/include/r_util/r_big.h
  libr/util/big.c
Labels: API

#16818 r2r.c: Replace \x## emoji seqs with #defines
  binr/r2r/r2r.c
  libr/include/r_cons.h
Labels: r2r

#16825 Use more size_t in util/str
  libr/include/r_util/r_str.h
  libr/util/file.c
  libr/util/str.c
Labels: API

#16830 Detect register args used only by callee ##anal
  libr/anal/fcn.c
  libr/anal/p/anal_riscv.c
  libr/anal/p/anal_sparc_cs.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/var.c
  libr/core/canal.c
  libr/include/r_anal.h
  test/db/anal/arm
  test/db/anal/sparc
  test/db/anal/vars
  test/db/cmd/cmd_pd2
  test/db/cmd/types
  test/db/formats/elf/elf-riscv64
Labels: RAnal

#16839 Fix #16837 - RBin.pyc code warnings
  libr/asm/arch/pyc/opcode.c
  libr/bin/format/pyc/marshal.c
  libr/bin/p/bin_pyc.c
Labels: RBin

#16840 Add ESIL weak eq support to `aetr` command
  libr/anal/esil2reil.c
Labels: ESIL

#16841 Be consistent and make all env vars start with `R2_`
  DEVELOPERS.md
  libr/core/cconfig.c
  libr/main/radare2.c
  libr/util/assert.c
  libr/util/lib.c
  man/radare2.1
Labels: radare2

#16838 Add pxe test + convert prc_256.py to pure r2
  .github/workflows/pr.yaml
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_print
  test/db/cmd/cmd_px
  test/scripts/palette.r2
Labels: infrastructure, r2r

#16845 Half replace the command description macros with a function (-8KB)
  libr/core/cmd.c
Labels: command

#16850 Fix c99 construct for pyc
  libr/bin/p/bin_pyc.c
Labels: RBin

#16926 Fix static build
  binr/radare2/Makefile
  binr/rasign2/Makefile
  libr/Makefile
  shlr/Makefile
  shlr/yxml/deps.mk
Labels: radare2

#16925 Unpin AppVeyor's Meson
  .appveyor.yml
  shlr/meson.build
Labels: infrastructure

#16920 Update woE and woD functions
  libr/core/cmd_write.c
  test/db/cmd/cmd_wop
Labels: command

#16928 Implement Wasm SIMD instruction disassembly
  libr/asm/arch/wasm/wasm.c
  libr/asm/arch/wasm/wasm.h
  libr/bin/format/wasm/wasm.h
  test/db/asm/wasm
Labels: test-required

#16936 Fix @@s 'to' param so that it's inclusive
  libr/core/cmd.c
  test/db/cmd/cmd_print
Labels: command

#16935 Improve BP vars/args detection ##anal
  libr/anal/fcn.c
  libr/anal/p/anal_riscv.c
  libr/anal/var.c
  libr/core/anal_tp.c
  libr/core/cconfig.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/include/r_parse.h
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_mips_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
  test/db/anal/arm
  test/db/anal/vars
  test/db/anal/x86_32
  test/db/anal/x86_64
  test/db/anal/xtensa
  test/db/cmd/cmd_att
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_zignature
  test/db/cmd/midbb
  test/db/cmd/types
  test/db/formats/elf/elf-riscv64
  test/db/formats/mach0/swift
  test/db/tools/rasign2
  test/unit/test_anal_var.c
Labels: RAnal, RParse, command, r2r

#16942 Fix prc handling of single-char flags
  libr/core/cmd_print.c
  test/db/cmd/cmd_print
Labels: command

#16954 Fix ret op type for riscv
  libr/anal/p/anal_riscv.c
  test/db/anal/riscv
Labels: RAnal

#16952 Limit PR build timeout.
  .github/workflows/pr.yaml
Labels: infrastructure

#16939 Shifting of RAnnotatedCode to radare2
  libr/core/Makefile
  libr/core/cannotated_code.c
  libr/core/meson.build
  libr/include/r_core.h
  libr/include/r_util/r_annotated_code.h
  libr/meson.build
  libr/util/Makefile
  libr/util/annotated_code.c
  libr/util/meson.build
  test/unit/meson.build
  test/unit/test_annotated_code.c
Labels: API, r2r

#16956 Fix out-of-bounds write
  shlr/gdb/src/arch.c
Labels: gdb

#16955 Fix ahi help msgs
  libr/core/cmd_anal.c
Labels: command

#16953 Fix half-assed comparators
  libr/anal/var.c
  libr/include/r_list.h
  test/unit/test_list.c
Labels: r2r

#16961 Fix pfo command without arguments
  .github/workflows/newshell-treesitter-tests.yml
  shlr/radare2-shell-parser/corpus/pf_commands.txt
  shlr/radare2-shell-parser/src/scanner.c
Labels: infrastructure

#16962 Correct RISC-V ESIL for jumps
  libr/anal/p/anal_riscv.c
  test/db/esil/riscv_32
Labels: RAnal

#16950 Do the prefix check after prefix argument has been processed.
  sys/build.sh
Labels: buildsystem

#16970 ahi 10 does signed decimal with 32-bit gp regs + ahi 10u for unsigned decimal
  libr/core/cmd_anal.c
  libr/parse/filter.c
  test/db/cmd/cmd_ahi
Labels: command
