Repository radareorg/radare2, pull requests merged in 2020-10, with the labels that each got.

#17740 Fix rafind2 -m/-i/-E on Windows
  libr/main/rafind2.c
Labels: rafind2

#17737 Rename `asm.filter` to `asm.sub.names` ##cons
  libr/asm/asm.c
  libr/core/cconfig.c
  libr/core/cmd_search.c
  libr/core/disasm.c
  libr/core/pseudo.c
  libr/include/r_asm.h
  libr/main/rasm2.c
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/formats/elf/bomb
  test/db/formats/elf/simple
  test/db/formats/pe/CoST
  test/db/formats/pe/bigSoRD
  test/db/formats/pe/bottomsecttbl
  test/db/formats/pe/cfgbogus
  test/db/formats/pe/compiled
  test/db/formats/pe/copyright
  test/db/formats/pe/ctxt
  test/db/formats/pe/ctxt-ld
  test/db/formats/pe/d_nonnull-ld
  test/db/formats/pe/d_resource-ld
  test/db/formats/pe/d_tiny-ld
  test/db/formats/pe/ddsect
  test/db/formats/pe/debug
  test/db/formats/pe/delaycorrupt
  test/db/formats/pe/delayfake
  test/db/formats/pe/delayimports
  test/db/formats/pe/dep
  test/db/formats/pe/dll
  test/db/formats/pe/dll-dynld
  test/db/formats/pe/dll-dynunicld
  test/db/formats/pe/dll-ld
  test/db/formats/pe/dll-webdavld
  test/db/formats/pe/dllbound
  test/db/formats/pe/dllbound-ld
  test/db/formats/pe/dllbound-redirld
  test/db/formats/pe/dllbound-redirldXP
  test/db/formats/pe/dllbound2
  test/db/formats/pe/dllcfgdup
  test/db/formats/pe/dllcfgdup-dynld
  test/db/formats/pe/dllemptyexp
  test/db/formats/pe/dllemptyexp-ld
  test/db/formats/pe/dllextep
Labels: command, rasm2

#17735 Add remaining =A0 in regprofiles for calling convention ##anal
  libr/anal/p/anal_6502.c
  libr/anal/p/anal_6502_cs.c
  libr/anal/p/anal_8051.c
  libr/anal/p/anal_h8300.c
  libr/anal/p/anal_hexagon.c
  libr/anal/p/anal_pic.c
  libr/anal/p/anal_pyc.c
  libr/anal/p/anal_riscv.c
  libr/anal/p/anal_riscv_cs.c
  libr/anal/p/anal_sparc_gnu.c
  libr/anal/p/anal_tricore.c
  libr/anal/p/anal_v810.c
  libr/anal/p/anal_v850.c
  libr/anal/p/anal_wasm.c
  libr/debug/p/debug_bf.c
  libr/debug/p/debug_esil.c
  test/db/anal/tricore
Labels: RAnal, RDebug

#17749 Fix FreeBSD step error ##debug
  libr/debug/p/debug_native.c
Labels: BSD, RDebug

#17750 Fixes for MSVC name demangling
  libr/bin/mangling/microsoft_demangle.c
  test/db/formats/mangling/mangling
Labels: RBin

#17631 Graph refactor
  libr/anal/class.c
  libr/core/agraph.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_core.h
  libr/include/r_util/r_graph.h
  libr/include/r_util/r_graph_drawable.h
  libr/meson.build
  libr/util/Makefile
  libr/util/graph.c
  libr/util/graph_drawable.c
  libr/util/meson.build
  test/db/cmd/cmd_ag
  test/unit/test_anal_class_graph.c
Labels: API, command, r2r, ready-to-merge

#17744 Add JSON variants of pxd[1,2,4,8] commands ##print
  libr/core/cmd_print.c
  test/db/json/json4
Labels: command

#17766 Capitalize all messages in /a? and fix 5 warnings
  libr/core/cmd_anal.c
  libr/core/cmd_search.c
  libr/core/linux_heap_jemalloc.c
Labels: command

#17762 Move spc700 asm,bin plugins to radare2-extras ##asm
  libr/asm/arch/spc700/spc700_opcode_table.h
  libr/asm/arch/spc700/spc700dis.c
  libr/asm/meson.build
  libr/asm/p/Makefile
  libr/asm/p/asm_spc700.c
  libr/asm/p/spc700.mk
  libr/bin/format/spc700/spc_specs.h
  libr/bin/meson.build
  libr/bin/p/Makefile
  libr/bin/p/bin_spc700.c
  libr/bin/p/spc700.mk
  libr/include/r_asm.h
  libr/include/r_bin.h
  libr/meson.build
  plugins.def.cfg
  plugins.nogpl.cfg
  plugins.static.cfg
  plugins.static.nogpl.cfg
  test/db/formats/spc700
Labels: RBin

#17722 Improve mips.gnu esil ##anal
  libr/anal/p/anal_mips_gnu.c
Labels: ESIL, MIPS, RAnal

#17769 blr on arm64 is an RCALL, not an UCALL ##anal
  libr/anal/p/anal_arm_cs.c
  test/db/anal/arm64
Labels: RAnal

#17741 Add support for listing parsers, bits and add Lp command
  libr/core/cconfig.c
  libr/core/cmd_log.c
  test/db/cmd/cmd_list
Labels: command

#17742 Add help string for path input prompt
  libr/core/cmd_help.c
Labels: command

#17781 Use -Werror when building in CI
  .github/workflows/ci.yml
  libr/anal/p/anal_mips_gnu.c
  libr/asm/arch/tms320/c55x_plus/hashtable.c
  libr/asm/arch/tms320/c55x_plus/hashvector.c
  libr/asm/p/8051.mk
  libr/bin/mangling/microsoft_demangle.c
  libr/io/io_desc.c
  libr/reg/profile.c
  libr/socket/run.c
  test/unit/test_pdb.c
Labels: RAnal, RBin, infrastructure, r2r

#17743 Improve help under `v?` ##cons
  libr/core/cmd.c
Labels: command

#17765 Fix and improve ?e? help message
  libr/core/cmd_help.c
Labels: command

#17779 Add initial function prelude support for v850 ##anal
  libr/anal/p/anal_v850.c
  test/db/anal/v850
Labels: RAnal

#17648 Fix incorrect uses of printf-like functions ##refactor
  libr/anal/dwarf_process.c
  libr/anal/p/anal_6502.c
  libr/anal/p/anal_8051.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_avr.c
  libr/anal/p/anal_dalvik.c
  libr/anal/p/anal_gb.c
  libr/anal/p/anal_h8300.c
  libr/anal/p/anal_m68k_cs.c
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_pic.c
  libr/anal/p/anal_ppc_cs.c
  libr/anal/p/anal_riscv.c
  libr/anal/p/anal_rsp.c
  libr/anal/p/anal_sh.c
  libr/anal/p/anal_sparc_cs.c
  libr/anal/p/anal_sysz.c
  libr/anal/p/anal_tms320c64x.c
  libr/anal/p/anal_v810.c
  libr/anal/p/anal_wasm.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/p/anal_xcore_cs.c
  libr/anal/p/anal_xtensa.c
  libr/anal/rtti_itanium.c
  libr/anal/rtti_msvc.c
  libr/anal/type.c
  libr/anal/var.c
  libr/asm/arch/pyc/opcode_arg_fmt.c
  libr/asm/arch/pyc/pyc_dis.c
  libr/asm/p/asm_arm_hacks.inc
  libr/bin/format/mach0/mach0.c
  libr/bin/format/ne/ne.c
  libr/bin/p/bin_coff.c
  libr/bin/p/bin_dyldcache.c
  libr/bin/p/bin_mdmp.c
  libr/core/cmd.c
  libr/core/cmd_help.c
  libr/core/cmd_print.c
  libr/io/io.c
  libr/parse/p/parse_arm_pseudo.c
  libr/util/asn1.c
  test/db/cmd/cmd_ao
Labels: RAnal, waiting-for-author

#17767 Speedup r2pipe when using r2 -0, scr.prompt=0 doesnt log ##r2pipe
  libr/core/cmd_search.c
  libr/core/core.c
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API, command

#17784 Fix some warnings in WinDBG plugin
  libr/debug/p/debug_windbg.c
  libr/io/p/io_debug.c
  libr/io/p/io_w32dbg.c
  libr/io/p/io_windbg.c
  libr/socket/socket.c
Labels: RDebug, RIO

#17785 Use -Wno-cpp to avoid errors on #warning
  .github/workflows/ci.yml
  libr/anal/p/anal_x86_cs.c
  libr/asm/p/asm_tms320.c
Labels: infrastructure

#17792 Fixes for format string
  libr/anal/cc.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_mips_gnu.c
  libr/anal/rtti_itanium.c
  libr/anal/sign.c
  libr/anal/type.c
  libr/bin/pdb/pdb.c
  libr/core/canal.c
  libr/core/casm.c
  libr/core/cbin.c
  libr/core/cmd_anal.c
  libr/core/cmd_print.c
  libr/core/cmd_search_rop.c
  libr/core/cmd_type.c
Labels: RAnal, RBin, command

#17799 Fix travis arm64 db/tools/rasm2
  .travis.yml
  libr/asm/p/asm_x86_as.c
Labels: infrastructure

#17811 Remove some of MSVC warnings
  shlr/meson.build
Labels: Windows, buildsystem, meson

#17812 Fix #17804 - This has-main code in swift-sd.c is already in libdemangle
  libr/bin/mangling/swift-sd.c
Labels: RBin

#17810 Setting ASLR support for DragonFlyBSD ##util
  libr/socket/run.c
  libr/util/sys.c
Labels: BSD, RDebug

#17797 Fix prompt autocompletion when in graph mode
  libr/core/agraph.c
  libr/core/cmd_anal.c
Labels: RGraph, command, input

#17684 Fix bugs and improve pxr ##print
  libr/core/cmd_print.c
  libr/core/core.c
  libr/util/print.c
  libr/util/str.c
  test/db/anal/x86_32
  test/db/cmd/cmd_px
  test/db/cmd/cmd_pxw
Labels: API, command, ready-to-merge

#17841 Fix xbe symbol name lookup
  libr/bin/p/bin_xbe.c
  test/db/formats/xbe
Labels: RBin

#17846 Use dbg.args on *nix and macos ##debug
  libr/io/p/io_debug.c
Labels: RIO

#17844 Don't clear write cache in "aaa"
  libr/core/cmd_anal.c
Labels: command

#17835 Fix UB crash in cmd_kuery
  libr/core/cmd.c
Labels: command

#17786 Refactor r_sign metrics match ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
Labels: command, zignatures

#17825 Fixes and improvements for the Debian packaging scripts ##build
  sys/debian/CONFIG
  sys/debian/radare2-dev/CONFIG
  sys/debian/radare2-dev/Makefile
  sys/debian/radare2/CONFIG
  sys/debian/radare2/Makefile
Labels: buildsystem

#17802 Fix travis arm64 db/cmd/cmd_pipe
  .travis.yml
Labels: infrastructure

#17832 Fix UB in r_core_cmd_init
  libr/core/cmd.c
Labels: command

#17805 Add 6 minutes to cmd_aae timeout and skip aaa for swift_read fuzz test
  .github/workflows/ci.yml
  binr/r2r/run.c
  test/db/cmd/cmd_aae
Labels: infrastructure, r2r

#17681 Add user configurable JSON encoding options
  libr/anal/class.c
  libr/anal/fcn.c
  libr/anal/sign.c
  libr/anal/xrefs.c
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/core/core.c
  libr/core/disasm.c
  libr/include/r_bind.h
  libr/include/r_core.h
  libr/include/r_util/pj.h
  libr/include/r_util/r_str.h
  libr/util/pj.c
  libr/util/str.c
  test/db/cmd/cmd_ax
  test/db/cmd/cmd_i
  test/unit/test_str.c
Labels: API, RBin, r2r, waiting-for-author

#17815 Fix unexpected FPU exception in ESIL emulation ##esil
  libr/anal/esil.c
  test/db/esil/flag_tests
Labels: ESIL

#17851 extend usage info about '/*' and '*/'
  libr/core/cmd.c
  libr/core/cmd_search.c
Labels: command

#17859 Revert to previous Visual Studio 2019 image for Windows tests
  .appveyor.yml
Labels: infrastructure

#17855 Autocomplete `e <tab>` does not work
  libr/core/core.c
Labels: waiting-for-review

#17858 Fix #17857 - Fix warnings
  libr/anal/sign.c
  libr/core/cmd_print.c
Labels: command, merge-when-green

#17834 Fix UB in r_core_anal_type_match
  libr/core/anal_tp.c
Labels: waiting-for-review

#17865 Fix warnings in RBin.{dmp,elf}
  libr/bin/format/dmp/dmp64.c
  libr/bin/format/dmp/dmp_specs.h
  libr/bin/format/elf/elf.c
  libr/bin/p/bin_dmp64.c
Labels: RBin

#17861 Fix travis arm64 db/anal/x86_32
  libr/core/cmd_anal.c
Labels: command

#17800 COFF: add ARMNT and ARM64 support ##bin
  libr/bin/format/coff/coff.c
  libr/bin/format/coff/coff.h
  libr/bin/format/coff/coff_specs.h
  libr/bin/p/bin_coff.c
  test/db/formats/coff
Labels: RBin

#17875 Remove some arm64 warnings
  libr/debug/p/debug_native.c
Labels: RDebug

#17856 Add division overflow macros in r_types ##util
  libr/anal/esil.c
  libr/include/r_types_base.h
  libr/include/r_types_overflow.h
Labels: ESIL
