Repository radareorg/radare2, pull requests merged in 2020-03, with the labels that each got.

#16085 Fix some anal cmd handlers
  libr/core/cmd_anal.c
Labels: command

#16081 Create RReg test unit
  libr/reg/profile.c
  test/unit/test_reg.c
Labels: r2r

#16045 Add output of sections to segments mapping for ELFs
  libr/core/cbin.c
  libr/include/r_bin.h
  libr/include/r_core.h
  libr/main/rabin2.c
  test/new/db/tools/rabin2
Labels: rabin2, test-required

#16089 Fix Travis YAML warnings
  .travis.yml
Labels: infrastructure

#16091 Fix a null-deref in afn
  libr/core/cmd_anal.c
  test/new/db/cmd/cmd_afn
Labels: command

#16087 Add Windows Crash Dump format support
  libr/bin/format/dmp/dmp64.c
  libr/bin/format/dmp/dmp64.h
  libr/bin/format/dmp/dmp_specs.h
  libr/bin/format/mdmp/mdmp_windefs.h
  libr/bin/meson.build
  libr/bin/p/Makefile
  libr/bin/p/bin_dmp64.c
  libr/bin/p/dmp64.mk
  libr/include/r_bin.h
  libr/meson.build
  plugins.def.cfg
  test/new/db/formats/dmp/dmp
Labels: New File-Format, RBin, Windows

#16056 Avoidify the RUtil.strTrim() APIs + cleanup/refactor ##util
  libr/anal/anal.c
  libr/anal/var.c
  libr/config/config.c
  libr/cons/dietline.c
  libr/cons/grep.c
  libr/cons/hud.c
  libr/cons/pal.c
  libr/core/anal_tp.c
  libr/core/canal.c
  libr/core/casm.c
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_cmp.c
  libr/core/cmd_debug.c
  libr/core/cmd_eval.c
  libr/core/cmd_flag.c
  libr/core/cmd_help.c
  libr/core/cmd_info.c
  libr/core/cmd_log.c
  libr/core/cmd_meta.c
  libr/core/cmd_mount.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_type.c
  libr/core/cmd_write.c
  libr/core/cmd_zign.c
  libr/core/core.c
  libr/core/rtr.c
  libr/core/rtr_http.c
  libr/core/vmenus.c
  libr/debug/esil.c
  libr/debug/session.c
  libr/debug/snap.c
  libr/include/r_core.h
  libr/include/r_util/r_str.h
  libr/io/p/io_gdb.c
  libr/main/radare2.c
  libr/main/rax2.c
  libr/socket/run.c
  libr/util/asn1.c
  libr/util/donut.c
  libr/util/name.c
  libr/util/print.c
  libr/util/str_trim.c
  libr/util/syscmd.c
  libr/util/table.c
  test/unit/legacy_unit/util/test_str.c
Labels: command

#16098 Upgrade to node-r2r-0.4.0
  test/new/package.json
Labels: r2r

#16114 Fix last coverity issues
  libr/core/cbin.c
  libr/core/cmd.c
  libr/core/cmd_debug.c
Labels: command

#16111 tree-sitter: support iter commands
  libr/anal/bb.c
  libr/core/cmd.c
  libr/core/r2-shell-parser-cmds.inc
  libr/include/r_anal.h
  shlr/Makefile
  shlr/meson.build
  test/new/db/cmd/bug_backtick
  test/new/db/cmd/cmd_pd
  test/new/db/esil/x86_32
  test/new/db/formats/elf/reloc
  test/new/db/formats/mangling/rust
  test/new/db/tools/rax2
Labels: command, input

#16122 Fix memleak in anal_mask() method of arm_cs plugin
  libr/anal/p/anal_arm_cs.c
Labels: RAnal

#16121 Fix memory leak in core_anal_bytes()
  libr/core/cmd_anal.c
Labels: command

#16123 C urly ec hj command
  libr/anal/meta.c
  libr/core/cmd_eval.c
Labels: command

#16133 Fix compilation with capstone3
  libr/anal/p/anal_x86_cs.c
Labels: RAnal

#16144 Update V for the testsuite
  test/src/Makefile
Labels: r2r

#16132 Support iter_hit_command and update radare2-shell-parser
  libr/core/cmd.c
  libr/core/r2-shell-parser-cmds.inc
  shlr/Makefile
  shlr/meson.build
  test/new/db/formats/mangling/rust
Labels: command

#16131 Fix file reopen in debug mode ood/doo
  libr/core/cfile.c
  libr/core/cmd_open.c
  libr/debug/p/native/linux/linux_debug.c
  test/new/db/archos/linux-x64/dbg_oo
Labels: command

#16136 Add test for r_reg_get_value() and r_reg_set_value()
  libr/reg/reg.c
  test/unit/test_reg.c
Labels: r2r

#16149 Fix UAF in om=
  libr/asm/p/asm_or1k.c
  libr/core/cmd_open.c
  libr/core/visual.c
  libr/include/r_core.h
  libr/include/r_util/r_table.h
  libr/util/table.c
  test/new/db/cmd/cmd_open
Labels: API, command, visual

#16074 Fix afs not showing types and args ##types
  libr/anal/fcn.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  test/new/db/cmd/cmd_att
  test/new/db/cmd/types
Labels: command

#16165 Fix r_anal_switch_op_new() args
  libr/anal/block.c
  libr/anal/p/anal_java.c
  libr/anal/switch.c
  libr/include/r_anal.h
  test/unit/test_anal_block.c
Labels: RAnal, command, r2r, refactor

#16164 Remove some unused members
  libr/anal/p/anal_java.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
Labels: RAnal, command, refactor

#16171 Add r_reg_get() and r_reg_get_pack() test for xmm registers
  test/unit/test_reg.c
Labels: r2r

#16176 Upgrade to node-r2r 0.4.1
  test/new/package.json
Labels: r2r

#16177 Fix 16169
  libr/core/canal.c
Labels: command

#16157 [WIP] Devirtualizing vtable method calls
  libr/anal/class.c
  libr/core/cmd_anal.c
  libr/core/core.c
  libr/include/r_anal.h
  test/new/db/cmd/cmd_ac
Labels: command

#16175 Implement afsj command to get the JSON definition of the function signature ##anal
  libr/anal/fcn.c
  libr/core/cmd_anal.c
  libr/core/cmd_type.c
  libr/core/disasm.c
  libr/include/r_anal.h
  test/new/db/anal/arm
  test/new/db/anal/x86_32
  test/new/db/anal/x86_64
  test/new/db/cmd/types
  test/new/db/formats/elf/elf-riscv64
Labels: command

#16180 Fix afs not showing signatures correctly with preloaded sdb types ##types
  libr/anal/fcn.c
  test/new/db/cmd/types
Labels: bug, command, types

#16179 Change macro syntax to use `;` instead of `,`
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_api.c
  libr/core/cmd_macro.c
  test/new/db/anal/x86_64
  test/new/db/archos/darwin-x64/cmd_i
  test/new/db/archos/linux-x64/cmd_i
  test/new/db/archos/linux-x64/dbg_bps
  test/new/db/cmd/cmd_i
  test/new/db/cmd/cmd_macros
  test/new/db/cmd/cmd_pd
  test/new/db/cmd/cmd_pd2
  test/new/db/cmd/cmd_pf
  test/new/db/cmd/cmd_pf2
  test/new/db/cmd/cmd_pf_elf
  test/new/db/cmd/cmd_print
  test/new/db/cmd/cmd_px
  test/new/db/cmd/cmd_seek
  test/new/db/cmd/feat_variables
  test/new/db/cmd/write
  test/new/db/esil/ppc_32
  test/new/db/esil/x86_64
  test/new/db/formats/mangling/bin
Labels: command

#16186 Add test to verify fpu and xmm register size and offset for linux x64
  test/unit/test_debug.c
Labels: r2r

#16185 Introduce escaping in grep specifiers
  libr/core/cmd.c
  test/new/db/cmd/feat_grep
  test/new/db/tools/radiff2
Labels: command

#16188 Fix RRegisterType sign for drm command
  libr/core/cmd_debug.c
Labels: command

#16197 Fix compilation with tree-sitter support
  libr/core/cmd.c
Labels: command

#16187 Convert preinc/predec in 3rd part of for statement to postinc/postdec
  libr/asm/arch/tms320/c55x_plus/ins.c
  libr/core/agraph.c
  libr/util/astr.c
  test/new/db/tools/r2
  test/unit/legacy_unit/util/test_str.c
  test/unit/test_list.c
  test/unit/test_queue.c
  test/unit/test_skiplist.c
  test/unit/test_table.c
  test/unit/test_unum.c
Labels: r2r, refactor, webui

#16201 Fix wrong return value in error path
  libr/io/p/io_gzip.c
  libr/io/p/io_malloc.c
  libr/io/p/io_mmap.c
Labels: RIO

#16203 Clean drx/drt/drp help message
  libr/core/cmd_debug.c
Labels: command

#16202 Make r_reg_get_list() search harder
  libr/anal/p/anal_x86_cs.c
  libr/core/cmd.c
  libr/core/cmd_debug.c
  libr/core/cmd_search_rop.c
  libr/debug/dreg.c
  libr/reg/reg.c
  test/new/db/cmd/cmd_repeats
  test/unit/test_reg.c
Labels: RAnal, command, r2r

#16200 Add tests for abt
  libr/anal/block.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  test/new/db/anal/path
Labels: command

#16211 Enhance the way imports are processed in r_anal_function_get_signature ##types
  libr/anal/fcn.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/include/r_flag.h
Labels: command, enhancement, types

#16221 Make size arg of r_file_slurp() size_t
  libr/asm/asm.c
  libr/bin/bin.c
  libr/bin/format/mach0/dyldcache.c
  libr/bin/format/mach0/fatmach0.c
  libr/bin/format/mach0/mach0.c
  libr/bin/format/mz/mz.c
  libr/bin/format/pe/pe.c
  libr/bin/format/te/te.c
  libr/cons/editor.c
  libr/core/cmd.c
  libr/core/cmd_debug.c
  libr/core/cmd_project.c
  libr/core/cmd_search.c
  libr/core/cmd_write.c
  libr/core/core.c
  libr/core/rtr_http.c
  libr/core/visual.c
  libr/debug/p/native/linux/linux_coredump.c
  libr/egg/egg.c
  libr/include/r_util/r_file.h
  libr/io/p/io_bfdbg.c
  libr/io/p/io_gzip.c
  libr/lang/lang.c
  libr/main/r2agent.c
  libr/main/radiff2.c
  libr/main/ragg2.c
  libr/main/rahash2.c
  libr/main/rasm2.c
  libr/util/buf.c
  libr/util/file.c
  libr/util/sys.c
  libr/util/syscmd.c
  shlr/java/class.c
  test/unit/legacy_unit/util/copy.c
Labels: API, RIO, command, radiff2, ragg2, rahash2, rasm2, refactor, visual

#16220 Hide 128reg warnings and use rgb: instead of # in pal test
  libr/core/cmd_anal.c
  libr/reg/reg.c
  libr/reg/value.c
  test/new/db/cmd/cmd_pd
Labels: command

#16230 Fix segfault in adf
  libr/core/cmd_anal.c
  test/new/db/anal/x86_32
Labels: command

#16232 Fix check for failed allocation
  libr/crypto/p/crypto_serpent.c
Labels: RCrypto

#16229 Remove the fcn_locs which produces UAF and its unused ##anal
  libr/anal/function.c
  libr/core/canal.c
  libr/core/cmd_print.c
  libr/include/r_anal.h
  test/new/db/anal/x86_32
Labels: command

#16235 Fix #16231 - zj incorrect json
  libr/anal/sign.c
  libr/core/cmd_zign.c
Labels: command

#16238 Initial r_anal_fcn_* purge
  libr/anal/fcn.c
  libr/anal/flirt.c
  libr/anal/function.c
  libr/anal/sign.c
  libr/anal/xrefs.c
  libr/core/agraph.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_seek.c
  libr/core/cmd_zign.c
  libr/core/core.c
  libr/core/visual.c
  libr/core/vmenus.c
  libr/core/vmenus_graph.c
  libr/include/r_anal.h
Labels: command, visual

#16223 Fix all Warnings for GCC 9
  libr/anal/p/anal_ppc_cs.c
  libr/bin/format/dmp/dmp64.c
  libr/core/cmd_write.c
  libr/debug/dreg.c
  libr/debug/p/debug_native.c
  libr/include/r_vector.h
  libr/io/p/io_debug.c
  shlr/grub/fs/hfsplus.c
  shlr/grub/fs/jfs.c
  shlr/grub/fs/xfs.c
  shlr/grub/include/grub/charset.h
  shlr/grub/include/grub/hfs.h
  shlr/grub/include/grub/types.h
  shlr/grub/partmap/sun.c
  shlr/grub/partmap/sunpc.c
  test/unit/test_anal_function.c
  test/unit/test_buf.c
Labels: RAnal, RDebug, RIO, command, r2r

#16243 Add R_TYPE_TYPEDEF to RTypeKind
  libr/include/r_util/r_ctypes.h
  libr/util/ctype.c
Labels: API

#16244 Idea for fixing id? and idp? etc commands
  libr/core/cmd_info.c
Labels: command

#16246 Use the proper API to find function in `tl` ##types
  libr/core/cmd_type.c
Labels: command

#16255 Detect glibc version and set dbg.glibc.tcache accordingly
  libr/core/linux_heap_glibc.c
Labels: heap

#16257 Fix #16241 - Optimize 'tl', r_core_link_stroff and r_type_link_at (0.01s vs 3s) ##types
  libr/core/cmd_type.c
  libr/include/r_core.h
  libr/util/ctype.c
  test/new/db/cmd/types
Labels: command

#16258 Remove r_str_rmch and simplify r_str_replace_char* ##util
  libr/asm/p/asm_arm_cs.c
  libr/asm/p/asm_m68k_cs.c
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API, FEEDBACK WANTED

#16212 Fix print string in radiff -qu
  libr/main/radiff2.c
  test/new/db/tools/radiff2
Labels: radiff2

#16260 Fix minunit.h to compute macro arguments just one time
  test/unit/minunit.h
Labels: r2r

#16261 Fix coverity-scan GitHub Action for forked repos
  .github/workflows/coverity-scan.yml
Labels: infrastructure

#16262 Display correct lengths for cryptography search commands
  libr/core/cmd_search.c
  libr/search/aes-find.c
  libr/search/privkey-find.c
  test/new/db/cmd/cmd_search_hit
Labels: command

#15891 sys/install.sh uses always /usr/local + rpath now ##build
  sys/build.sh
  sys/install.sh
Labels: FEEDBACK WANTED, buildsystem

#16236 Add pj_r api to print raw data
  libr/core/cmd_zign.c
  libr/include/r_util/pj.h
  libr/util/pj.c
Labels: API, command

#16198 Run sys/static in the Debian task ##build
  .travis.yml
  travis-script
Labels: infrastructure

#16269 Fix build by adding and removing underscores in r2r.v
  test/src/r2r.v
Labels: r2r

#16270 Code cleanup in parse.x86_pseudo
  libr/parse/p/parse_x86_pseudo.c
Labels: RParse

#16274 Add first version of /m search with hits
  libr/core/cmd_magic.c
Labels: command

#16275 Remove redundant condition
  libr/core/visual.c
Labels: visual

#16278 Fix #16265 - Segfault in rabin2 -O e/123 with ELF binaries
  libr/bin/p/bin_write_elf.inc
Labels: RBin

#16282 Fixed #16251
  libr/core/cmd.c
Labels: command

#16280 Don't use r2 shell commands to implemnt an.
  libr/core/cmd_anal.c
  test/new/db/cmd/cmd_an
Labels: command

#16292 Use @{} instead of @() and fix this modifier ##core
  libr/core/cmd.c
  libr/core/cmd_help.c
  libr/core/cmd_print.c
  test/new/db/cmd/cmd_search
  test/src/Makefile
Labels: command, r2r

#16290 Use r_core_cmd_lines() for -c
  libr/main/radare2.c
Labels: radare2

#16295 Minor cleanup in the dex parser
  libr/bin/p/bin_dex.c
Labels: RBin

#16216 Initial Implementation of R2R in C
  binr/Makefile
  binr/r2r/Makefile
  binr/r2r/load.c
  binr/r2r/meson.build
  binr/r2r/r2r.c
  binr/r2r/r2r.h
  binr/r2r/run.c
  configure
  configure.acr
  libr/include/r_util/r_strbuf.h
  libr/util/meson.build
  libr/util/strbuf.c
  meson.build
  meson_options.txt
  test/unit/meson.build
Labels: API, RIO, command, r2r, visual

#16299 Fix ao~bytes and add test ##anal
  libr/core/cmd_anal.c
  test/new/db/anal/x86_32
Labels: command

#16307 Test dmha/dmh for glibc x64
  libr/core/linux_heap_glibc.c
  test/new/db/archos/linux-x64/dbg_dmh
  test/new/db/cmd/cmd_dmh
Labels: heap

#16298 Fix cursor visibility after leaving visual graph
  libr/core/panels.c
Labels: panel

#16247 Fix dmht for glibc caused by wrong tcache offset and definition
  libr/core/cconfig.c
  libr/core/linux_heap_glibc.c
  libr/include/r_heap_glibc.h
  test/new/db/archos/linux-x64/dbg_dmh
Labels: heap

#16313 Fix unmatched array length in core_java.c (issue #16304)
  libr/core/p/core_java.c
Labels: RCore

#16319 Upgrade to node-r2r 0.5.0 and add relevant tests
  test/new/db/tools/r2r
  test/new/package.json
Labels: r2r

#16312 Decouple shlr/gdb registers profile from code
  libr/core/cmd_debug.c
  libr/core/rtr.c
  libr/debug/p/debug_gdb.c
  libr/debug/plugin.c
  libr/include/r_debug.h
  shlr/gdb/include/arch.h
  shlr/gdb/include/libgdbr.h
  shlr/gdb/include/reg/arm32.h
  shlr/gdb/include/reg/arm64.h
  shlr/gdb/include/reg/avr.h
  shlr/gdb/include/reg/lm32.h
  shlr/gdb/include/reg/mips.h
  shlr/gdb/include/reg/sh.h
  shlr/gdb/include/reg/v850.h
  shlr/gdb/include/reg/x86_32.h
  shlr/gdb/include/reg/x86_64.h
  shlr/gdb/src/arch.c
  shlr/gdb/src/libgdbr.c
Labels: RDebug, command, gdb

#16320 Build *.deb packages only for master branch
  .travis.yml
Labels: infrastructure

#16317 Fix #16308 - Early return in `af` to avoid re-analysing ##anal
  libr/anal/fcn.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_core.h
Labels: command

#16310 R2R in C Enhancements
  binr/r2r/load.c
  binr/r2r/r2r.c
  binr/r2r/run.c
  libr/main/rabin2.c
  test/new/db/tools/r2
  test/new/db/tools/r2r
  test/new/db/tools/rabin2
  test/new/db/tools/ragg2
  test/new/db/tools/rahash2
  test/new/db/tools/rasm2
  test/new/db/tools/rax2
Labels: rabin2

#16324 Improve noreturn and aesu times, show it in afi & afij ##anal
  binr/r2r/r2r.c
  libr/anal/anal.c
  libr/anal/function.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/core/core.c
  libr/include/r_anal.h
  libr/include/r_core.h
  test/new/db/anal/msp430
  test/new/db/anal/noreturn
  test/new/db/anal/x86_64
  test/new/db/cmd/cmd_afb
Labels: command

#16328 Complete #16320
  .travis.yml
Labels: infrastructure

#16325 Always use r_getopt, do not depend on libc (not just on windows) ##core
  binr/r2r/r2r.c
  libr/core/linux_heap_glibc.c
  libr/include/r_core.h
  libr/include/r_getopt.h
  libr/include/r_main.h
  libr/include/r_socket.h
  libr/main/main.c
  libr/main/r2agent.c
  libr/main/rabin2.c
  libr/main/radare2.c
  libr/main/radiff2.c
  libr/main/rafind2.c
  libr/main/ragg2.c
  libr/main/rahash2.c
  libr/main/rarun2.c
  libr/main/rasm2.c
  libr/main/rax2.c
  libr/main/version.c
  libr/socket/run.c
  libr/util/getopt.c
Labels: rabin2, radare2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2

#16331 Add opaddr field in ab/abj output ##anal
  libr/core/cmd_anal.c
  test/new/db/cmd/cmd_afb
Labels: command

#16332 Fix #12700
  libr/anal/d/cc-sh-32.sdb.txt
  libr/core/cmd_anal.c
  libr/include/r_syscall.h
  libr/syscall/fastcall.h
  libr/syscall/syscall.c
Labels: RAnal, command

#16333 Fix ob 0
  libr/include/r_util/r_num.h
  libr/util/unum.c
  test/new/db/cmd/cmd_open
Labels: API

#16346 Fix the fatmach0-3true writing Test
  test/new/.gitignore
  test/new/db/cmd/cmd_i
Labels: r2r

#16348 Even more R2R
  binr/r2r/load.c
  binr/r2r/r2r.c
  binr/r2r/run.c
  libr/bin/bfile.c
  libr/core/cbin.c
  libr/core/cmd_info.c
  libr/core/cmd_print.c
  libr/debug/dreg.c
  libr/util/thread.c
  test/new/db/anal/x86_64
  test/new/db/cmd/cmd_afcl
  test/new/db/cmd/cmd_agC
  test/new/db/cmd/cmd_open
  test/new/db/cmd/cmd_pdr
  test/new/db/cmd/cmd_pf2
  test/new/db/cmd/cmd_rop
  test/new/db/io/many
  test/new/db/io/zip
Labels: command

#16351 Escape broken UTF-8 in Filename
  libr/core/cmd_info.c
  libr/include/r_util/r_str.h
  libr/util/str.c
  test/new/db/archos/darwin-x64/cmd_i
  test/new/db/archos/linux-x64/cmd_i
Labels: API, command

#16350 Fix #16336 - Correct a segfault
  libr/core/cmd_type.c
Labels: command

#16337 remove FCN_OLD in analysis code
  libr/core/agraph.c
  libr/core/core.c
  libr/core/visual.c
  libr/include/r_anal.h
Labels: visual

#16367 Fix interaction of ob with o:
  libr/core/cmd_open.c
  test/new/db/cmd/cmd_open
Labels: command

#16369 Tweak arm64 ldr ESIL for var access ##anal
  libr/anal/p/anal_arm_cs.c
Labels: RAnal

#16374 Fix a read out-of-bounds error by checking if there is enough data
  libr/anal/p/anal_6502.c
Labels: RAnal

#16373 Implement hex.offset config variable to hide address column from hex-dump
  binr/r2r/r2r
  libr/core/cconfig.c
  libr/core/cmd_print.c
  libr/include/r_util/r_print.h
  libr/util/print.c
Labels: API, command

#12570 WIP: LZMA magic
  binr/r2r/r2r
  libr/magic/d/default/compressed
  test/new/db/cmd/cmd_search
Labels: WIP
