Repository radareorg/radare2, pull requests merged in 2020-12, with the labels that each got.

#17989 Add ep and lp register aliases for v850 ##disasm
  libr/anal/p/anal_v850.c
Labels: RAnal

#17990 Fix asserts in r2 -a snes foo.sfc ##bin
  libr/bin/bobj.c
  libr/main/radare2.c
Labels: radare2

#17994 Fixes for MSVC demangling
  libr/bin/mangling/microsoft_demangle.c
  test/db/formats/mangling/mangling
Labels: RBin

#17833 Fix UB in cannotated_code
  libr/core/cannotated_code.c
Labels: waiting-for-review

#17996 Fix #17976 - PDB: Fix NULL deref with unsupported leaf type
  libr/anal/type_pdb.c
  libr/bin/pdb/pdb.c
  libr/bin/pdb/tpi.c
Labels: RBin

#17758 drr show all flags and pxrj is now structured ##print
  libr/core/cmd_debug.c
  libr/core/cmd_print.c
  libr/core/core.c
  libr/core/disasm.c
  libr/flag/flag.c
  libr/include/r_core.h
  libr/include/r_util/r_print.h
  libr/util/print.c
  test/db/anal/x86_32
  test/db/cmd/cmd_dr
  test/db/cmd/cmd_px
Labels: API, command, ready-to-merge

#17995 Fixes for ARM MTE ##anal
  libr/anal/p/anal_arm_hacks.inc
  libr/asm/p/asm_arm_hacks.inc
  test/db/anal/arm64
  test/db/asm/arm_64
Labels: RAnal

#17973 Add help for `aij` and `arj` ##anal
  libr/core/cmd_anal.c
  libr/core/cmd_print.c
  test/db/json/json1
Labels: command, test-required

#18002 Remove AppVeyor
  .appveyor.yml
Labels: infrastructure

#18000 Cleanup cmd_hash.c a little bit
  libr/core/cmd_hash.c
Labels: command

#17975 Honor coding style in panels.c and loss 370LOC
  libr/core/agraph.c
  libr/core/cmd.c
  libr/core/panels.c
  libr/core/visual.c
  libr/include/r_cons.h
  libr/include/r_core.h
  libr/include/r_util/r_panels.h
Labels: command, panel

#17998 Update cmd_open_map() output format for current map
  libr/core/cmd_open.c
  libr/include/r_io.h
  test/db/formats/pe/sectiondata
  test/db/io/om
Labels: command

#18005 Add om.j command
  libr/core/cmd_open.c
  test/db/json/json3
Labels: command

#18008 Remove globals from rafind2
  libr/main/rafind2.c
Labels: rafind2

#17702 Implement the comma command to manage user-defined tables ##util
  libr/core/canal.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_api.c
  libr/core/cmd_eval.c
  libr/core/cmd_help.c
  libr/core/cmd_helps.c
  libr/core/cmd_helps.h
  libr/core/core.c
  libr/include/r_cmd.h
  libr/include/r_core.h
  libr/include/r_util/r_table.h
  libr/io/io_map.c
  libr/util/table.c
  shlr/radare2-shell-parser/src/scanner.c
  test/db/cmd/cmd_table
Labels: API, command

#17723 Mark fixed tests as such
  test/db/asm/arm_32
  test/db/cmd/cmd_project
  test/db/tools/r2
  test/db/tools/rabin2
  test/db/tools/rafind2
  test/db/tools/rasm2
Labels: BSD, MacOS, RAsm-Assembler, Windows, demangling, high-priority, r2r

#17295 Bring back tcc support ##build
  .github/workflows/tcc.yml
  shlr/heap/include/r_jemalloc/internal/util.h
Labels: RBin, RCrypto, buildsystem, infrastructure, waiting-for-author

#18018 Remove forgotten debugging lines
  .github/workflows/tcc.yml
Labels: infrastructure

#18019 Fix return code when using q! without arguments ##core
  libr/core/cmd_quit.c
Labels: command

#18022 Remove globals in radiff2 ##build
  libr/main/radiff2.c
Labels: radiff2

#18012 Fix double click issue in panels ##visual
  libr/cons/cons.c
  libr/cons/input.c
  libr/core/panels.c
Labels: panel

#18026 Fix oob in load_table_asciiart ##asan
  libr/core/cmd.c
Labels: command

#18024 Initialize variable that could result in wild free
  libr/bin/mangling/microsoft_demangle.c
Labels: RBin

#17614 Handle RELATIVE (todo) and IRELATIVE relocs for relative relocs in ELF for ARM64 ##bin
  libr/bin/format/elf/elf.c
Labels: ARM, RBin, high-priority, test-required

#18032 added cmc to esil
  libr/anal/p/anal_x86_cs.c
  test/db/esil/x86_32
Labels: RAnal

#18033 Add missing breaks
  libr/core/cmd_anal.c
Labels: command

#18035 Clinap
  libr/core/cmd_api.c
  libr/include/r_cmd.h
Labels: command

#18036 Refactor aoj~{} opex for x86-64 to use the PJ api
  libr/anal/p/anal_x86_cs.c
Labels: RAnal

#18043 Fix #18006 - @v: doesnt wasnt reverting the origfd properly ##shell
  libr/core/cmd.c
Labels: command

#18044 Add missing =SN for ppc64 ##anal
  libr/anal/p/anal_ppc_cs.c
Labels: RAnal

#17707 Add r_str_escape_r2 helper function ##util
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API

#17982 Use r_core_cmd_str_pipe when using `.` in a panel
  libr/core/cmd_hash.c
  libr/core/panels.c
  libr/include/r_lang.h
  libr/lang/lang.c
  libr/lang/p/c.c
  libr/lang/p/cpipe.c
  libr/lang/p/lib.c
  libr/lang/p/pipe.c
  libr/lang/p/rust.c
  libr/lang/p/spp.c
  libr/lang/p/vala.c
  libr/lang/p/zig.c
  libr/main/radare2.c
Labels: RLang, command, panel, radare2

#18045 Deweb
  libr/core/cconfig.c
  shlr/www/enyo/disassembler_old.js
  shlr/www/enyo/enyo.css
  shlr/www/enyo/enyo/lib/onyx/images/gradient-invert.png
  shlr/www/enyo/enyo/lib/onyx/images/gradient.png
  shlr/www/enyo/enyo_app.js
  shlr/www/enyo/gradient-invert.png
  shlr/www/enyo/gradient.png
  shlr/www/enyo/icon.png
  shlr/www/enyo/index.html
  shlr/www/enyo/r2app.js
  shlr/www/enyo/r2core.css
  shlr/www/enyo/r2core.js
  shlr/www/enyo/rlogo-tr.png
  shlr/www/enyo/stylesheet.css
  shlr/www/enyo/vendors/backbone-min.js
  shlr/www/enyo/vendors/joint.layout.DirectedGraph.js
  shlr/www/enyo/vendors/joint.min.css
  shlr/www/enyo/vendors/joint.min.js
  shlr/www/enyo/vendors/jquery-ui.min.js
  shlr/www/enyo/vendors/jquery.layout-latest.min.js
  shlr/www/enyo/vendors/jquery.min.js
  shlr/www/enyo/vendors/jquery.scrollTo.min.js
  shlr/www/enyo/vendors/lodash.min.js
  shlr/www/index.html
  shlr/www/p/dependencies.css
  shlr/www/p/dependencies.js
  shlr/www/p/index.html
  shlr/www/p/main.js
  shlr/www/p/panels.js
  shlr/www/p/r2core.css
  shlr/www/p/r2core.js
  shlr/www/p/rlogo-inv.png
  shlr/www/p/vendors/backbone-min.js
  shlr/www/p/vendors/dagre.core.js
  shlr/www/p/vendors/graphlib.core.js
  shlr/www/p/vendors/joint.layout.DirectedGraph.js
  shlr/www/p/vendors/joint.layout.DirectedGraph.min.js
  shlr/www/p/vendors/joint.min.css
  shlr/www/p/vendors/joint.min.js
  shlr/www/p/vendors/jquery-ui.min.js
  shlr/www/p/vendors/jquery.layout-latest.min.js
  shlr/www/p/vendors/jquery.min.js
  shlr/www/p/vendors/jquery.onoff.css
  shlr/www/p/vendors/jquery.onoff.min.js
  shlr/www/p/vendors/jquery.scrollTo.min.js
  shlr/www/p/vendors/jquery.ui-contextmenu.min.js
  shlr/www/p/vendors/layout-default-latest.css
  shlr/www/p/vendors/lodash.min.js
  sys/ios-cydia.sh
  sys/ios-sdk.sh
  sys/ios-simulator.sh
  sys/ios-static.sh
Labels: webui

#18020 Use r_name_check() in r_flag after filtering the flagname ##core
  libr/bin/bfile.c
  libr/bin/pdb/pdb.c
  libr/core/cbin.c
  libr/core/cmd_flag.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/core.c
  libr/flag/flag.c
  libr/include/r_util/r_name.h
  libr/io/io_map.c
  libr/util/calc.c
  libr/util/name.c
  libr/util/print.c
  libr/util/unum.c
  test/db/anal/arm
  test/db/anal/ppc
  test/db/anal/x86_32
  test/db/anal/x86_64
  test/db/archos/linux-x64/dbg_dmh
  test/db/cmd/cmd_av
  test/db/cmd/cmd_flags
  test/db/cmd/cmd_fnj
  test/db/cmd/cmd_i
  test/db/cmd/cmd_idp
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_pd_bugs
  test/db/cmd/cmd_print
  test/db/cmd/cmd_search
  test/db/cmd/dwarf
  test/db/cmd/metadata
  test/db/cmd/tables
  test/db/esil/apple
  test/db/esil/x86_32
  test/db/formats/coff
  test/db/formats/dex
  test/db/formats/elf/helloworld-gcc-elf
  test/db/formats/elf/sections
  test/db/formats/mach0/coresymbolication
  test/db/formats/mangling/bin
  test/db/formats/mdmp
  test/db/formats/pe/hello_world
  test/db/formats/pe/pe
  test/db/formats/pe/sectiondata
  test/db/io/baddr
  test/db/tools/rabin2
Labels: API, RBin, command

#18049 Clean up r_num ##util ##refactor
  libr/anal/esil2reil.c
  libr/asm/arch/z80/z80asm.c
  libr/core/cmd.c
  libr/core/cmd_help.c
  libr/include/r_util/r_num.h
  libr/main/rax2.c
  libr/util/calc.c
  libr/util/unum.c
  test/db/cmd/cmd_help
  test/db/cmd/feat_variables
  test/db/formats/firmware
  test/unit/test_contrbtree.c
  test/unit/test_unum.c
Labels: API, ESIL, command, r2r, rax2

#18054 Fix arm32 db/cmd/cmd_ab
  libr/core/cmd_anal.c
Labels: command

#18052 Fix arm32 db/cmd/cmd_open
  libr/bin/p/bin_any.c
  libr/core/cfile.c
Labels: RBin

#18059 Move rcharset from core to rprint
  libr/core/cconfig.c
  libr/core/cmd_print.c
  libr/core/core.c
  libr/include/r_core.h
  libr/include/r_util/r_print.h
  libr/util/print.c
Labels: API, RUtil, command

#18062 Fix arm32 db/formats/dmp/dmp
  libr/bin/format/dmp/dmp64.c
  libr/bin/format/mdmp/mdmp_windefs.h
  libr/include/r_util/r_sys.h
Labels: API

#18067 Fix arm32 wrong time
  libr/include/r_util/r_time.h
Labels: API

#18070 RISC-V 64-bit ESIL for shift instructions ##esil
  libr/anal/p/anal_riscv.c
  test/db/esil/riscv_64
Labels: RAnal

#18071 Str wrap
  libr/cons/cons.c
  libr/include/r_cons.h
  libr/include/r_util/r_str.h
  libr/util/str.c
  test/unit/test_str.c
Labels: API, r2r

#18051 Initial implementation of scr.cursor for keyboard accessibility in visual and panels ##visual
  libr/core/cconfig.c
  libr/core/panels.c
  libr/core/visual.c
  libr/include/r_cons.h
Labels: panel, visual

#18063 Fix arm32 test_vector_fini
  test/unit/test_vector.c
Labels: r2r

#18072 Fix ESIL for RISC-V 64-bit load instruction
  libr/anal/p/anal_riscv.c
  test/db/esil/riscv_64
Labels: RAnal

#18074 Add amd64syscall calling convention definition ##anal
  libr/anal/d/cc-x86-64.sdb.txt
  test/db/cmd/cmd_afcl
  test/db/cmd/cmd_ara
  test/db/cmd/cmd_tcc
Labels: RAnal

#18048 Fix several address sanitize issues, from uaf to memory leaks
  libr/anal/p/anal_x86_cs.c
  libr/core/agraph.c
  libr/core/cbin.c
  libr/core/cfile.c
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/cmd_eval.c
  libr/core/cmd_open.c
  libr/core/cplugin.c
  libr/core/linux_heap_glibc.c
  libr/core/project.c
  libr/debug/debug.c
  libr/include/r_cmd.h
  libr/main/radare2.c
Labels: RAnal, command, radare2

#18075 Remove afc=
  libr/core/cbin.c
  libr/core/cmd_anal.c
  libr/core/core.c
  test/db/anal/vars
  test/db/anal/x86_64
  test/db/formats/pe/pe64
Labels: command

#18077 Fix covs
  binr/r2r/r2r.c
  libr/anal/rtti_msvc.c
  libr/anal/sign.c
  libr/asm/arch/pyc/opcode_arg_fmt.c
  libr/asm/asm.c
  libr/bin/p/bin_xnu_kernelcache.c
  libr/cons/dietline.c
  libr/core/cmd_anal.c
  libr/core/cmd_eval.c
  libr/core/disasm.c
  libr/core/panels.c
  libr/core/visual.c
  libr/debug/p/native/linux/linux_debug.c
  libr/fs/shell.c
  libr/include/r_util/r_name.h
  libr/io/p/io_self.c
  libr/main/rafind2.c
  libr/parse/parse.c
  libr/reg/profile.c
  libr/socket/run.c
  libr/socket/socket.c
  libr/util/file.c
  libr/util/name.c
  libr/util/strpool.c
  libr/util/syscmd.c
  shlr/java/class.c
  shlr/java/dsojson.c
  shlr/winkd/iob_net.c
Labels: API, RBin, RIO, command, panel, r2r, rafind2, visual

#18065 Fix wording and whitespacing ##doc
  doc/fortunes.tips
  libr/cons/cons.c
  libr/core/agraph.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_help.c
  libr/core/cmd_info.c
  libr/core/cmd_print.c
  libr/core/panels.c
  libr/core/visual.c
  libr/core/vmenus.c
Labels: command, panel, visual

#18076 Fix iAj and use pj in bin.c ##refactor
  libr/bin/bfile.c
  libr/bin/bin.c
  libr/bin/i/private.h
  libr/core/cbin.c
  libr/core/cmd_info.c
  test/db/cmd/cmd_i
  test/db/formats/mach0/fatmach0
Labels: RBin, command

#18079 Use r_str_get_fail() throughout codebase ##refactor
  libr/anal/fcn.c
  libr/anal/p/anal_riscv.c
  libr/anal/p/anal_x86_cs.c
  libr/asm/arch/riscv/riscv.c
  libr/asm/p/asm_dalvik.c
  libr/bin/bin.c
  libr/bin/format/mach0/dyldcache.c
  libr/bin/format/objc/mach0_classes.c
  libr/bin/p/bin_dex.c
  libr/cons/cons.c
  libr/cons/hud.c
  libr/core/anal_tp.c
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/core/cfile.c
  libr/core/cmd_debug.c
  libr/core/cmd_flag.c
  libr/core/cmd_mount.c
  libr/core/cmd_type.c
  libr/core/visual_tabs.inc
  libr/core/vmenus.c
  libr/debug/debug.c
  libr/debug/dmap.c
  libr/debug/p/native/w32.c
  libr/main/radiff2.c
  libr/main/rasm2.c
  libr/util/charset.c
  libr/util/syscmd.c
Labels: RAnal, RBin, command, radiff2, rasm2

#18084 Use pj in pdb_downloader ##refactor
  libr/bin/meson.build
  libr/bin/pdb/pdb_downloader.c
  libr/core/cmd_info.c
  libr/main/rabin2.c
  test/db/formats/pdb
Labels: RBin, command, rabin2

#18092 Add sign extension assignment operator
  libr/anal/esil.c
  test/db/esil/esil
Labels: ESIL

#18097 Fix ppc opex & use pj in RAnal plugins ##refactor
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_m68k_cs.c
  libr/anal/p/anal_mips_cs.c
  libr/anal/p/anal_ppc_cs.c
  libr/anal/p/anal_riscv_cs.c
  libr/anal/p/anal_sparc_cs.c
  libr/anal/p/anal_sysz.c
  libr/anal/p/anal_tms320c64x.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/p/anal_xcore_cs.c
  libr/include/r_util/pj.h
  test/db/anal/ppc
  test/db/anal/sysz
Labels: API, RAnal

#18081 Fix wording, whitespaces and other minor stuff ##doc
  libr/core/agraph.c
  libr/core/panels.c
  libr/core/visual.c
  libr/core/vmenus.c
Labels: command, panel, visual

#18064 Merge pse to ps
  libr/core/cconfig.c
  libr/core/cmd_print.c
  test/db/cmd/charset
Labels: API, command

#18109 Update RISC-V ESIL with sign extention operator
  libr/anal/p/anal_riscv.c
  libr/asm/arch/riscv/riscv-opc.c
  test/db/esil/riscv_64
Labels: RAnal

#18104 Fix some arm32 warnings
  libr/anal/block.c
  libr/bin/format/le/le.c
  libr/bin/p/bin_dex.c
  libr/debug/p/debug_native.c
  libr/debug/p/native/linux/linux_coredump.h
  libr/debug/p/native/linux/linux_debug.c
Labels: RBin, RDebug

#18112 Enable encoding in afbj
  libr/core/cmd_anal.c
Labels: command

#18110 Fix #18108
  libr/anal/p/anal_arm_cs.c
  libr/parse/p/parse_arm_pseudo.c
  test/db/esil/arm_32
Labels: RAnal, RParse

#18122 Rax ipaddr
  libr/anal/hint.c
  libr/main/rax2.c
  man/rax2.1
  test/db/tools/rax2
Labels: rax2

#18124 new sdb plugin: ascii
  libr/util/d/Makefile
  libr/util/d/ascii.sdb.txt
  libr/util/d/meson.build
  test/db/cmd/charset
Labels: RUtil

#18128 Import last random rizin fixes
  libr/config/callback.c
  libr/config/config.c
  libr/cons/cons.c
  libr/core/cconfig.c
  libr/core/cmd_debug.c
  libr/core/cmd_open.c
  libr/core/rtr.c
  libr/main/rahash2.c
  shlr/winkd/iob_net.c
  test/db/tools/rahash2
Labels: command, rahash2

#17770 Add a progress bar for when scripts are running
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/core.c
  libr/include/r_util/r_print.h
  libr/util/print.c
Labels: API, command

#18113 Run the build-spaces job
  .github/workflows/ci.yml
  global.mk
  libr/config.mk.tail
  libr/rules.mk
Labels: buildsystem, infrastructure

#18139 Diff stuff
  libr/main/radiff2.c
Labels: radiff2

#18143 Use pj in cbin.c ##refactor
  libr/core/cbin.c
  libr/core/cmd_info.c
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/formats/pe/versioninfo
  test/db/json/json3
  test/db/tools/rabin2
Labels: command

#18131 Create dist/ to hold all the distribution build files ##build
  .github/workflows/ci.yml
  .travis.yml
  configure-plugins
  configure.hook
  dist/alpine/APKBUILD
  dist/cydia/Makefile
  dist/cydia/deb_hand.mak
  dist/cydia/radare2-dev/CONFIG
  dist/cydia/radare2-dev/DESCR
  dist/cydia/radare2-dev/Makefile
  dist/cydia/radare2/CONFIG
  dist/cydia/radare2/DESCR
  dist/cydia/radare2/Makefile
  dist/debian/CONFIG
  dist/debian/Makefile
  dist/debian/deb_hand.mak
  dist/debian/radare2-dev/CONFIG
  dist/debian/radare2-dev/DESCR
  dist/debian/radare2-dev/Makefile
  dist/debian/radare2/CONFIG
  dist/debian/radare2/DESCR
  dist/debian/radare2/Makefile
  dist/docker/Dockerfile
  dist/docker/Dockerfile.travis
  dist/macos/Makefile
  dist/macos/build-pkg.sh
  dist/maemo/Makefile
  dist/maemo/README
  dist/maemo/deb_hand.mak
  dist/maemo/description.txt
  dist/plugins-cfg/plugins.android.cfg
  dist/plugins-cfg/plugins.bin.cfg
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.emscripten.cfg
  dist/plugins-cfg/plugins.ios-store.cfg
  dist/plugins-cfg/plugins.ios.cfg
  dist/plugins-cfg/plugins.nogpl.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.static.nogpl.cfg
  dist/plugins-cfg/plugins.tiny.cfg
  dist/snapcraft/snapcraft.yaml
  dist/vagrant/Vagrantfile
  dist/vagrant/Vagrantfile.sh
  sys/debian.sh
  sys/ios-cydia.sh
  sys/menu.sh
Labels: infrastructure

#18145 Initial implementation of r_cons_eprintf ##cons
  libr/cons/cons.c
  libr/core/cconfig.c
  libr/core/cmd.c
  libr/core/core.c
  libr/core/project.c
  libr/include/r_cons.h
  libr/util/hex.c
Labels: command
