Repository radareorg/radare2, pull requests merged in 2020-07, with the labels that each got.

#16997 Move #!v out of core (it's now available via r2pm) ##lang
  libr/lang/lang.c
  libr/lang/p/v.c
Labels: RLang

#17175 Fix #17169 - PowerPC is called PPC in r2land ##anal
  libr/anal/d/Makefile
  libr/anal/d/cc-powerpc-32.sdb.txt
  libr/anal/d/cc-powerpc-64.sdb.txt
  libr/anal/d/cc-ppc-32.sdb.txt
  libr/anal/d/cc-ppc-64.sdb.txt
  libr/anal/d/meson.build
  test/db/anal/ppc
Labels: RAnal, merge-when-green

#17184 Fix covs from 2020-06-29
  libr/bin/p/bin_dex.c
  libr/include/r_socket.h
  libr/io/p/io_debug.c
  libr/main/radare2.c
  libr/main/ragg2.c
  libr/socket/run.c
  libr/util/file.c
  libr/util/sandbox.c
Labels: RBin, RIO, radare2, ragg2

#17183 Migrate to GitHub CodeQL
  .github/workflows/codeql-analysis.yml
Labels: infrastructure

#17114 Add function for reading PDB from buffer ##bin
  libr/bin/pdb/pdb.c
  libr/include/r_pdb.h
Labels: RBin, waiting-for-author

#17067 Implement RLang.spp for templated scripting ##lang
  libr/lang/Makefile
  libr/lang/lang.c
  libr/lang/meson.build
  libr/lang/p/spp.c
  libr/lang/p/spp_r2.inc
  libr/util/meson.build
  libr/util/spp.mk
  plugins.def.cfg
  shlr/spp/Makefile
  shlr/spp/p/spp.h
  shlr/spp/r_api.c
  shlr/spp/r_api.h
  shlr/spp/spp.c
  shlr/spp/spp.h
  sys/rebuild.sh
  test/db/cmd/cmd_interpret
  test/scripts/r2test.spp
Labels: RLang, new-feature, r2r

#17191 Add reloc convert ppc
  libr/bin/p/bin_elf.inc
  test/db/formats/elf/elf-relarm
Labels: RBin

#17168 Fix supported OS list from the README
  README.md
Labels: merge-when-green

#17189 Display file associated to the current in the visual title ##visual
  libr/core/visual.c
Labels: visual

#17178 Initial support for git tags in r2pm ##r2pm
  binr/r2pm/r2pm
  libr/main/radare2.c
Labels: radare2

#17173 Fix #16781 - Add --without-dylink configure flag to disable libdl features ##build
  config-user.mk.acr
  configure
  configure.acr
  libr/include/r_userconf.h.acr
  libr/util/lib.c
  meson.build
Labels: new-feature

#16929 Add patch_reloc method for bin/coff plugin
  libr/bin/format/coff/coff.c
  libr/bin/format/coff/coff.h
  libr/bin/format/coff/coff_specs.h
  libr/bin/p/bin_coff.c
  test/db/formats/coff
Labels: RBin, waiting-for-author

#16834 Fix check in r_core_anal_fcn() ##anal
  libr/core/canal.c
  test/db/anal/x86_64
  test/db/cmd/cmd_af
Labels: waiting-for-author

#17088 Fix OOB in the Gameboy instruction decoder ##anal
  libr/anal/p/anal_gb.c
Labels: RAnal, waiting-for-author

#17171 Minor optimization in the language detection code in ELF ##bin
  libr/bin/p/bin_elf.inc
Labels: RBin, merge-when-green

#17075 Run fuzzed-tests in github actions ##tests
  .github/workflows/centos6.yml
  .github/workflows/ci.yaml
Labels: infrastructure, radare2

#17196 Support self:// for Solaris ##io
  libr/include/r_cons.h
  libr/io/p/io_self.c
  libr/socket/run.c
Labels: RIO

#17202 Fix incorrect ragg2 empty string check
  libr/main/ragg2.c
  test/db/tools/ragg2
Labels: ragg2

#17150 Add support for binr/blob and fix android build ##meson
  binr/blob/main.c
  binr/blob/meson.build
  binr/blob/meson_install_links.sh
  libr/debug/meson.build
  libr/io/meson.build
  libr/main/meson.build
  libr/util/meson.build
  meson.build
  meson_options.txt
  shlr/meson.build
  sys/sdb_version.py
Labels: waiting-for-review

#17055 Add missing ELF DT entries ##bin
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  test/db/cmd/cmd_i
  test/db/tools/r2r
  test/db/tools/rabin2
Labels: ELF

#17181 Fix r2r crash on Windows if test doesn't have CMDS
  binr/r2r/load.c
Labels: r2r

#17211 Use diff-so-fancy colors in r2r diffs
  binr/r2r/r2r.c
Labels: r2r

#17208 Rename r_core_project_save_rdb to r_core_project_save_script
  libr/core/cmd_project.c
  libr/core/project.c
  libr/include/r_core.h
Labels: command, merge-when-green

#17195 Print a warning when the entry point is automatically set by r2 ##bin
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
  test/db/cmd/cmd_i
  test/db/formats/elf/main
  test/db/formats/elf/obj
  test/db/tools/rabin2
Labels: ELF, RBin, has-test, merge-when-green

#17176 Rename asm.jmpsub to asm.sub.jmp
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_parse.h
  libr/parse/filter.c
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
  libr/parse/parse.c
  test/db/anal/arm
  test/db/anal/x86_64
  test/db/cmd/cmd_ahi
  test/db/cmd/cmd_att
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/lea_intel
  test/db/formats/elf/serial
Labels: RParse, command

#17224 Centos forward decl rbin
  .github/workflows/centos6.yml
  libr/include/r_bin.h
  libr/include/r_bin_dwarf.h
Labels: infrastructure, merge-when-green

#17225 Fix #17221 - DoS when loading a corrupted DEX ##bin
  libr/bin/p/bin_dex.c
Labels: RBin, merge-when-green

#17217 Fix #14744 - Implement /Ej and improve help message ##search
  libr/core/cmd.c
  libr/core/cmd_search.c
  libr/core/core.c
  test/db/cmd/cmd_search
Labels: command

#17218 Fix #17108 - Add JSON output for variable xrefs
  libr/core/cmd_anal.c
Labels: command

#17158 Initial implementation of io.fd plugin ##io
  libr/include/r_io.h
  libr/io/meson.build
  libr/io/p/fd.mk
  libr/io/p/io_fd.c
  libr/meson.build
  plugins.def.cfg
Labels: RIO, new-feature

#17220 Fix #17137 - Support multiple symbol servers with ';'
  libr/bin/pdb/pdb_downloader.c
  libr/core/cconfig.c
  libr/core/cmd_info.c
Labels: RBin, command, documentation, ready-to-merge

#17245 Fix compiler warnings
  libr/core/canal.c
  libr/core/cmd.c
Labels: command

#17192 Release pipeline on Github action
  .github/meson-android-aarch64.ini
  .github/meson-android-arm.ini
  .github/meson-android-x86_64.ini
  .github/vsdevenv.ps1
  .github/workflows/release.yml
  binr/blob/Makefile
  binr/preload/Makefile
  libr/Makefile
  libr/debug/p/debug_native.c
  libr/do-ar-sh
  sys/ios-cydia.sh
  sys/ios-simulator.sh
  sys/ios-static.sh
Labels: RDebug, infrastructure

#17243 Update spp to 1.2.0
  libr/util/spp.mk
  shlr/meson.build
  shlr/spp/Makefile
  shlr/spp/README.md
  shlr/spp/bin/main.c
  shlr/spp/bin/meson.build
  shlr/spp/config.mk.acr
  shlr/spp/configure
  shlr/spp/configure.acr
  shlr/spp/meson.build
  shlr/spp/p/acr.h
  shlr/spp/p/cpp.h
  shlr/spp/p/spp.h
  shlr/spp/r_api.c
  shlr/spp/r_api.h
  shlr/spp/spp.1
  shlr/spp/spp.c
  shlr/spp/spp.h
Labels: waiting-for-review

#17219 Fix #17186 - Fix unaligned PE section paddr
  libr/bin/format/pe/pe.c
  test/db/formats/pe/pe
Labels: waiting-for-review

#17204 Annotation for function name
  libr/core/cannotated_code.c
  libr/include/r_util/r_annotated_code.h
  libr/util/annotated_code.c
Labels: API

#17188 Cleanup the ELF code a bit
  libr/bin/format/elf/elf.c
  libr/bin/p/bin_elf.c
  libr/bin/p/bin_elf.inc
  libr/core/cbin.c
Labels: RBin, waiting-for-author

#17198 Fix rlang scripts and cpipe when non standard paths are used ##lang
  libr/core/cmd_hash.c
  libr/lang/lang.c
  libr/lang/p/c.c
  libr/lang/p/cpipe.c
  libr/meson.build
  test/db/archos/darwin-x64/cmd_interpreter
  test/db/archos/linux-x64/cmd_interpreter
Labels: RLang, command, waiting-for-review

#17260 Hardcode the version of meson/ninja to use to ensure consistency
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
Labels: infrastructure, merge-when-green

#17274 io_self update DragonFly support and fix one typo. ##libr
  libr/io/p/io_self.c
Labels: RIO

#17259 Check for ferror(), not only for feof()
  libr/util/file.c
Labels: blocker, regression

#17250 COFF: don't create a map if there are no imported symbols ##bin
  libr/bin/p/bin_coff.c
Labels: RBin

#17210 Deprecate `obb` command and make `obo` use the file descriptor ##bin
  libr/core/cmd_open.c
  libr/core/core.c
  test/db/cmd/cmd_open
Labels: command

#17111 DWARF - type parsing into RAnalBaseTypes and saving into sdb
  libr/anal/Makefile
  libr/anal/meson.build
  libr/anal/type.c
  libr/anal/type_dwarf.c
  libr/bin/dwarf.c
  libr/core/cbin.c
  libr/include/r_anal.h
  libr/include/r_bin_dwarf.h
  test/unit/test_dwarf_types.c
Labels: DWARF, r2r, ready-to-merge

#17148 rasign2 refactoring ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
  test/db/cmd/cmd_zignature
Labels: command, test-required, zignatures

#17287 FIX - DWARF type parsing - Improving error handling for missing attributes
  libr/anal/type_dwarf.c
Labels: DWARF

#17267 Fixes some of the issues in Travis
  .travis.yml
  libr/anal/cc.c
  libr/anal/meson.build
  libr/asm/meson.build
  libr/bin/meson.build
  libr/bp/meson.build
  libr/config/meson.build
  libr/cons/meson.build
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/cfile.c
  libr/core/cmd.c
  libr/core/meson.build
  libr/crypto/meson.build
  libr/debug/meson.build
  libr/egg/meson.build
  libr/flag/meson.build
  libr/fs/meson.build
  libr/hash/meson.build
  libr/io/meson.build
  libr/lang/meson.build
  libr/magic/meson.build
  libr/main/meson.build
  libr/parse/meson.build
  libr/reg/meson.build
  libr/search/meson.build
  libr/socket/meson.build
  libr/syscall/meson.build
  libr/util/meson.build
  meson.build
  test/db/archos/darwin-x64/cmd_interpreter
  test/db/archos/linux-x64/cmd_interpreter
Labels: command, infrastructure

#17290 Check length before disassembling cr16 instructions ##asm
  libr/anal/p/anal_cr16.c
  libr/asm/arch/cr16/cr16_disas.c
  libr/asm/arch/cr16/cr16_disas.h
  libr/asm/p/asm_cr16.c
Labels: RAnal

#17255 Detect stack vars accesses with misc regs with 'aaef' ##anal
  libr/anal/fcn.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/var.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_mips_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
  test/db/anal/arm
  test/db/anal/vars
  test/db/cmd/cmd_pd
  test/db/cmd/types
Labels: RAnal, RParse, command

#17292 DWARF - fixed OOB read and memory leak
  libr/anal/type_dwarf.c
  libr/bin/dwarf.c
Labels: DWARF

#17256 Add rebasing instructions
  CONTRIBUTING.md
Labels: merge-when-green

#17248 r2r: Use Needleman-Wunsch to diffchar
  binr/r2r/r2r.c
Labels: r2r

#17297 Fix #ideas-294 - Remove RIO.debug
  libr/core/agraph.c
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/cmd_debug.c
  libr/core/cmd_info.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/include/r_io.h
Labels: command

#17253 Bump version number to 4.6.0-git
  configure
  configure.acr
Labels: merge-when-green

#17281 Annotations for Constant Variables and Global Variables for the decompiler
  .appveyor.yml
  .github/workflows/centos6.yml
  .github/workflows/ci.yaml
  .github/workflows/newshell-treesitter-tests.yml
  .github/workflows/pr.yaml
  .github/workflows/static.yml
  .travis.yml
  libr/core/cannotated_code.c
  libr/include/r_util/r_annotated_code.h
  libr/util/annotated_code.c
Labels: API, infrastructure

#17316 Move r2r diffchar code into r_util
  binr/r2r/r2r.c
  libr/include/r_diff.h
  libr/io/io_plugin.c
  libr/util/udiff.c
Labels: r2r

#17303 Fix selecting text on Windows ##cons
  libr/cons/cons.c
  libr/cons/input.c
Labels: Windows

#17284 Fixes for jump tables
  libr/anal/block.c
  libr/anal/fcn.c
  libr/anal/jmptbl.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_anal.h
  test/db/anal/x86_32
  test/db/anal/x86_64
  test/db/cmd/cmd_af
Labels: command

#17313 Fix null deref in aao
  libr/bin/p/bin_elf.inc
  libr/core/anal_objc.c
Labels: RBin

#17315 Fix double free bug in COFF plugin ##bin
  libr/bin/p/bin_coff.c
Labels: RBin

#17301 Fix REL32 relocs in COFF ##bin
  libr/bin/p/bin_coff.c
  test/db/formats/coff
Labels: RBin

#17232 Fix #17229 - Refactor function that exports bin info add tests and fix segfault ##bin
  libr/core/cbin.c
  libr/core/cmd_flag.c
  libr/core/cmd_info.c
  libr/core/cmd_meta.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_type.c
  libr/include/r_core.h
  libr/main/rabin2.c
  libr/util/format.c
  test/db/cmd/cmd_open
Labels: command, merge-when-green, rabin2

#17318 Fix wrong function signature in io.gdb
  libr/io/p/io_gdb.c
Labels: RIO, gdb, merge-when-green

#17311 DWARF - OOB read and multiple incorrect parsing fixes
  libr/bin/dwarf.c
Labels: DWARF

#17309 Fix r_anal_get_bbaddr to include internal addrs ##anal
  libr/anal/bb.c
  test/db/cmd/cmd_seek
Labels: RAnal

#17249 Avoid sdb double headers
  Makefile
  binr/rules.mk
  libr/Makefile
  libr/anal/block.c
  libr/anal/type.c
  libr/anal/type_dwarf.c
  libr/asm/meson.build
  libr/bin/format/coff/coff.h
  libr/bin/format/pe/pe.c
  libr/bin/p/bin_coff.c
  libr/bin/p/bin_elf.inc
  libr/bin/p/bin_mach0.c
  libr/bin/p/bin_symbols.c
  libr/core/canal.c
  libr/core/cmd_debug.c
  libr/core/cmd_meta.c
  libr/core/cmd_search.c
  libr/core/cmd_type.c
  libr/core/meson.build
  libr/include/r_anal.h
  libr/include/r_cons.h
  libr/include/r_util/r_event.h
  libr/include/r_util/r_str_constpool.h
  libr/include/sdb.h
  libr/include/sdb/buffer.h
  libr/include/sdb/cdb.h
  libr/include/sdb/cdb_make.h
  libr/include/sdb/config.h
  libr/include/sdb/dict.h
  libr/include/sdb/ht_inc.h
  libr/include/sdb/ht_pp.h
  libr/include/sdb/ht_up.h
  libr/include/sdb/ht_uu.h
  libr/include/sdb/ls.h
  libr/include/sdb/sdb.h
  libr/include/sdb/sdb_version.h
  libr/include/sdb/sdbht.h
  libr/include/sdb/set.h
  libr/include/sdb/types.h
  libr/lang/meson.build
  libr/meson.build
  libr/rules.mk
  libr/socket/meson.build
  libr/util/meson.build
  libr/util/sdb.mk
  meson.build
  pkgcfg/r_util.pc.acr
  shlr/Makefile
  shlr/ar/Makefile
  shlr/bochs/Makefile
  shlr/gdb/Makefile
  shlr/grub/Makefile
  shlr/java/Makefile
  shlr/meson.build
  shlr/qnx/Makefile
  shlr/sdb.mk
  shlr/tcc/Makefile
  shlr/windbg/Makefile
  shlr/zip/Makefile
Labels: API, RBin, command

#17306 Add unit test for graph, from legacy_unit files
  test/unit/legacy_unit/util/test_graph.c
  test/unit/meson.build
  test/unit/test_graph.c
Labels: r2r

#17314 Only run aao in aaa on apple targets ##bin
  libr/core/cmd_anal.c
Labels: command

#17328 prc: Honor io.unalloc.ch when scr.color=0
  libr/core/cconfig.c
  libr/core/cmd_print.c
  test/db/cmd/cmd_print
Labels: command

#17231 Fix latest COVs, few indents and remove some dead code here and there and remove few globals
  libr/asm/Makefile
  libr/bin/p/bin_dex.c
  libr/core/Makefile
  libr/core/anal_objc.c
  libr/core/cbin.c
  libr/core/cmd_flag.c
  libr/core/fortune.c
  libr/core/visual.c
  libr/core/vmarks.c
  libr/include/r_core.h
  libr/include/r_types_base.h
  libr/lang/p/spp.c
  libr/lang/p/spp_r2.inc
  libr/main/radare2.c
  libr/util/buf.c
Labels: RBin, RLang, command, merge-when-green, radare2, visual

#17187 Speedup (10x) glibc's main arena resolution using malloc hooks ##debug
  libr/core/linux_heap_glibc.c
Labels: merge-when-green

#17279 Fix #17135 - Support Memory Tagging Extension instructions ##anal
  libr/anal/op.c
  libr/anal/p/anal_arm_hacks.inc
  libr/asm/p/asm_arm_cs.c
  libr/asm/p/asm_arm_hacks.inc
  libr/include/r_anal.h
  test/db/anal/arm64
  test/db/asm/arm_64
Labels: RAnal

#17341 Install ldid2 as well, to sign packages for cydia ##build
  .github/workflows/release.yml
Labels: infrastructure

#17331 Add `acll (class_name)` to print class information ##anal
  libr/anal/class.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
Labels: command

#17349 Add r_cmd_desc_remove API to unregister commands
  libr/core/cmd_api.c
  libr/include/r_cmd.h
  test/unit/test_cmd.c
Labels: command, r2r

#16999 Add more null checks and fix a lock when no r2 in path ##r2pipe
  libr/socket/r2pipe.c
  test/unit/meson.build
  test/unit/test_r2pipe.c
Labels: r2r, waiting-for-author

#17116 Fix debugee to inherit original environment variables ##debug
  libr/core/cmd_debug.c
  libr/include/r_io.h
  libr/include/r_util/r_sys.h
  libr/io/p/io_debug.c
  libr/main/radare2.c
  libr/socket/run.c
  libr/util/sys.c
Labels: API, RIO, command, radare2

#17310 Implement pfQ to print/format 128bit unsigned values ##print
  libr/core/cmd_print.c
  libr/util/format.c
  test/db/cmd/cmd_pf
Labels: command

#17216 Add ovf tests and more overflow macro definitions ##util
  libr/include/r_types.h
  libr/include/r_types_base.h
  libr/include/r_types_overflow.h
  libr/meson.build
  test/unit/meson.build
  test/unit/test_ovf.c
Labels: r2r

#17352 Add periodic CI job for testing also on Debian Wheezy along with Jessie
  .github/workflows/debianold.yml
Labels: buildsystem, infrastructure

#17226 Improving PDB type information parsing and saving types into SDB
  libr/anal/Makefile
  libr/anal/base_types.h
  libr/anal/meson.build
  libr/anal/type.c
  libr/anal/type_dwarf.c
  libr/anal/type_pdb.c
  libr/bin/pdb/main.c
  libr/bin/pdb/pdb.c
  libr/bin/pdb/tpi.c
  libr/bin/pdb/types.h
  libr/core/cbin.c
  libr/include/r_anal.h
  libr/include/r_pdb.h
  test/db/formats/pdb
  test/unit/test_pdb.c
Labels: PDB, RBin, r2r, waiting-for-review

#17345 Support compilation with meson on old systems like CentOS6/DebianWheezy ##build
  binr/r2r/meson.build
  libr/core/meson.build
  meson.build
  shlr/meson.build
  test/unit/meson.build
Labels: r2r

#17127 Update record & replay features to trace reg/mem changes ##debug
  libr/anal/op.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/value.c
  libr/core/cconfig.c
  libr/core/cmd_debug.c
  libr/debug/debug.c
  libr/debug/dsession.c
  libr/debug/p/native/linux/linux_debug.c
  libr/debug/p/native/linux/linux_debug.h
  libr/debug/p/native/linux/reg/linux-x64.h
  libr/debug/snap.c
  libr/debug/trace.c
  libr/include/r_anal.h
  libr/include/r_debug.h
  libr/include/r_vector.h
  shlr/ptrace-wrap/src/ptrace_wrap.c
  test/db/archos/linux-x64/dbg_cont_back
  test/db/archos/linux-x64/dbg_drt
  test/db/archos/linux-x64/dbg_step_back
Labels: RAnal, RIO, command

#17347 Improve ESIL support for ARM (clz, ldrb, sbc, tbh, tbb, it, blx, asr, lsl, cmp) ##anal
  libr/anal/p/anal_arm_cs.c
  test/db/esil/arm_16
  test/db/esil/arm_32
Labels: ARM, ESIL, RAnal

#17233 Use more size_t in the MACHO parser ##bin
  libr/bin/format/mach0/mach0.c
Labels: command, merge-when-green

#17348 Directly pass multi-lines command to newshell ##newshell
  libr/core/cmd.c
  shlr/radare2-shell-parser/corpus/simple_commands.txt
  shlr/radare2-shell-parser/grammar.js
  shlr/radare2-shell-parser/src/grammar.json
  shlr/radare2-shell-parser/src/parser.c
  test/db/anal/x86_32
  test/db/cmd/cmd_zignature
  test/db/cmd/feat_grep
Labels: command, infrastructure

#17344 Windows #!pipe: Remove busy-wait on PeekNamedPipe()
  libr/lang/p/pipe.c
Labels: RLang

#17356 Improve ARM and PPC analysis ##anal
  libr/anal/block.c
  libr/anal/fcn.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_ppc_cs.c
  libr/anal/var.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  libr/parse/p/parse_arm_pseudo.c
  test/db/anal/arm
  test/db/anal/vars
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_zignature
  test/db/cmd/types
  test/db/esil/sh
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/thumb
Labels: RAnal, RParse, command

#17373 Fix CCa help string order
  libr/core/cmd_meta.c
Labels: command

#17258 Use PJ in kj ##json
  libr/core/cmd.c
  test/db/cmd/cmd_k
Labels: command

#17324 Fix O(n) in r_io_map_get() ##io
  libr/include/r_io.h
  libr/include/r_util/r_itv.h
  libr/io/io.c
  libr/io/io_map.c
  test/unit/test_io.c
Labels: API, r2r

#17367 Add unit tests for binheap
  libr/anal/base_types.h
  libr/anal/fcn.c
  libr/anal/jmptbl.c
  libr/include/r_binheap.h
  libr/include/r_util.h
  libr/parse/p/parse_arm_pseudo.c
  libr/util/binheap.c
  test/unit/meson.build
  test/unit/test_binheap.c
Labels: RParse, r2r

#17375 Annotation for local variables
  libr/core/cannotated_code.c
  libr/include/r_util/r_annotated_code.h
  libr/util/annotated_code.c
Labels: API, test-required
