Repository radareorg/radare2, pull requests merged in 2020-11, with the labels that each got.

#17872 ~:s..e doesn't skip blank lines
  libr/cons/grep.c
  test/db/archos/darwin-x64/http
  test/db/archos/linux-x64/http
  test/db/cmd/tables
  test/db/formats/ne
  test/scripts/test-webserver.sh
Labels: r2r

#17795 Update `u?` and improve `uc?` ##cons
  libr/core/cmd.c
Labels: command

#17888 Fix printing array types inside structs in C format ##types
  libr/core/cmd_type.c
  test/db/cmd/types
Labels: command

#17886 Stop trace sessions in the doc command ##debug
  libr/core/cmd_debug.c
Labels: command

#17777 Implement `asm.pseudo` for RISC-V
  libr/include/r_parse.h
  libr/meson.build
  libr/parse/meson.build
  libr/parse/p/parse_riscv_pseudo.c
  libr/parse/p/riscv_pseudo.mk
  plugins.def.cfg
  plugins.static.cfg
  test/db/anal/riscv
  test/db/cmd/cmd_list
  test/db/formats/elf/elf-riscv64
Labels: RParse, ready-to-merge

#17871 Add MacOS Meson build job
  .github/workflows/ci.yml
Labels: infrastructure, ready-to-merge

#17889 Add r_bin_coff_obj::scn_va guards
  libr/bin/p/bin_coff.c
Labels: RBin

#17903 Fix not being able to return from debug when using WinDbg(DbgEng) ##debug
  libr/io/p/io_windbg.c
Labels: RIO, WinDbg, Windows

#17912 Revive travis s390x and fix x86.as test
  .travis.yml
Labels: infrastructure

#17899 Fix UB in serpent
  libr/crypto/p/crypto_serpent.c
  libr/crypto/p/crypto_serpent_algo.c
  libr/crypto/p/crypto_serpent_algo.h
  test/db/tools/rahash2
Labels: RCrypto

#17897 Fix raspbian32 db/anal/x86_64 sar on x86-64
  libr/anal/esil.c
Labels: ESIL

#17914 Fix arm64 format warnings
  libr/io/p/io_r2k_linux.c
Labels: RIO

#17911 Fix some LGTM dangerous functions
  libr/include/r_util/r_time.h
  libr/magic/file.h
  libr/magic/mdump.c
  libr/magic/softmagic.c
  libr/util/format.c
  libr/util/time.c
Labels: API

#17894 Fixes for variable access analysis for ARM64
  libr/anal/p/anal_arm_cs.c
  libr/anal/var.c
  libr/core/canal.c
  libr/include/r_anal.h
  test/db/anal/arm64
  test/db/anal/vars
Labels: ARM, RAnal, test-required, vars

#17932 Fix copy-paste bug in windbg_reg_read()
  libr/debug/p/debug_windbg.c
Labels: RDebug

#17934 Fix s390x rax2
  libr/main/rax2.c
Labels: rax2

#17930 Use offset info in r_type_get_struct_memb()
  libr/util/utype.c
  test/db/cmd/types
Labels: high-priority, test-required, types

#17876 Fix memleak in fcn_recurse(), r_bin_info_free(), r_core_anal_cc_init(), update_asmbits_options()
  libr/anal/fcn.c
  libr/bin/bin.c
  libr/core/cbin.c
  libr/core/cconfig.c
Labels: waiting-for-author

#17945 Fix ASAN crash when analyzing arm64
  libr/anal/p/anal_arm_cs.c
Labels: RAnal

#17923 Implement ppc assembler plugin
  .travis.yml
  Dockerfile
  libr/asm/Makefile
  libr/asm/binutils_as.c
  libr/asm/binutils_as.h
  libr/asm/meson.build
  libr/asm/p/Makefile
  libr/asm/p/asm_arm_as.c
  libr/asm/p/asm_ppc_as.c
  libr/asm/p/asm_x86_as.c
  libr/asm/p/ppc_as.mk
  libr/include/r_asm.h
  libr/meson.build
  plugins.def.cfg
  test/db/tools/rasm2
Labels: RAsm-Assembler, infrastructure, merge-when-green

#17955 Fix msvc warning LNK4217
  libr/anal/p/anal_xtensa.c
  libr/asm/arch/include/xtensa-isa.h
Labels: RAnal

#17947 Fix s390x unit/bin/test_dwarf_info
  test/unit/test_dwarf_info.c
Labels: r2r

#17956 Define calling convention for sysz
  libr/anal/d/Makefile
  libr/anal/d/cc-sysz-64.sdb.txt
  libr/anal/d/meson.build
Labels: RAnal

#17952 Optimize io.cache ##io
  libr/core/cmd_search.c
  libr/core/disasm.c
  libr/include/r_io.h
  libr/include/r_skyline.h
  libr/include/r_vector.h
  libr/io/io.c
  libr/io/io_cache.c
  libr/io/io_map.c
  libr/meson.build
  libr/util/Makefile
  libr/util/meson.build
  libr/util/skyline.c
  test/unit/test_io.c
Labels: command, r2r

#17831 Fix UB in core.java plugin
  libr/core/p/core_java.c
Labels: RCore, waiting-for-author

#17916 Use PJ in `bj` and add tests ##json
  libr/core/cmd.c
  test/db/cmd/cmd_b
  test/db/json/json2
Labels: command

#17964 Add option to log r2r test results
  .appveyor.yml
  .github/workflows/ci.yml
  binr/r2r/r2r.c
  binr/r2r/r2r.h
  binr/r2r/run.c
  test/.gitignore
  test/Makefile
Labels: infrastructure, r2r

#17969 Add unit tests for RSkyline
  test/unit/meson.build
  test/unit/test_skyline.c
Labels: r2r

#17896 Minor optimizations to cmd_print.c
  libr/core/cmd_print.c
Labels: command

#17967 Set realname for PDB flags
  libr/bin/pdb/pdb.c
  libr/util/name.c
  test/db/formats/pdb
Labels: RBin

#17974 Fix calling convention argument register usage for v850 ##anal
  libr/anal/p/anal_v850.c
Labels: RAnal

#17980 fortunes: remove nsfw and creepy fortunes
  doc/fortunes.creepy
  doc/fortunes.nsfw
  libr/core/cconfig.c
  libr/core/fortune.c
  meson.build
Labels: enhancement, refactor

#17922 Update snes_op_table.h WDM
  libr/asm/arch/snes/snes_op_table.h
Labels: test-required

#17829 Remove R_CORE_AUTOCMPLT_END and fix UAF/crash
  libr/core/cmd.c
Labels: command, waiting-for-author
