Repository radareorg/radare2, pull requests merged in 2020-06, with the labels that each got.

#16971 Fix a glitch of W + j in panels
  libr/core/panels.c
Labels: panel

#16978 elf32 pf.elf_header: w -> N2 for phnum, shnum, shstrndx, ehsize, phentsize and shentsize
  libr/bin/d/elf32
  libr/bin/format/elf/elf.c
  test/db/cmd/cmd_pf2
  test/db/cmd/cmd_pf_elf
Labels: RBin

#16984 Fix RISC-V ESIL for jal and jalr
  libr/anal/p/anal_riscv.c
Labels: RAnal

#16992 elf64 pf.elf_header: w -> N2 for phnum, shnum, shstrndx, ehsize, phentsize and shentsize
  libr/bin/d/elf64
  libr/bin/format/elf/elf.c
  libr/util/format.c
  test/db/cmd/cmd_pf_elf
  test/db/cmd/print
Labels: RBin

#16959 Fix crash and warnings when opening an iOS/arm64e DSC
  libr/bin/format/mach0/mach0.c
  libr/core/cbin.c
  test/db/formats/mach0/swift
Labels: MACH0, crash, regression

#16998 r_cons: Save and restore the active code page on Windows
  binr/r2r/r2r.c
  libr/cons/cons.c
  libr/include/r_cons.h
  libr/util/sandbox.c
  libr/util/sys.c
Labels: r2r

#16991 Update tree-sitter to 0.16.8
  .github/workflows/centos6.yml
  shlr/Makefile
  shlr/meson.build
  shlr/radare2-shell-parser/package-lock.json
  shlr/radare2-shell-parser/package.json
  shlr/radare2-shell-parser/src/parser.c
  shlr/radare2-shell-parser/src/tree_sitter/parser.h
  shlr/tree-sitter/lib/include/tree_sitter/parser.h
  shlr/tree-sitter/lib/src/array.h
  shlr/tree-sitter/lib/src/language.c
  shlr/tree-sitter/lib/src/language.h
  shlr/tree-sitter/lib/src/node.c
  shlr/tree-sitter/lib/src/parser.c
  shlr/tree-sitter/lib/src/query.c
  shlr/tree-sitter/lib/src/subtree.c
  test/unit/test_list.c
Labels: infrastructure, r2r

#16996 Correct ESIL branch and load instructions for RISC-V
  libr/anal/p/anal_riscv.c
  test/db/esil/riscv_32
Labels: RAnal

#16990 Enable unit tests compilation by default in meson
  libr/include/r_vector.h
  meson_options.txt
  test/unit/minunit.h
  test/unit/test_addr_interval.c
  test/unit/test_annotated_code.c
  test/unit/test_buf.c
  test/unit/test_event.c
  test/unit/test_intervaltree.c
  test/unit/test_vector.c
Labels: r2r, waiting-for-review

#16980 x86 pseudo for LEA is wrong
  libr/parse/p/parse_x86_pseudo.c
  test/db/anal/x86_64
Labels: RParse, test-required

#17005 Add ESIL flag update for adds and subs instructions
  libr/anal/p/anal_arm_cs.c
  test/db/esil/arm_16
  test/db/esil/arm_32
Labels: RAnal

#17008 Fix leaks detected by coverity.
  libr/core/cmd_anal.c
  libr/core/cmd_mount.c
  libr/core/cmd_open.c
Labels: command

#17006 Fix runaway scrolling in Visual mode after mashing down movement key on Windows Terminal
  libr/core/visual.c
Labels: visual

#17001 Fix Missing Exports and Imports on ELF
  libr/bin/format/elf/elf.c
  test/db/anal/arm64
Labels: merge-when-green, test-required

#16976 Fix in a dwarf line information parsing implementation
  libr/bin/dwarf.c
  test/db/formats/mangling/bin
Labels: DWARF, waiting-for-review

#17004 Fix elf reloc crash
  libr/bin/format/elf/elf.c
  libr/bin/p/bin_elf.inc
  test/db/formats/elf/elf-relro
Labels: RBin

#17024 r2r: Use git diff on Windows
  binr/r2r/r2r.c
  libr/include/r_diff.h
  libr/util/udiff.c
Labels: r2r

#17022 Fix truncated output in r_print_format_length and cleanup
  libr/include/r_util/r_print.h
  libr/util/str.c
Labels: API

#17027 Kill tinyrange api because it's not used anywhere
  libr/include/r_util/r_range.h
  libr/util/Makefile
  libr/util/meson.build
  libr/util/tinyrange.c
  test/unit/meson.build
  test/unit/test_range.c
Labels: API, r2r

#17041 r2r: Remove diff header and colorize @@ line
  binr/r2r/r2r.c
Labels: r2r

#17040 Update SDB with boolified SdbForeachCallback
  libr/anal/anal.c
  libr/anal/class.c
  libr/anal/sign.c
  libr/config/config.c
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_meta.c
  libr/core/cmd_type.c
  libr/core/vmenus.c
  libr/debug/dsignal.c
  libr/flag/zones.c
  libr/include/sdb/sdb.h
  libr/io/p_cache.c
  libr/syscall/syscall.c
  shlr/sdb/src/diff.c
  shlr/sdb/src/disk.c
  shlr/sdb/src/main.c
  shlr/sdb/src/query.c
  shlr/sdb/src/sdb.c
  shlr/sdb/src/sdb.h
Labels: API, command

#17020 Fix #4056 - rename DEPS to R2DEPS
  .gitignore
  libr/Makefile
  libr/anal/Makefile
  libr/asm/Makefile
  libr/bin/Makefile
  libr/bp/Makefile
  libr/config.mk.tail
  libr/config/Makefile
  libr/cons/Makefile
  libr/core/Makefile
  libr/core/p/java.mk
  libr/crypto/Makefile
  libr/crypto/p/aes.mk
  libr/crypto/p/serpent.mk
  libr/debug/Makefile
  libr/debug/p/bochs.mk
  libr/debug/p/qnx.mk
  libr/egg/Makefile
  libr/flag/Makefile
  libr/fs/Makefile
  libr/hash/Makefile
  libr/io/Makefile
  libr/lang/Makefile
  libr/magic/Makefile
  libr/main/deps.mk
  libr/parse/Makefile
  libr/reg/Makefile
  libr/rules.mk
  libr/search/Makefile
  libr/socket/Makefile
  libr/syscall/Makefile
  sys/build.sh
Labels: RCore, RCrypto, RDebug, ready-to-merge

#17031 Fix signedness issue in the DWARF line parser on ARM64
  libr/bin/dwarf.c
  libr/include/r_bin_dwarf.h
Labels: DWARF, ready-to-merge

#16977 Bestmatch ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
  test/db/cmd/cmd_zignature
Labels: command, waiting-for-author

#17044 Check node_string length before subtracting 2 from strlen
  libr/core/cmd.c
Labels: command

#17050 Fix a minor glitch
  libr/core/panels.c
Labels: panel

#17032 Add missing reloc definitions for C-SKY, RISCV and AARCH64 ##bin
  libr/bin/format/elf/Makefile
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/glibc_elf.h
  libr/bin/p/bin_elf.inc
Labels: RBin

#17012 Fix crash in r_anal_block_chop_noreturn
  libr/anal/block.c
  test/unit/test_anal_block.c
Labels: r2r

#17059 r2r: Don't trim whitespace from diff lines
  binr/r2r/load.c
  binr/r2r/r2r.c
  binr/r2r/run.c
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API, r2r

#17060 Fix all the coverities detected last month
  binr/r2r/r2r.c
  libr/anal/sign.c
  libr/anal/var.c
  libr/asm/arch/wasm/wasm.c
  libr/bin/format/elf/elf.c
  libr/bin/format/mach0/mach0.c
  libr/bin/format/pyc/marshal.c
  libr/bin/pdb/pdb_downloader.c
  libr/core/anal_tp.c
  libr/main/radare2.c
  libr/main/rasign2.c
  libr/socket/socket_http.c
Labels: RBin, r2r, radare2

#17057 Fix a minor glitch
  libr/core/panels.c
Labels: panel

#17061 DWARF 4 and 5 line parsing additions ##bin
  libr/bin/dwarf.c
  libr/include/r_bin.h
  libr/include/r_bin_dwarf.h
Labels: DWARF, ready-to-merge

#17052 Fix NULL deref and heap-buffer-overflow
  libr/core/cmd_anal.c
  libr/core/cmd_meta.c
Labels: command

#17021 Fixed hang when analysing objc binaries
  libr/core/anal_objc.c
  test/db/formats/mach0/objc
Labels: test-required, waiting-for-author

#17025 Check for return values in about ~50 method calls
  binr/r2r/r2r.c
  binr/rahash2/rahash2.c
  libr/asm/p/asm_arm_as.c
  libr/asm/p/asm_x86_as.c
  libr/asm/p/asm_x86_nasm.c
  libr/bin/bin.c
  libr/bin/dbginfo.c
  libr/bin/p/bin_dbginfo_dex.c
  libr/bin/p/bin_dbginfo_elf.c
  libr/bin/p/bin_dbginfo_elf64.c
  libr/cons/Makefile
  libr/cons/cons.c
  libr/cons/cpipe.c
  libr/cons/dietline.c
  libr/cons/input.c
  libr/cons/meson.build
  libr/core/core.c
  libr/debug/dsession.c
  libr/debug/p/native/linux/linux_debug.c
  libr/fs/shell.c
  libr/include/r_bin.h
  libr/include/r_cons.h
  libr/io/p/io_default.c
  libr/lang/p/pipe.c
  libr/main/radare2.c
  libr/main/radiff2.c
  libr/main/rahash2.c
Labels: RBin, RIO, RLang, r2r, radare2, radiff2, rahash2

#17065 Bugfix: Zignatures corrupt JSON output in types
  libr/anal/sign.c
  test/db/cmd/cmd_zignature
Labels: waiting-for-author

#17064 Support arbitrary length identifiers in Mach-O
  libr/bin/format/mach0/mach0.c
  libr/bin/format/mach0/mach0.h
  libr/bin/p/bin_mach0.c
  test/db/formats/mach0/mach0
Labels: RBin, merge-when-green

#17066 r2r: Support char diffing
  binr/r2r/r2r.c
  libr/include/r_cons.h
Labels: API, r2r, ready-to-merge

#16924 First version of stale file to automatically close old issues
  .github/stale.yml
Labels: waiting-for-author

#17063 Adding support for BA2 ELF binaries ##bin
  libr/asm/arch/include/elf/common.h
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf_specs.h
Labels: RAnal, waiting-for-author

#17080 Fix #17062 - segfault analyzing gameboy rom
  libr/anal/var.c
Labels: merge-when-green

#17078 Improve RISC-V analysis for compressed instructions
  libr/anal/p/anal_riscv.c
  test/db/anal/riscv
  test/db/formats/elf/elf-riscv64
Labels: RAnal

#16847 Do not print malformed table if no columns are set
  libr/util/table.c
Labels: waiting-for-review

#17095 Handle # in quoted strings in newshell
  shlr/radare2-shell-parser/corpus/quoted_args.txt
  shlr/radare2-shell-parser/grammar.js
  shlr/radare2-shell-parser/src/grammar.json
  shlr/radare2-shell-parser/src/parser.c
Labels: merge-when-green

#16782 Generate help automatically ##newshell
  libr/core/cmd.c
  libr/core/cmd_anal.c
  libr/core/cmd_api.c
  libr/core/cmd_cmp.c
  libr/core/cmd_debug.c
  libr/core/cmd_egg.c
  libr/core/cmd_eval.c
  libr/core/cmd_flag.c
  libr/core/cmd_help.c
  libr/core/cmd_info.c
  libr/core/cmd_log.c
  libr/core/cmd_macro.c
  libr/core/cmd_meta.c
  libr/core/cmd_mount.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_project.c
  libr/core/cmd_quit.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_type.c
  libr/core/cmd_write.c
  libr/core/cmd_zign.c
  libr/include/r_cmd.h
  shlr/radare2-shell-parser/corpus/simple_commands.txt
  shlr/radare2-shell-parser/src/scanner.c
  test/unit/test_cmd.c
Labels: command, newshell, r2r

#17058 Add ESIL flag update for LSL, LSR, ADC + correction on ADDS + test added
  libr/anal/p/anal_arm_cs.c
  test/db/esil/arm_16
  test/db/esil/arm_32
Labels: RAnal, waiting-for-review

#17077 Fix C99 construct without -c99
  libr/bin/dwarf.c
Labels: DWARF, waiting-for-author

#17087 r2r: For diffchar, use --word-diff=porcelain instead
  binr/r2r/r2r.c
Labels: r2r

#17018 Heap glibc resolve main_arena using symbol
  libr/core/linux_heap_glibc.c
  libr/debug/debug.c
  libr/include/r_debug.h
Labels: heap

#16965 DWARF unit testing
  test/unit/meson.build
  test/unit/test_dwarf.c
Labels: DWARF, r2r

#17053 Fix Thumb symbols bitness for Mach-O ##bin
  libr/bin/format/mach0/mach0.c
  libr/bin/format/mach0/mach0.h
  libr/bin/p/bin_mach0.c
  test/db/anal/mach0
  test/db/formats/mach0/mach0
Labels: RBin, waiting-for-review

#17007 DWARF .debug_info parsing fix and improvement
  libr/bin/dbginfo.c
  libr/bin/dwarf.c
  libr/core/cbin.c
  libr/include/r_bin_dwarf.h
  test/db/cmd/cmd_flags
  test/db/cmd/cmd_i
  test/db/cmd/dwarf
  test/db/cmd/lea_intel
  test/db/formats/mangling/bin
  test/unit/meson.build
  test/unit/test_dwarf.c
  test/unit/test_dwarf_info.c
Labels: DWARF, r2r, ready-to-merge

#17106 Remove constr.c
  libr/include/r_util.h
  libr/include/r_util/r_constr.h
  libr/meson.build
  libr/util/constr.c
  libr/util/meson.build
Labels: API

#17098 Add Debian OLD (Debian 8 Jessie)
  .github/workflows/debianold.yml
  shlr/Makefile
Labels: RAnal, RDebug, buildsystem, heap, infrastructure

#17073 Fix invalid json output for drtj command
  libr/core/cmd_debug.c
  libr/debug/dreg.c
Labels: command, json

#17083 Fix non-working json tests in r2r ##test
  binr/r2r/run.c
Labels: json, r2r

#17113 Fix missing SEH info and infinite loop for x64 PE
  libr/bin/p/bin_pe64.c
  test/db/formats/pe/seh_x64
Labels: PE, RBin, high-priority, test-required

#16974 Fix non-working drt all command
  libr/debug/dreg.c
  libr/include/r_debug.h
  test/db/archos/linux-x64/dbg_drt
Labels: merge-when-green, ready-to-merge, waiting-for-review

#17115 Improve analysis of RISC-V compressed instructions and update instruction format
  libr/anal/p/anal_riscv.c
  libr/asm/arch/riscv/riscv-opc.c
  test/db/anal/riscv
  test/db/esil/riscv_32
Labels: RAnal

#17123 Fix wrong type warning
  libr/main/radare2.c
Labels: radare2, ready-to-merge

#17120 fix leak in radiff2 on windows
  libr/main/radiff2.c
Labels: radiff2

#17128 Fix a bug in the menu
  libr/core/panels.c
Labels: panel

#17139 Fix Windows #!pipe
  libr/lang/p/pipe.c
Labels: RLang

#17144 Add missing help message for V&
  libr/core/visual.c
Labels: visual

#17146 Fix '.?e ?e msg' - interpret ? subcommands ##shell
  libr/core/cmd.c
  test/db/cmd/cmd_interpret
Labels: command

#17149 Add command to load all info for lib ##debug
  libr/core/cmd_debug.c
  test/db/archos/linux-x64/dbg_dmi
Labels: command

#17147 DWARF - coverity fixes
  libr/bin/dwarf.c
Labels: DWARF

#17117 Haiku build fix proposal ##sys
  configure
  configure.acr
  libr/include/r_types.h
  libr/io/p/io_gprobe.c
  libr/util/sys.c
  shlr/heap/include/r_jemalloc/internal/jemalloc_internal_decls.h
Labels: RIO

#17157 Fix the last 2 covs on pe64
  libr/bin/p/bin_pe64.c
Labels: RBin

#17159 Fix CID 1408682 1429931 1429932 1429933 1429934
  libr/bin/format/mach0/mach0.c
  libr/core/linux_heap_jemalloc.c
  libr/core/panels.c
Labels: panel

#17145 Fix some GCC 10.1 warnings
  libr/anal/p/anal_arm_gnu.c
  libr/anal/p/anal_pyc.c
  libr/anal/p/anal_tms320_c55x_plus.c
  libr/core/cmd_debug.c
Labels: RAnal, command

#17126 Bail early if path string is an empty string
  libr/main/rabin2.c
  libr/main/radare2.c
  libr/main/radiff2.c
  libr/main/rafind2.c
  libr/main/ragg2.c
  libr/main/rahash2.c
  test/db/tools/r2
  test/db/tools/rabin2
  test/db/tools/radiff2
  test/db/tools/rafind2
  test/db/tools/ragg2
  test/db/tools/rahash2
Labels: rabin2, radare2, radiff2, rafind2, ragg2, rahash2

#17090 Fix #2818 - Fix proper chopping of trailing spaces after comments
  libr/core/cmd.c
  test/db/cmd/cmd_search
Labels: command, waiting-for-author

#17164 haiku further porting ##libr
  libr/io/p/io_self.c
  libr/util/thread.c
Labels: RIO

#17154 Optimize and cleanup the dex_get_proto function ##bin
  libr/bin/p/bin_dex.c
  test/db/formats/dex
Labels: RBin

#17163 Fix all the covs (memleaks) reported the 15th of this month
  libr/asm/p/asm_arm_as.c
  libr/core/core.c
  libr/main/radare2.c
Labels: radare2

#17143 Implement rafind2 -F to find the contents of the file ##search
  libr/include/r_util/r_hex.h
  libr/main/rafind2.c
  libr/util/hex.c
  man/rafind2.1
  test/db/tools/rafind2
  test/scripts/keyword
Labels: API, r2r, rafind2

#17177 Update *bsd badges
  README.md
Labels: merge-when-green

#17151 Fixes for windows debugger
  libr/core/cfile.c
  libr/debug/dmap.c
  libr/debug/p/debug_native.c
  libr/debug/p/native/maps/windows_maps.c
  libr/debug/p/native/windows/windows_debug.c
  libr/debug/p/native/windows/windows_debug.h
  libr/io/p/io_debug.c
  libr/io/p/io_w32dbg.c
  shlr/w32dbg_wrap/include/w32dbg_wrap.h
  shlr/w32dbg_wrap/src/w32dbg_wrap.c
Labels: RDebug, RIO, Windows

#17156 #!pipe: Fix stray command output on Windows and add r2pipe.py test
  .appveyor.yml
  .builds/freebsd.yml
  .builds/openbsd.yml
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  libr/lang/p/pipe.c
  test/db/cmd/cmd_pipe
  test/scripts/get-funcs.py
Labels: RLang, infrastructure, r2r

#17153 Fix #17125 - Invalid DEX section size calculation issue ##bin
  libr/bin/p/bin_dex.c
  test/db/formats/dex
Labels: RBin

#17182 Check some OS 3 times a week
  .github/workflows/centos6.yml
  .github/workflows/debianold.yml
Labels: infrastructure
