Repository radareorg/radare2, pull requests merged in 2020-09, with the labels that each got.

#17570 Fix wrong calling convention in io_windbg.c
  libr/io/p/io_windbg.c
Labels: RIO

#17436 ESIL signedness and other extensions ##emu ##anal
  libr/anal/esil.c
  libr/anal/p/anal_arm_cs.c
  libr/anal/p/anal_x86_cs.c
  test/db/cmd/cmd_aea
  test/db/cmd/cmd_json
  test/db/cmd/cmd_pae
  test/db/cmd/cmd_pdr
  test/db/cmd/cmd_print
  test/db/cmd/midbb
  test/db/esil/esil
  test/db/esil/x86_64
Labels: ESIL, RAnal

#17565 Fix test_idstorage mu_assert warnings
  test/unit/test_idstorage.c
Labels: r2r

#17564 Fixes for old glibc (Debian Etch)
  libr/debug/p/native/linux/linux_debug.c
  libr/debug/p/native/linux/linux_ptrace.h
Labels: Linux OS, RDebug

#17537 Don't add already existing parent class ##anal
  libr/anal/class.c
  libr/core/cmd_anal.c
Labels: command

#17503 Fix big endian DWARF parsing ##bin
  libr/anal/dwarf_process.c
  libr/bin/dwarf.c
  test/db/cmd/dwarf
  test/unit/test_dwarf.c
  test/unit/test_dwarf_info.c
Labels: DWARF, r2r

#17568 Allow to test windows build with "*windows*" PRs ##build
  .github/workflows/ci.yml
Labels: infrastructure

#17575 Fix a bunch of warnings
  libr/anal/esil.c
  libr/anal/p/anal_arm_cs.c
  test/unit/test_idpool.c
  test/unit/test_idstorage.c
Labels: ESIL, RAnal, merge-when-green, r2r

#17538 Fix GP calculation when there are multiple entries ##anal
  libr/core/cmd_anal.c
  test/db/cmd/cmd_eval
Labels: command

#17545 Add zb score threshold variable ##signatures
  libr/core/cconfig.c
  libr/core/cmd_zign.c
  test/db/cmd/cmd_zignature
Labels: command, merge-when-green

#17557 Fix ESIL movi.n immediate value parsing ##emu
  libr/anal/p/anal_xtensa.c
  test/db/esil/xtensa_32
Labels: ESIL, RAnal

#17562 Fix the translation error of MIPS SRA instruction to ESIL ##anal
  libr/anal/p/anal_mips_cs.c
Labels: RAnal, merge-when-green

#17520 Do not return a buffer when slurping a empty file
  libr/util/file.c
  test/unit/test_util.c
Labels: merge-when-green, r2r

#17451 Fix 2 last critic error lgtm
  libr/core/core.c
  libr/socket/socket_http_server.c
Labels: merge-when-green

#17370 Split cmd_write function to make it easier transition to argv style
  libr/core/cmd_write.c
  test/db/cmd/cmd_w
Labels: command

#17582 Add support for TIMEOUT key for cmd tests ##r2r
  binr/r2r/load.c
  binr/r2r/r2r.c
  binr/r2r/r2r.h
  binr/r2r/run.c
  test/README.md
  test/db/formats/pe/65535sects
Labels: merge-when-green, r2r

#17586 Fix step over for windbg plugin
  libr/debug/p/debug_windbg.c
Labels: RDebug

#17592 Fix #17590 - Fix invalid deref in print_types_format
  libr/bin/pdb/pdb.c
  libr/util/list.c
Labels: RBin

#17600 Implement aof comment to filter esil expression using the DFG API ##esil
  libr/core/cmd_anal.c
  test/db/cmd/cmd_ao
Labels: command

#17597 Minor RAnalBaseType new/free refactoring
  libr/anal/dwarf_process.c
  libr/anal/type.c
  libr/anal/type_pdb.c
  libr/include/r_anal.h
  test/unit/test_anal_types.c
Labels: r2r

#17602 Fix null deref in fuzzed xtr after 080bf49
  libr/bin/p/bin_xtr_fatmach0.c
Labels: RBin

#17441 Escape environment vars in the default rarun profile
  libr/include/r_socket.h
  libr/main/radare2.c
  libr/socket/run.c
Labels: radare2

#17566 Extend ESIL VM's stack size from 32 to 256.
  libr/core/cconfig.c
Labels: ESIL, RAnal

#17578 Fix ESIL sign extension operator bug ##anal
  libr/anal/esil.c
  test/db/esil/esil
Labels: ESIL

#17461 Variable printf arguments: let compiler help with formatting
  libr/include/r_cons.h
  libr/include/r_core.h
  libr/include/r_egg.h
  libr/include/r_socket.h
  libr/include/r_types.h
  libr/include/r_util/r_assert.h
  libr/include/r_util/r_log.h
  libr/include/r_util/r_str.h
  libr/include/r_util/r_sys.h
Labels: API, merge-when-green

#17587 Fix ELF R_X86_64_PLT32 relocation entries patching ##bin
  libr/bin/bobj.c
  libr/bin/p/bin_bflt.c
  libr/bin/p/bin_elf.inc
  libr/core/core.c
  libr/core/disasm.c
  libr/include/r_bin.h
  test/db/cmd/cmd_pd
  test/db/formats/coff
  test/db/formats/elf/reloc
Labels: RBin

#17603 Create new GitHub workflow for continuous build ##build
  .github/upload.sh
  .github/workflows/continuous.yml
  .travis.yml
Labels: infrastructure

#17595 Improve mips.cs esil ##anal
  libr/anal/p/anal_mips_cs.c
  test/db/esil/mips_32
Labels: RAnal

#17608 Remove r_sign_item_dup ##signatures
  libr/anal/sign.c
  libr/include/r_sign.h
Labels: optimization, zignatures

#17473 Bring merge sort and insertion sort cmp function semantics together
  libr/anal/reflines.c
  libr/cons/grep.c
  libr/core/agraph.c
  libr/core/cconfig.c
  libr/reg/double.c
  libr/reg/reg.c
  libr/reg/rvalue.c
  libr/util/list.c
  libr/util/range.c
  shlr/sdb/meson.build
  shlr/sdb/src/ls.c
  test/db/anal/vars
  test/db/anal/x86_64
  test/db/archos/linux-x64/dbg_drt
  test/db/archos/linux-x64/dbg_step_back
  test/db/cmd/cmd_zignature
  test/db/cmd/types
Labels: r2r

#17615 Fix #17558 - Honor hex.offset in prc, pxAv and p=e ##print
  libr/core/cmd_print.c
  libr/util/print.c
  test/db/cmd/cmd_print
Labels: command

#17612 Implement ?== operator to compare strings ##shell
  libr/core/cmd_help.c
  test/db/esil/x86_32
Labels: command

#17620 Remove an unnecessary blank space in `c?` ##cons
  libr/core/cmd_cmp.c
Labels: command

#17630 Fix crash when running iA while head_flag is not defined
  libr/bin/bin.c
Labels: merge-when-green

#17594 Fix asan r2pipe test by updating libasan and using LD_PRELOAD
  .github/workflows/ci.yml
  binr/r2r/run.c
  libr/lang/p/pipe.c
  libr/reg/arena.c
  test/db/cmd/cmd_pipe
  test/unit/Makefile
  travis-script
Labels: RLang, infrastructure, merge-when-green, r2r

#17624 Implement RCons.setTitle() for Windows and add ?et command ##cons
  libr/cons/cons.c
  libr/core/cmd_help.c
Labels: command

#17634 Add r_strbuf_initf() ##util
  libr/anal/dwarf_process.c
  libr/include/r_util/r_strbuf.h
  libr/util/strbuf.c
  test/unit/test_strbuf.c
Labels: API, r2r

#17601 Fix MSVC template demangling with ref to mangled symbol
  libr/bin/mangling/microsoft_demangle.c
  test/db/formats/mangling/mangling
Labels: RBin, merge-when-green

#17607 Fix multiple bugs in matching ##signatures
  libr/core/cmd_zign.c
Labels: command, ready-to-merge, zignatures

#17462 Add minimal armv7 and aarch32 VFP and NEON support ##esil
  libr/anal/p/anal_arm_cs.c
  test/db/anal/arm
  test/db/cmd/cmd_pde
  test/db/esil/arm_32
Labels: RAnal, ready-to-merge

#17628 Parse ansi->html properly in pdJ ##disasm
  libr/cons/cons.c
  libr/core/cmd_print.c
  libr/core/disasm.c
  libr/include/r_cons.h
  test/db/cmd/cmd_pdj
Labels: command

#17585 Show ESIL execution cost information in `ao` and `aoj` ##anal
  libr/anal/esil.c
  libr/core/cmd_anal.c
  test/db/anal/arm
  test/db/anal/arm64
  test/db/anal/tms320.c64x_32
  test/db/anal/x86_16
  test/db/anal/x86_32
  test/db/anal/x86_64
  test/db/cmd/cmd_ao
  test/db/esil/x86_64
Labels: ESIL, command, ready-to-merge

#17618 Implement arcc command and get_cc_from_regprofile ##types
  libr/anal/cc.c
  libr/anal/dwarf_process.c
  libr/core/cmd_anal.c
  libr/include/r_reg.h
  libr/reg/profile.c
  libr/reg/reg.c
  test/db/cmd/cmd_ara
Labels: command, ready-to-merge

#17639 Set RPATH/RUNPATH on r2 libs too if local
  binr/blob/meson.build
  binr/r2agent/meson.build
  binr/r2r/meson.build
  binr/rabin2/meson.build
  binr/radare2/meson.build
  binr/radiff2/meson.build
  binr/rafind2/meson.build
  binr/ragg2/meson.build
  binr/rahash2/meson.build
  binr/rarun2/meson.build
  binr/rasign2/meson.build
  binr/rasm2/meson.build
  binr/rax2/meson.build
  libr/anal/meson.build
  libr/asm/meson.build
  libr/bin/meson.build
  libr/bp/meson.build
  libr/config/meson.build
  libr/cons/meson.build
  libr/core/meson.build
  libr/crypto/meson.build
  libr/debug/meson.build
  libr/egg/meson.build
  libr/flag/meson.build
  libr/fs/meson.build
  libr/hash/meson.build
  libr/io/meson.build
  libr/lang/meson.build
  libr/magic/meson.build
  libr/main/meson.build
  libr/parse/meson.build
  libr/reg/meson.build
  libr/search/meson.build
  libr/socket/meson.build
  libr/syscall/meson.build
  libr/util/meson.build
  meson.build
  test/unit/meson.build
Labels: r2r, rabin2, radare2, radiff2, rafind2, ragg2, rahash2, rarun2, rasm2, rax2

#17645 Implement touch command ##shell
  libr/core/cmd_type.c
  libr/util/file.c
  test/db/cmd/shell
Labels: command

#17599 Add API for getting Atomic and Typedef Types and remove broken !size
  libr/anal/d/types-darwin.sdb.txt
  libr/anal/type.c
  libr/core/cmd_type.c
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_tc
  test/db/cmd/cmd_to
  test/db/cmd/types
  test/unit/meson.build
  test/unit/test_anal_types.c
  test/unit/test_dwarf_integration.c
  test/unit/test_pdb.c
  test/unit/test_sdb.h
Labels: RAnal, command, r2r

#17326 Make root a argv RCmdDesc and adapt to form results ##newshell
  libr/anal/flirt.c
  libr/cons/cons.c
  libr/core/Makefile
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/cmd_helps.c
  libr/core/cmd_helps.h
  libr/core/cmd_write.c
  libr/core/meson.build
  libr/include/r_cmd.h
  libr/include/r_util/r_str.h
  libr/util/str.c
  test/db/cmd/cmd_help
  test/db/cmd/cmd_w
  test/unit/test_cmd.c
Labels: API, command, newshell, r2r, ready-to-merge

#17629 Fix #17351: Let external scanner parse #! cmd identifier as well ##newshell
  shlr/radare2-shell-parser/corpus/comments.txt
  shlr/radare2-shell-parser/grammar.js
  shlr/radare2-shell-parser/src/grammar.json
  shlr/radare2-shell-parser/src/parser.c
  shlr/radare2-shell-parser/src/scanner.c
Labels: ready-to-merge

#17643 Move coverage testing to meson-gcc-newshell-tests
  .github/workflows/ci.yml
Labels: command, infrastructure

#17621 Refactor Labels out of SDB ##anal
  libr/anal/function.c
  libr/anal/labels.c
  libr/core/cmd_flag.c
  libr/core/core.c
  libr/core/disasm.c
  libr/include/r_anal.h
  libr/parse/filter.c
  test/db/cmd/cmd_flags
  test/unit/test_anal_function.c
Labels: command, r2r

#17658 Move arp gdb into arpg ##debug
  libr/core/cmd_debug.c
  libr/core/core.c
  libr/include/r_reg.h
  libr/reg/profile.c
  test/db/cmd/cmd_arp
  test/scripts/gdb-reg-profile-invalid.txt
  test/scripts/gdb-reg-profile.txt
Labels: command, r2r

#17651 Fix spacing bugs when parsing the calling convention signatures
  libr/anal/cc.c
  libr/core/cmd_type.c
  libr/include/r_anal.h
  test/db/cmd/cmd_tcc
Labels: command

#17660 Correctly check whether esil_str is available
  libr/core/cmd_anal.c
Labels: command, ready-to-merge

#17662 Match PR coverage number with master.
  .github/workflows/ci.yml
Labels: infrastructure

#17640 Use sdb_set instead of sdb_querys.
  libr/core/cmd_anal.c
  test/db/cmd/dwarf
Labels: command

#17664 Fix anal_mips_cs some compile warning
  libr/anal/p/anal_mips_cs.c
Labels: RAnal

#17443 Implement `rj` ##json
  libr/core/cmd.c
Labels: command, ready-to-merge

#17667 Fix glitch when asm.hint.pos < 1 in visual ARM ##disasm
  libr/core/disasm.c
Labels: ready-to-merge

#17632 Implement r_str_cat and other random cleanups
  libr/core/disasm.c
  libr/include/r_util/r_str.h
Labels: API, ready-to-merge

#17670 Fix RAnalFunction leaking imports
  libr/anal/function.c
Labels: ready-to-merge

#17669 Kill RAnal.sdb_fcnsign
  libr/anal/anal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
Labels: command

#17653 Fix zig add type ##signatures
  libr/core/cmd_zign.c
  test/db/cmd/cmd_zignature
Labels: command, ready-to-merge

#17613 Implement tms320.pseudo to fix another arm64 test ##asm
  libr/include/r_parse.h
  libr/meson.build
  libr/parse/meson.build
  libr/parse/p/parse_tms320_pseudo.c
  libr/parse/p/tms320_pseudo.mk
  plugins.bin.cfg
  plugins.def.cfg
  plugins.emscripten.cfg
  plugins.nogpl.cfg
  test/db/anal/tms320.c64x_32
Labels: RParse, ready-to-merge

#17673 Fix leak in dwarf processing.
  libr/core/cbin.c
  libr/core/disasm.c
  libr/fs/p/fs_io.c
  libr/fs/p/fs_r2.c
  libr/include/r_util/r_str.h
  libr/util/str.c
Labels: API, Rfs

#17682 Fix `rj` and add tests ##json
  libr/core/cmd.c
  test/db/cmd/cmd_r
  test/db/json/json4
Labels: command

#17555 Improve mips.gnu disassembly set ISA according to ELF file ##asm
  libr/asm/arch/mips/gnu/mips-dis.c
  libr/asm/p/asm_mips_gnu.c
  libr/bin/bin.c
  libr/bin/format/elf/elf.c
  libr/bin/format/elf/elf.h
  libr/bin/p/bin_elf.inc
  libr/core/cbin.c
  libr/include/r_bin.h
  test/db/cmd/cmd_i
  test/db/cmd/print
Labels: MIPS, RBin

#17683 Do not let ASAN crash on large allocations
  .github/workflows/ci.yml
Labels: infrastructure

#17688 Implement tcc-* commmand to unload all calling conventions ##anal
  libr/core/cmd_type.c
  test/db/cmd/cmd_tcc
Labels: command

#17691 Rename r_sign_anal_additem to r_sign_add_item and add r_sign_get_item ##signatures
  libr/anal/sign.c
  libr/core/cmd_zign.c
  libr/include/r_sign.h
  test/unit/meson.build
  test/unit/test_sign.c
Labels: command, r2r

#17686 Fix rasm2 -L bits field for 4 and 0-bit plugins ##asm
  libr/main/rasm2.c
  test/db/tools/rasm2
Labels: rasm2, ready-to-merge

#17696 Add support for additional cmd_identifiers ##newshell
  shlr/radare2-shell-parser/corpus/special_commands.txt
  shlr/radare2-shell-parser/src/scanner.c
Labels: merge-when-green

#17697 Test =h on Linux
  .github/workflows/ci.yml
  test/db/archos/linux-x64/http
  test/scripts/test-webserver.sh
Labels: infrastructure, r2r

#17694 Support demangling MSVC managed pointer types ##bin
  libr/bin/mangling/microsoft_demangle.c
  test/db/formats/mangling/mangling
Labels: RBin

#17692 Add Global Import API
  libr/anal/anal.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
  test/db/cmd/cmd_aii
Labels: command

#17665 x86 cmp/sub: Properly generate esil for bitsize of 64 ##anal
  libr/anal/p/anal_x86_cs.c
  test/db/cmd/cmd_print
Labels: RAnal, ready-to-merge

#17465 Fix 3 lgtm warnings
  libr/bin/pdb/pdb.c
  libr/core/cmd_print.c
  libr/include/r_util/r_time.h
  libr/util/format.c
  libr/util/time.c
Labels: API, RBin, command, ready-to-merge

#17489 Fix #17353 - Remove duplicated implementation of uleb128 in mach0 ##bin
  libr/anal/dwarf_process.c
  libr/bin/dwarf.c
  libr/bin/format/mach0/mach0.c
  libr/bin/p/bin_dex.c
  libr/include/r_util/r_uleb128.h
  libr/util/uleb128.c
  test/db/formats/mach0/leb128
  test/unit/test_uleb128.c
Labels: API, MACH0, RBin, r2r, refactor

#17700 Fix scrolling with L in mini graph mode ##visual
  libr/core/agraph.c
Labels: ready-to-merge

#17672 Prep work to allow compiling and loading calling convention in extras
  Makefile
  libr/core/cbin.c
  libr/include/r_userconf.h.acr
  libr/util/file.c
  meson.build
Labels: ready-to-merge

#17685 Always register the derived CC from the reg profile ##anal
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/main/radare2.c
  test/db/cmd/cmd_afcl
  test/db/cmd/cmd_ara
  test/db/cmd/cmd_k
  test/db/cmd/cmd_tcc
Labels: radare2, ready-to-merge

#17680 Implement ab./ablj/ablj - list all the basic blocks ##anal
  libr/core/cmd_anal.c
  test/db/cmd/cmd_ab
Labels: command, ready-to-merge

#17663 Automatically group sub-commands ##newshell
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/cmd_helps.c
  libr/core/cmd_helps.h
  libr/core/cmd_write.c
  libr/include/r_cmd.h
  test/unit/test_cmd.c
Labels: command, r2r

#17687 Implement the v850.pseudo RParser plugin ##disasm
  libr/include/r_parse.h
  libr/parse/p/parse_v850_pseudo.c
  libr/parse/p/v850_pseudo.mk
  plugins.def.cfg
  test/db/anal/v850
Labels: RParse, ready-to-merge, test-required

#17705 Fix race condition in http server test
  test/scripts/test-webserver.sh
Labels: r2r

#17712 Remove sig_t because not used
  libr/util/sys.c
Labels: merge-when-green

#17714 Unbreak =h tests
  test/db/archos/darwin-x64/http
  test/db/archos/linux-x64/http
  test/scripts/test-webserver.sh
Labels: r2r

#17703 Purge Pins on r_anal_purge ##anal
  libr/anal/anal.c
  libr/include/r_anal.h
Labels: ready-to-merge

#17715 Kill RIODesc.obsz ##io
  libr/core/cmd_info.c
  libr/include/r_io.h
  libr/io/p/io_default.c
  test/db/archos/darwin-x64/cmd_i
  test/db/archos/linux-x64/cmd_i
  test/db/cmd/cmd_i
  test/db/cmd/cmd_open
  test/db/cmd/feat_grep
  test/db/formats/elf/elf-riscv64
  test/db/formats/smd
Labels: RIO, command

#17717 Rename `asm.var.sub` to `asm.sub.var` ##cons
  libr/core/cconfig.c
  libr/core/cmd_anal.c
  libr/core/disasm.c
  libr/include/r_parse.h
  libr/parse/p/parse_arm_pseudo.c
  libr/parse/p/parse_mips_pseudo.c
  libr/parse/p/parse_wasm_pseudo.c
  libr/parse/p/parse_x86_pseudo.c
  libr/parse/parse.c
  test/db/cmd/cmd_pd
  test/db/formats/elf/mips
Labels: RParse, command

#17731 Fix format-security build warning ##bin (#17730)
  libr/bin/format/mach0/mach0.c
Labels: merge-when-green

#17725 Fix inverted help for /ai and /aI ##doc (#17719)
  libr/core/cmd_search.c
Labels: command, merge-when-green

#17729 Do partial =h test on Windows (without /cmd and using curl)
  binr/r2r/r2r.h
  libr/core/cconfig.c
  test/db/archos/windows-x64/http
  test/scripts/test-webserver.bat
Labels: API, r2r

#17726 Split GROUP RCmdDesc and regular ones ##newshell
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/cmd_helps.c
  libr/core/cmd_helps.h
  libr/core/cmd_write.c
  libr/include/r_cmd.h
  test/unit/test_cmd.c
Labels: command, r2r

#17704 Add setters for CC self and error and Tests ##anal
  libr/anal/anal.c
  libr/anal/cc.c
  libr/include/r_anal.h
  test/db/cmd/cmd_tcc
  test/unit/meson.build
  test/unit/test_anal_cc.c
Labels: r2r

#17509 WIP: FIX ARM IT block (disass + anal)
  libr/anal/p/anal_arm_cs.c
  libr/asm/p/asm_arm_cs.c
Labels: ARM, RAnal

#17732 Unwrap quoted strings when passing args to newer handlers ##newshell
  libr/core/cmd.c
  libr/util/str.c
  test/db/cmd/cmd_pd
  test/db/cmd/feat_quote
  test/db/cmd/regexp
Labels: command

#17736 Prevent multiple threads from opening new files at the same time ##r2r
  binr/r2r/run.c
Labels: r2r
