Repository radareorg/radare2, pull requests merged in 2021-02, with the labels that each got.

#18144 Implement esil syscalls #18029 ##anal
  libr/anal/Makefile
  libr/anal/esil.c
  libr/anal/esil_handler.c
  libr/anal/esil_interrupt.c
  libr/anal/esil_sources.c
  libr/anal/meson.build
  libr/anal/p/anal_x86_cs.c
  libr/core/cmd_anal.c
  libr/include/r_anal.h
Labels: ESIL, command

#18371 Esil Plugin Management ##Esil
  libr/anal/Makefile
  libr/anal/anal.c
  libr/anal/esil.c
  libr/anal/esil_plugin.c
  libr/anal/meson.build
  libr/anal/p/esil_dummy.c
  libr/core/libs.c
  libr/include/r_anal.h
Labels: ESIL

#17890 Add x86-16 tests for the operand-size prefix
  test/db/asm/x86_16
Labels: waiting-for-author
