Repository radareorg/radare2, pull requests merged in 2021-01, with the labels that each got.

#17396 Fix rabin2 -Pj and idpij (json PDB output format) ##bin
  libr/bin/bfile.c
  libr/bin/pdb/pdb.c
  libr/core/cbin.c
  libr/core/cmd_info.c
  libr/core/cmd_open.c
  test/db/cmd/cmd_idp
  test/db/tools/rabin2
Labels: PDB, RBin, command

#18146 Fix #18136 - Remove RBin.is_debugger and use cfg.debug
  libr/bin/bfile.c
  libr/core/agraph.c
  libr/core/canal.c
  libr/core/cconfig.c
  libr/core/cmd_debug.c
  libr/core/cmd_info.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/include/r_bin.h
  libr/include/r_core.h
  test/unit/test_bin.c
Labels: command

#18151 Fix s390x rax2 -I & memleak
  libr/main/rax2.c
  libr/util/sys.c
  test/db/tools/rax2
Labels: rax2

#18153 Fix memleak in test_anal_block & test_io
  libr/cons/cons.c
  libr/cons/line.c
  libr/io/io_cache.c
  test/unit/test_anal_block.c
  test/unit/test_io.c
Labels: r2r

#18156 Use pj in cmd_info.c ##refactor
  libr/bin/bin.c
  libr/bin/pdb/pdb_downloader.c
  libr/bin/pdb/pdb_downloader.h
  libr/core/cbin.c
  libr/core/cmd_debug.c
  libr/core/cmd_info.c
  libr/include/r_bin.h
  libr/include/r_core.h
  libr/main/rabin2.c
Labels: RBin, command, rabin2

#18159 Add internal help for `arS` and `drS` ##docs
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
Labels: command

#18158 Fix ecn
  libr/core/cmd_eval.c
  test/db/cmd/cmd_ec
Labels: command

#18162 Fix memleak in test_buf & test_cmd
  libr/core/cmd_api.c
  test/unit/test_buf.c
  test/unit/test_cmd.c
Labels: command, r2r

#18164 Fix memleak in test_str & test_debug_session
  libr/debug/dsession.c
  test/unit/test_str.c
Labels: r2r

#18168 Fix kj segfault
  libr/core/cmd.c
Labels: command

#18163 Use pj in cmd_search.c##refactor
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_magic.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/include/r_core.h
  test/db/cmd/cmd_rop
  test/db/cmd/cmd_search
  test/db/cmd/cmd_search_hit
Labels: command

#18167 Implement print disasm until optype ##print
  libr/core/cmd_print.c
Labels: command

#18169 Fix memleak in test_dwarf & test_skyline
  test/unit/test_dwarf.c
  test/unit/test_skyline.c
Labels: r2r

#18172 Fix s390x test_agraph
  libr/core/agraph.c
  test/unit/meson.build
  test/unit/test_id_storage.c
Labels: r2r

#18173 Fix s390x test_buf
  libr/include/r_util/r_buf.h
  libr/util/buf_sparse.c
Labels: API

#18177 Use pj in cmd_anal.c ##refactor
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_debug.c
  libr/debug/dreg.c
  libr/include/r_core.h
  libr/include/r_debug.h
  test/db/formats/mach0/swift
  test/db/json/json1
Labels: command

#18178 Remove core.file ##refactor
  libr/core/canal.c
  libr/core/cbin.c
  libr/core/cconfig.c
  libr/core/cfile.c
  libr/core/cio.c
  libr/core/cmd.c
  libr/core/cmd_debug.c
  libr/core/cmd_info.c
  libr/core/cmd_open.c
  libr/core/cmd_print.c
  libr/core/cmd_search.c
  libr/core/cmd_seek.c
  libr/core/cmd_write.c
  libr/core/core.c
  libr/core/p/core_java.c
  libr/core/rtr.c
  libr/core/rtr_http.c
  libr/core/visual.c
  libr/core/yank.c
  libr/include/r_core.h
  libr/main/rabin2.c
  libr/main/radare2.c
Labels: RCore, command, rabin2, radare2, visual

#18180 Fix and refactor the ar:// plugin ##io
  libr/io/p/io_ar.c
  shlr/ar/ar.c
  shlr/ar/ar.h
  test/db/formats/ar
Labels: RIO, test-required

#18187 Use pj in `dmj`, `dmhj` & fix regex r2r ##refactor
  binr/r2r/r2r.c
  libr/core/linux_heap_glibc.c
  libr/debug/dmap.c
  libr/util/regex/regcomp.c
  test/db/json/json2
Labels: RUtil, r2r

#18193 Prj tcc fix
  libr/core/canal.c
  libr/core/cmd_type.c
  libr/core/project.c
  test/db/cmd/cmd_tcc
Labels: command

#18198 FIx #18171 - Support RNum for syscall-name in `asl` command ##anal
  libr/core/cmd_anal.c
  test/db/esil/x86_64
Labels: command

#18199 Honor mapaddr for malloc in o* ##projects
  libr/core/cmd_open.c
  test/db/cmd/cmd_project
Labels: command

#18196 Add arall:// and liball:// #IO plugin
  libr/io/io.c
  libr/io/p/io_ar.c
  shlr/ar/ar.c
  shlr/ar/ar.h
Labels: RIO

#18201 Fix `doo` segfault
  libr/core/cmd_open.c
Labels: command

#18179 Esil float
  libr/anal/esil.c
  test/db/esil/esil
Labels: ESIL

#18165 Fix the CI badge
  .github/workflows/ci.yml
  .github/workflows/continuous.yml
  .github/workflows/labeler.yml
  .github/workflows/newshell-treesitter-tests.yml
  README.md
  binr/blob/Makefile
  dist/plugins-cfg/plugins.static.nogpl.cfg
  dist/rpm/radare2.spec
  libr/anal/rtti_msvc.c
  libr/anal/var.c
  libr/bin/format/mach0/mach0_specs.h
  libr/core/cconfig.c
  libr/core/citem.c
  libr/core/visual.c
  libr/include/r_util/r_sys.h
  libr/util/sandbox.c
  libr/util/sys.c
  meson.build
  shlr/Makefile
  shlr/sdb/src/Makefile
  shlr/sdb/src/types.h
  sys/build-shlib.sh
  sys/ios-cydia.sh
  sys/ios-static.sh
  sys/meson.py
  sys/sdk.sh
  sys/static.sh
  sys/tiny.sh
  sys/wasm.sh
Labels: API, infrastructure, visual

#18239 fix x86-cs rep/repe/repne esil expressions ##esil ##anal
  libr/anal/p/anal_x86_cs.c
Labels: ESIL, RAnal

#18251 Fix x86_cs cmpbs esil ##anal ##esil
  libr/anal/p/anal_x86_cs.c
Labels: ESIL, RAnal

#18031 Move test/scripts into test/bins/src and fix broken tests
  test/db/archos/darwin-x64/http
  test/db/cmd/cmd_arp
  test/db/cmd/cmd_interpret
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pipe
  test/db/cmd/cmd_print
  test/db/cmd/cmd_px
  test/db/formats/smd
  test/db/tools/rafind2
  test/scripts/gdb-reg-profile-invalid.txt
  test/scripts/gdb-reg-profile.txt
  test/scripts/get-funcs.py
  test/scripts/keyword
  test/scripts/r2test.spp
Labels: r2r

#16986 radiff2: drop MODE_DIST
  libr/include/r_diff.h
  libr/main/radiff2.c
  libr/util/udiff.c
  man/radiff2.1
  test/unit/test_diff.c
Labels: radiff2, waiting-for-author

#18277 Some memory access sanitization for anal_x86.cs ##emu
  libr/anal/p/anal_x86_cs.c
Labels: ESIL

#18304 Remove dead function signatures ##IO
  libr/include/r_io.h
Labels: RIO
