Repository radareorg/radare2, pull requests merged in 2022-04, with the labels that each got.

#19929 Honor escaping semicolons in macro definitions ##shell
  libr/core/cmd.c
  libr/core/cmd_api.c
  libr/core/cmd_help.c
  libr/core/cmd_macro.c
  libr/core/cmd_print.c
  libr/core/cmd_write.c
  libr/include/r_core.h
  libr/util/str.c
  libr/util/str_trim.c
  test/db/cmd/cmd_afn
  test/db/cmd/cmd_macros
  test/db/cmd/cmd_pd
  test/db/cmd/feat_quote
Labels: crash, cmdbreak

#19947 RBinFile size must be ut64, not signed int to open > 2GB files ##bin
  libr/include/r_bin.h
Labels: abibreak

#19953 Add RAnal.use in RAnalBind to use it from RAsm ##anal
  libr/anal/anal.c
  libr/anal/p/anal_loongarch_gnu.c
  libr/asm/asm.c
  libr/include/r_anal.h
Labels: abibreak

#19720 CMDBREAK: Use wx+ instead of wx;s+16 in pc* command ##print
  libr/util/print_code.c
  test/db/cmd/cmd_pc
Labels: cmdbreak

#19842 Refactor, fix, and test `dd` command
  libr/core/cmd_debug.c
  libr/core/core.c
  libr/debug/ddesc.c
  libr/debug/p/native/linux/linux_debug.c
  libr/include/r_debug.h
  test/db/archos/linux-x64/cmd_dd
Labels: RDebug, cmdbreak

#19946 Fix #7094 - Add direction information in xrefs ##anal
  libr/anal/fcn.c
  libr/anal/jmptbl.c
  libr/anal/sign.c
  libr/anal/xrefs.c
  libr/core/canal.c
  libr/core/cmd_anal.c
  libr/core/cmd_search.c
  libr/core/disasm.c
  libr/core/p/core_sixref.c
  libr/core/visual.c
  libr/include/r_anal.h
  test/db/anal/arm
  test/db/anal/arm-esil
  test/db/anal/arm64
  test/db/anal/avr
  test/db/anal/dalvik
  test/db/anal/emu
  test/db/anal/loongarch
  test/db/anal/mach0
  test/db/anal/mips
  test/db/anal/vars
  test/db/anal/x86_32
  test/db/anal/x86_64
  test/db/cmd/cmd_af
  test/db/cmd/cmd_agc
  test/db/cmd/cmd_agf
  test/db/cmd/cmd_ax
  test/db/cmd/cmd_pd
  test/db/cmd/cmd_pd2
  test/db/cmd/cmd_pdr
  test/db/cmd/cmd_project
  test/db/cmd/cmd_px
  test/db/cmd/cmd_seek
  test/db/cmd/cmd_zignature
  test/db/cmd/dwarf
  test/db/cmd/midbb
  test/db/cmd/noreturn
  test/db/extras/anal/hexagon
  test/db/formats/coff
  test/db/formats/elf/elf-riscv64
  test/db/formats/elf/vax
  test/db/formats/mach0/objc
  test/db/formats/mangling/bin
Labels: RAnal, ready-to-merge, abibreak
