Repository radareorg/radare2, pull requests merged in 2022-05, with the labels that each got.

#19697 ABIBREAK: Initial import of the RThreadChannel API ##core
  libr/core/cmd.c
  libr/core/core.c
  libr/include/r_core.h
  libr/include/r_th.h
  libr/include/r_util/r_log.h
  libr/util/Makefile
  libr/util/meson.build
  libr/util/print.c
  libr/util/thread_chan.c
  libr/util/thread_lock.c
Labels: abibreak

#20101 Introduce RAnalPlugin.jmpmid and replace some is_x86 ##anal
  libr/anal/bb.c
  libr/anal/fcn.c
  libr/anal/p/anal_gb.c
  libr/anal/p/anal_i8080.c
  libr/anal/p/anal_x86_cs.c
  libr/anal/p/anal_z80.c
  libr/include/r_anal.h
Labels: RAnal

#19660 Fix #13196 - Honor SHARED in configure-plugins ##build
  configure-plugins
  dist/plugins-cfg/plugins.bin.cfg
  dist/plugins-cfg/plugins.def.cfg
  dist/plugins-cfg/plugins.emscripten.cfg
  dist/plugins-cfg/plugins.mingw.cfg
  dist/plugins-cfg/plugins.nocs.cfg
  dist/plugins-cfg/plugins.nogpl.cfg
  dist/plugins-cfg/plugins.static.cfg
  dist/plugins-cfg/plugins.termux.cfg
  dist/plugins-cfg/plugins.wasi.cfg
  libr/io/Makefile
  libr/io/p/shm.mk
  mk/gcc.mk
Labels: ready-to-merge
